<div class="view-asset">
	<div class="view-asset-info">
		<label>Asset Tag: </label><%=asset_tag%>
	</div>
	<div class="view-asset-info">
		<label>Item Code: </label><%=item_code%>
	</div>
	<div class="clr"></div>
</div>
<div class="view-asset">
	<div class="view-asset-info">
		<label>Brand: </label><%=brand%>
	</div>
	<div class="view-asset-info">
		<label>Serial Number: </label><%=serial_num%>
	</div>
	<div class="clr"></div>
</div>
<div class="view-asset">
	<div class="view-asset-info">
		<label>Status: </label><%=status%>
	</div>
	<div class="view-asset-info">
		<label>Location: </label><%=location%>
	</div>
	<div class="clr"></div>
</div>
<div class="view-asset">
	<div class="view-asset-info">
		<label>Owner: </label><%=owner%>
	</div>
	<div class="clr"></div>
</div>
<div class="view-asset">
	<div class="view-asset-info-description">
		<label>Description: </label><%=description%>
	</div>
	<div class="clr"></div>
</div>