<div class="container-header">Asset Lists</div>
<div class="container-contents">
	<div class="asset-transreturn">
		<a href="#/assets/asset-list" class="asset-transfer">Transfer Assets</a>
		<a href="#/assets/asset-list" class="asset-return">Return Assets</a>
	</div>
	<div class="header-for-list-display">
		<div class="asset-list-head-assettag">Asset Tag</div>
		<div class="asset-list-head-itemcode">Item Code</div>
		<div class="asset-list-head-brand">Brand</div>
		<div class="asset-list-head-description">Description</div>
		<div class="asset-list-head-serialnum">Serial Number</div>
	</div>
	<%_.each(asset_list, function(asset) {%>
		<div id="asset-list-content" class="asset-list-content <%=asset.asset_id%>">
			<div class="asset-list-content-assettag"><%=asset.asset_tag%></div>
			<div class="asset-list-content-itemcode"><%=asset.item_code%></div>
			<div class="asset-list-content-brand"><%=asset.brand%></div>
			<div class="asset-list-content-description"><%=asset.description%></div>
			<div class="asset-list-content-serialnum"><%=asset.serial_num%></div>
			<div class="clr"></div>
		</div>
	<% }); %>
	<% if( pagination != "" ) { %>
		<div class="page-pagination"><%=pagination%></div>
	<% } %>
	<div class="clr"></div>
</div>
