<div class="container-header">
	Asset Return
</div>
<div class="container-contents">
	<div class="header-for-list-display">
		<div class="asset-return-status-header">Status</div>
		<div class="asset-return-asset-tag-header">Asset Tag</div>
		<div class="asset-return-brand-header">Brand</div>
		<div class="asset-return-date-transfered-header">Date Returned</div>
		<div class="asset-return-date-recieved-header">Recieved</div>
		<div class="asset-return-date-approval-header">Approval</div>
	</div>
	<div class="asset-returned-list">
		<%_.each(result, function(result) { %>
			<div class="asset-return-list-field">
				<div class="asset-return-status-content">
					<% var fin_appr = result.fin_appr; %>
					<% if( fin_appr.toLowerCase() === "rejected" ) { %>
						<label>Rejected</label>
					<% } else if( fin_appr.toLowerCase() === "cancelled" ) { %>
						<label>Cancelled</label>
					<% } else if( fin_appr.toLowerCase() === "pending" ) { %>
						<a href="#/assets/returned" class="cancel-asset-return <%=result.tracker_id%>:<%=result.parent_tracker%>">Cancel</a>
					<% } else if( fin_appr.toLowerCase() === "approved" ) { %>
						<label>Approved</label>
					<% } %>
				</div>
				<div class="asset-return-asset-tag-content"><%=result.asset_tag%></div>
				<div class="asset-return-brand-content"><%=result.brand%></div>
				<div class="asset-return-date-transfered-content"><%=result.date%></div>
				<div class="asset-return-date-recieved-content">
					<% if( result.received != 0 || result.received != '0' ) { %>
						Received
					<% } else { %>
						Not yet
					<% } %>
				</div>
				<div class="asset-return-date-approval-content"><%=result.fin_appr%></div>
				<div class="clr"></div>
			</div>
		<div class="clr"></div>
		<% }); %>
		<% if(pagination != "") { %>
			<div class="page-pagination"><%=pagination%></div>
		<% } %>
	</div>
</div>