<%_.each(result, function(result) {%>
	<div class="asset-transfer-list-field">
		<div class="asset-transfer-status-content">
			<% var fin_appr = result.fin_appr; %>
			<% if( fin_appr.toLowerCase() === "rejected" ) { %>
				<label>Rejected</label>
			<% } else if( fin_appr.toLowerCase() === "cancelled" ) { %>
				<label>Cancelled</label>
			<% } else if( fin_appr.toLowerCase() === "pending" ) { %>
				<a href="#/assets/transfered" class="cancel-asset-transfer <%=result.tracker_id%>">Cancel</a>
			<% } else if( fin_appr.toLowerCase() === "approved" ) { %>
				<label>Approved</label>
			<% } %>
		</div>
		<div class="asset-transfer-asset-tag-content"><%=result.asset_tag%></div>
		<div class="asset-transfer-brand-content"><%=result.brand%></div>
		<div class="asset-transfer-transfer-to-content"><%=result.transfer_to%></div>
		<div class="asset-transfer-date-transfered-content"><%=result.date%></div>
		<div class="asset-transfer-date-recieved-content">
			<% if( result.received != 0 || result.received != '0' ) { %>
				Received
			<% } else { %>
				Not yet
			<% } %>
		</div>
		<div class="asset-transfer-date-approval-content"><%=result.fin_appr%></div>
		<div class="clr"></div>
	</div>
	<div class="clr"></div>
<% }); %>
<% if(pagination != "") { %>
	<div class="page-pagination">
		<%=pagination%>
	</div>
<% } %>