@CHARSET "UTF-8";
.container-activeform{
	width: 100%;  
/*        height: 400px;*/
	margin: 0 auto;
/*	border:1px solid  #ccc;*/
/*	background:white;*/
}
.content-headers{
    width: 100%;
    height: 30px;
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    
}

.content-form{
    width: 100%;
}
.red{
    color:red;
}
.mL{
    margin-left: 5px;
}
.mL2{
    margin-left: 20px;
}
.mT{
    margin-top: 5px;
}
.mT2{
    margin-top: 15px;
}
.mB{
    margin-bottom: 10px;
}
.fL{
    float: left;
}
.fR{
    float: right;
}
.note{
    font-size: 12px;
    font-style: italic;
    color: grey;
}
.header-font{
    font-size: 20px;
    font-weight: bold;
    color:white;
    font-family: verdana;
    text-shadow: 1px 1px 1px #333;    
}

.input-name{
   
    background-color: #f6fcfe;
    width: 250px;
    height: 20px;
    border: 1px solid #ccc;
}
.div-width{
    width: 350px;
}
.div-width2{
    width: 200px;
}
.input-id{
    width: 150px;
    height: 20px;
    background-color: #f6fcfe;
    border: 1px solid #ccc;    
}

.type-request{
    width:100%;
    height: 30px;
/*    border:1px solid grey;*/
}

.text-area{
    resize: none;
    width: 700px;
    background-color: #f6fcfe;
    border: 1px solid #ccc;
}

.confirm-footer{
    width: 95%;
  
/*    border: 1px solid grey;*/
}

.width{
    width:100%;
  
}

.lesson-plan{
    margin: 0 auto;
    border: 1px solid grey;
    width: 100%;
    padding: 10px;
}
.line-div{
    width:100%;
    opacity:.3;
    height: 1px;
    background-color: grey;
}
.name-student{
    margin: 0 auto;
    width: 95%;
    height: 400px;
    border: 1px solid grey;
}

.asset-select-asset{ padding: 5px 0; margin: 5px 0;}
.asset-checkbox{ padding: 5px 0; margin: 5px 0;}