/* 
    Document   : litebox
    Created on : April 25, 2012 2:41 PM
    Author     : celi-Alvin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
div.facebox-bg {
    opacity: 0.4; width: 100%; height: 100%; position: absolute;
    z-index: 1001; top: 0; left: 0; display: none; background-color:#000;
}
div.facebox{
    position: absolute; display: none; top: 20%; left: 35%; right: 15%;
    margin-left: -200px; z-index: 1002;
/*    background:#0066cb;
    background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#0099ff), to(#0066cb));*/
    -moz-border-radius:5px 5px 5px 5px; -webkit-border-radius:5px 5px 5px 5px;
    border:0px; color:#fff; font-family:Arial, Helvetica, sans-serif;
/*    -moz-box-shadow:0px 2px 3px #999;
    -webkit-box-shadow:0px 2px 3px #999; box-shadow:0px 2px 3px #999;*/
}