/* 
    Document   : printbox.css
    Created on : Jul 27, 2012, 11:03:08 AM
    Author     : celi-andro
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {  
    display: block;
}
/*OR larrrys place*/
     .paybox{
     background-color: white;border: 0px solid #d4dae8;color: #000;
     padding: 5px;font-size: 13px;width: 500px;
     margin: 0 auto
     }
     .pap{
         border: 1px solid #000;width: 500px;text-align: center;font-size: 12px;
     }
     div.paybox table{margin: 1px solid #000; width: 500px;}
     #celi{font-size: 30px;font-weight: bold;}
     #celi1{font-size: 12px; color: #0036cb; font-weight: bold;}
     .address{font-size: 11px;}
     .to-right {float:right;}
     .to-left {float:left;}
     .sales-date1{border-bottom:1px solid #000;}
     .spacer_or{padding-top: 50px; border-bottom: 1px solid #000; font-weight:bold;}
     .spacer_or__{border-bottom: 1px solid #000;border-bottom-width: 100px;}
     .spacer_or_{padding-top: 50px;}
     .spacer_or1{padding-top: 20px;}
     .spacer_or1__{padding-top: 24px;}
     .spacer_or3{padding-top: 10px;}
     .OR{padding-top:100px;padding-bottom: 10px;}
 /*end or larry place*/
