<div class="content-header">List View</div>
<div class="content">
	<div class="create-guest-student">
		<a href="#/task/hotel-list/guest" id="lists-guest-accom" class="css3-a ">Guest List</a>
		<a href="#/task/hotel-list/student" id="lists-students-accom" class="css3-a create-guest-student-active">Student List</a>
		<div class="clr"></div>
	</div>
     <div class="h-viewbdN">
        <label>Search Name:</label>
        <label><input type="text" class="u2" name="studentName"/></label>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="glist"></div>
    </div>
	<div class="gs-contents">
		<ul class="oaccordion-list">
			<% _.each(result, function(r) { %>
				<li>
					<div class="oalist-head oa-head">
						<a id="1" href="#/task/hotel-list/student">+</a>
                                                <span class=""></span>Name: <%=r.english_name%>
						<span class="oalist-room-type">Room Number: <%=r.room_no%> - <%=r.room_type%></span>
						<span>Date Booked: <%=r.date_added%></span>
                                                <div class="cicog">
                                                    Check-in: <%=r.checkin_date%> - Check-out: <%=r.checkout_date%>
                                                </div>
						<div class="clr"></div>
					</div>
					<div class="oa-content glf-c">
						<div class="glf">
							<label>Last Name: </label> <%=r.lastname%>
						</div>
						<div class="glf">
							<label>First Name: </label> <%=r.firstname%>
						</div>
						<div class="glf">
							<label>English Name: </label> <%=r.english_name%>
						</div>
						<div class="glf">
							<label>Gender: </label> <%=r.gender%>
						</div>
						<div class="glf">
							<label>Age: </label> <%=r.age%>
						</div>
						<div class="glf">
							<label>Number of Weeks: </label> <%=r.numberof_weeks%>
						</div>
						<div class="glf">
							<label>Email Add: </label> <%=r.email%>
						</div>
						<div class="glf">
							<label>Mobile No: </label> <%=r.mobile_no%>
						</div>
						<div class="glf">
							<label>Student No: </label> <%=r.student_no%>
						</div>
						<div class="glf">
							<label>Course: </label> <%=r.course%>
						</div>
						<div class="glf">
							<label>Date of Birth: </label> <%=(r.dateof_birth !== '01/01/1970') ? r.dateof_birth : ""%>
						</div>
						<div class="glf">
							<label>Nationality: </label> <%=r.nationality%>
						</div>
						<div class="glf">
							<label>Passport No: </label> <%=r.passport_no%>
						</div>
						<div class="glf">
							<label>Expiry Date: </label> <%=(r.p_expiry_date !== '01/01/1970') ? r.p_expiry_date : ""%>
						</div>
						<div class="clr"></div>
						<div class="glfm">
							Place of Issue: 
							<label><%=r.p_placeof_issue%></label>
							<div class="clr"></div>
						</div>
						<div class="clr"></div>
						<div class="glf">
							<label>Date of Issue: </label> <%=(r.p_dateof_issue !== '01/01/1970') ? r.p_dateof_issue : ""%>
						</div>
						<div class="glf">
							<label>&nbsp; </label>
						</div>
						<div class="glf">
							<label>Visa Expiry: </label> <%=(r.visa_expiry !== '01/01/1970') ? r.visa_expiry : ""%>
						</div>
						<div class="glf">
							<label>SSP Validity: </label> <%=(r.ssp_validity !== '01/01/1970') ? r.ssp_validity : ""%>
						</div>
						<div class="clr"></div>
						<div class="glfm">
							Address Abroad: 
							<label><%=r.address_abroad%></label>
							<div class="clr"></div>
						</div>
						<div class="clr"></div>
						<div class="glfm glf-SBD">
							Name of Guardian: 
							<label><%=r.nameof_guardian%></label>
							<div class="clr"></div>
						</div>
						<div class="clr"></div>
						<div class="glf">
							<label>Room Number: </label> <%=r.room_no%>
						</div>
						<div class="glf">
							<label>&nbsp; </label>
						</div>
						<div class="glf">
							<label>Book ID: </label> <%=r.booking_id%>
						</div>
						<div class="glf">
							<label>Booking Agent: </label> <%=r.booking_agent%>
						</div>
						<div class="glf">
							<label>Check-in Date: </label> <%=(r.checkin_date.toLowerCase() !== '01/01/1970 @ 08:00 am') ? r.checkin_date.toLowerCase() : ""%>
						</div>
						<div class="glf">
							<%var sendoff_time = r.sendoff_time.toLowerCase().split(" @ ");%>
							<label>Send Off Time: </label> <%=(r.sendoff_time.toLowerCase() !== '01/01/2012 @ 12:00 am') ? sendoff_time[1] : ""%>
						</div>
						<div class="glf">
							<label>Check-out Date: </label> <%=(r.checkout_date.toLowerCase() !== '01/01/1970 @ 08:00 am') ? r.checkout_date.toLowerCase() : ""%>
						</div>
						<div class="glf">
							<%var pickup_time = r.pickup_time.toLowerCase().split(" @ ");%>
							<label>Pick Up Time: </label> <%=(r.pickup_time.toLowerCase() !== '01/01/2012 @ 12:00 am') ? pickup_time[1] : ""%>
						</div>
						<div class="clr"></div>
						<div class="glfm">
							Comments: 
							<label><%=r.comments%></label>
							<div class="clr"></div>
						</div>
						<div class="clr"></div>
						<div class="glf">
							<label>Status: </label> <%=r.accom_status%>
						</div>
						<div class="glf">
							<label>Added by: </label> <%=r.added_by%>
						</div>
						<div class="glf glf-NBB">
							<label>Date Added: </label> <%=r.date_added%>
						</div>
						<div class="glf glf-NBB">
							<input type="button" class="sli-edit css3-btton" id="<%=r.raid%>:<%=r.sapid%>:<%=r.said%>" value="Edit"/>
							<div class="clr"></div>
						</div>
						<div class="clr"></div>
					</div>
				</li>
			<% }); %>
		</ul>
		<% if(pagination !== "") { %>
			<div class="page-pagination hll-pagination"><%=pagination%></div>
		<% } %>
	</div>
        <div class="sList"></div>
</div>