<%_.each(result, function(r) {%>
	<% if( r.raid === raid && r.sapid === sapid && r.said === said ) { %>
		<div class="glf">
			<label>Last Name:</label>
			<input type="text" name="ag_lname" id="ag_lname" value="<%=r.lastname%>">
		</div>
		<div class="glf">
			<label>First Name:</label>
			<input type="text" name="ag_fname" id="ag_fname" value="<%=r.firstname%>">
		</div>
		<div class="glf">
			<label>English Name:<span class="required">*</span></label>
			<input type="text" name="ag_engname" id="ag_engname" class="validation-required" value="<%=r.english_name%>">
		</div>
		<div class="glf">
			<label>Gender:<span class="required">*</span> </label>
			<select class="css3-select validation-required" name="ag_gender" id="ag_gender">
				<!--<option value="">Please select gender</option>-->
				<option value="female" <% if( r.gender === 'female' ) { %> selected='selected' <% } %> >Female</option>
				<option value="male" <% if( r.gender === 'male' ) { %> selected='selected' <% } %> >Male</option>
			</select>
		</div>
		<div class="glf">
			<label>Age:</label>
			<input type="text" name="ag_age" id="ag_age" value="<%=r.age%>">
		</div>
		<div class="glf">
			<label>Number of Weeks:</label>
			<input type="text" name="ag_numof_weeks" id="ag_numof_weeks" value="<%=r.numberof_weeks%>">
		</div>
		<div class="glf">
			<label>Email Add:</label>
			<input type="text" name="ag_email_add" id="ag_email_add" value="<%=r.email%>">
		</div>
		<div class="glf">
			<label>Mobile No:</label>
			<input type="text" name="ag_mobile_no" id="ag_mobile_no" value="<%=r.mobile_no%>">
		</div>
		<div class="glf">
			<label>Student No:</label>
			<input type="text" name="ag_student_no" id="ag_student_no" value="<%=r.student_no%>">
		</div>
		<div class="glf">
			<label>Course:</label>
			<input type="text" name="ag_course" id="ag_course" value="<%=r.course%>">
		</div>
		<div class="glf">
			<label>Date of Birth:</label>
			<input type="text" name="ag_dob" id="ag_dob" value="<%=(r.dateof_birth !== '01/01/1970') ? r.dateof_birth : ""%>">
		</div>
		<div class="glf">
			<label>Nationality:</label>
			<input type="text" name="ag_nationality" id="ag_nationality" value="<%=r.nationality%>">
		</div>
		<div class="glf">
			<label>Passport No:<span class="required">*</span></label>
			<input type="text" name="ag_passport_no" id="ag_passport_no" class="validation-required" value="<%=r.passport_no%>">
		</div>
		<div class="glf">
			<label>Expiry Date:<span class="required">*</span></label>
			<input type="text" name="ag_expiry_date" id="ag_expiry_date" class="validation-required" value="<%=(r.p_expiry_date !== '01/01/1970') ? r.p_expiry_date : ""%>">
		</div>
		<div class="glf">
			<label>Place of Issue:</label>
			<input type="text" name="ag_placeof_issue" id="ag_placeof_issue" value="<%=r.p_placeof_issue%>">
		</div>
		<div class="glf">
			<label>Date of Issue:</label>
			<input type="text" name="ag_dateof_issue" id="ag_dateof_issue" value="<%=(r.p_dateof_issue !== '01/01/1970') ? r.p_dateof_issue : ""%>">
		</div>
		<div class="glf">
			<label>Visa Expiry:<span class="required">*</span></label>
			<input type="text" name="ag_visa_expiry" id="ag_visa_expiry" class="validation-required" value="<%=(r.visa_expiry !== '01/01/1970') ? r.visa_expiry : ""%>">
		</div>
		<div class="glf">
			<label>SSP Validity:<span class="required">*</span></label>
			<input type="text" name="ag_ssp_validity" id="ag_ssp_validity" class="validation-required" value="<%=(r.ssp_validity !== '01/01/1970') ? r.ssp_validity : ""%>">
		</div>
		<div class="glf glf-SBD">
			<label>Address Abroad:</label>
			<input type="text" name="ag_address_abroad" id="ag_address_abroad" value="<%=r.address_abroad%>">
		</div>
		<div class="glf glf-SBD">
			<label>Name of Guardian:</label>
			<input type="text" name="ag_nameof_guardian" id="ag_nameof_guardian" value="<%=r.nameof_guardian%>">
		</div>
		<div class="glf">
			<label>Room No: </label> <%=r.room_no%>
		</div>
		<div class="glf">
			<label>&nbsp;</label>
		</div>
		<div class="glf">
			<label>Book ID:</label>
			<input type="text" name="ag_booking_id" id="ag_booking_id" value="<%=r.booking_id%>">
		</div>
		<div class="glf">
			<label>Booking Agent:<span class="required">*</span> </label>
			<select class="css3-select validation-required" name="ag_booking_type" id="ag_booking_type">
				<!--<option value="">Please select booking type</option>-->
				<option value="Booking.com" <% if( r.booking_agent === 'Booking.com' ) { %> selected='selected' <% } %> >Booking.com</option>
				<option value="Asia Rooms" <% if( r.booking_agent === 'Asia Rooms' ) { %> selected='selected' <% } %> >Asia Roooms</option>
				<option value="Agoda" <% if( r.booking_agent === 'Agoda' ) { %> selected='selected' <% } %> >Agoda</option>
				<option value="Late Rooms" <% if( r.booking_agent === 'Late Rooms' ) { %> selected='selected' <% } %> >Late Rooms</option>
				<option value="Rates Go" <% if( r.booking_agent === 'Rates Go' ) { %> selected='selected' <% } %> >Rates Go</option>
				<option value="Walk-in" <% if( r.booking_agent === 'Walk-in' ) { %> selected='selected' <% } %> >Walk-in</option>
				<option value="Bigfoot/IAFT" <% if( r.booking_agent === 'Bigfoot/IAFT' ) { %> selected='selected' <% } %> >Bigfoot/IAFT</option>
				<option value="Corporate Rate" <% if( r.booking_agent === 'Corporate Rate' ) { %> selected='selected' <% } %> >Corporate Rate</option>
				<option value="Phone Reservation" <% if( r.booking_agent === 'Phone Reservation' ) { %> selected='selected' <% } %> >Phone Reservation</option>
				<option value="Room Rate" <% if( r.booking_agent === 'Room Rate' ) { %> selected='selected' <% } %> >Room Rate</option>
				<option value="others" <% if( r.booking_agent === 'others' ) { %> selected='selected' <% } %> >others</option>
			</select>
		</div>
		<div class="glf">
			<label>Check-in Date:</label>
			<input type="text" name="ag_checkin_date" id="ag_checkin_date" value="<%=(r.checkin_date.toLowerCase() !== '01/01/1970 @ 08:00 am') ? r.checkin_date.toLowerCase() : ""%>">
		</div>
		<div class="glf">
			<label>Send Off Time:</label>
			<%var sendoff_time = r.sendoff_time.toLowerCase().split(" @ ");%>
			<input type="text" name="ag_sendoff_time" id="ag_sendoff_time" value="<%=(r.sendoff_time.toLowerCase() !== '01/01/2012 @ 12:00 am') ? sendoff_time[1] : ""%>">
		</div>
		<div class="glf">
			<label>Check-out Date:</label>
			<input type="text" name="ag_checkout_date" id="ag_checkout_date" value="<%=(r.checkout_date.toLowerCase() !== '01/01/1970 @ 08:00 am') ? r.checkout_date.toLowerCase() : ""%>">
		</div>
		<div class="glf">
			<label>Pick Up Time:</label>
			<%var pickup_time = r.pickup_time.toLowerCase().split(" @ ");%>
			<input type="text" name="ag_pickup_time" id="ag_pickup_time" value="<%=(r.pickup_time.toLowerCase() !== '01/01/2012 @ 12:00 am') ? pickup_time[1] : ""%>">
		</div>
		<div class="clr"></div>
		<div class="glfm">
			Comments: 
			<textarea id="ag_cg_comments" name="ag_cg_comments"><%=r.comments%></textarea>
		</div>
		<div class="glf glf-NBB">
			<label>Status:<span class="required">*</span> </label>
			<select name="ag_booking_status" id="ag_booking_status" class="css3-select validation-required">
				<!--<option value="">Please select status </option>-->
				<option value="checkin" <% if( r.accom_status === 'checkin' ) { %> selected='selected' <% } %> >Checkin</option>
				<!--<option value="checkout">Checkout</option>-->
				<option value="reserve" <% if( r.accom_status === 'reserve' ) { %> selected='selected' <% } %> >Reserve</option>
			</select>
		</div>
		<div class="glfm glf-NBB">
			<input type="button" class="glfr-update" id="<%=r.raid%>:<%=r.sapid%>:<%=r.said%>:<%=r.room_number_id%>:<%=r.room_accom_id%>" value="Save" />
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	<% } %>
<% }); %>