<div class="container-activeform mB" >  
                                <div class="content-headers">
                                   <p class="header-font mL">Action Form</p>	
                                </div>  
<!--                            <div class="profile-nav">asdasd</div>-->
                                
                                <div class="contents">
                                    <div class="fL" >Students Name:<div class="red fL">*</div>
                                        <input class="input-name" type="text"></input>
                                    </div>
                                    <div class="mL fL">ID #:<div class="red fL">*</div>
                                        <input class="input-id" type="text"></input>
                                    </div>
                                    <div class="mL fR">Date Submitted:<div class="red fL">*</div>
                                        <input class="input-id" type="text"></input>
                                    </div>
                                    <div class="fL">
                                        <div class="red fL">*</div>
                                        <div class=" fL mT mB">Type of request:(Please check appropriate box)</div>
                                    </div>
                                    
                                    <div class=" type-request mT fL">
                                        <div class="fL mL2"> <input  type="checkbox"> Instructional Hours</div>
                                        <div class="fL mL2"> <input  type="checkbox"> Classroom</div>
                                        <div class="fL mL2"> <input  type="checkbox"> Additional Class</div>
                                       
                                        <div class="fL mL2"> <input  type="checkbox"> Class Swapping</div>
                                        <div class="fL mL2"> <input  type="checkbox"> Course Extension</div>
                                        <div class="fL mL2"> <input  type="checkbox"> Others</div>
                                    </div>
                                    <div class="fL mB">
                                        Write the details of your request below. Please include your reasons of changing.
                                        <textarea class="text-area mT mL2"></textarea>
<!--                                        <input type="button" ></input>-->
                                    </div>
                                    <div class="confirm-footer fL mL mT">
                                        <div class="fL mL mT">Confirmations:
                                            <input type="button" value="Approve"/>
                                            <input type="button" value="Disapprove"/>
                                        </div>          
                                    </div> 
                                    
                                    <div class="confirm-footer fL mL mT">
                                        <div class="fL mL mT">Academics:
                                                <input class="input-id" style="margin-left: 18px" type="text"></input></div>
                                    </div>
                                    <div class="confirm-footer fL mL mT mB">
                                        <div class="fL mL mT mB" >Sales:
                                                <input class="input-id" style="margin-left: 48px" type="text"></input></div>
                                    </div> 
                                    <div class="confirm-footer fL mL mT mB">
                                        <div class="fL">
                                            <div class="red fL">*</div>
                                            <p class="note fL">Note: please fill out all the needed information in this form</p>
                                            <br/>
                                            <p class="note fL">Deadline for submission is every Wednesday.</p>
                                        </div>
                                        <div class="fR mL mT">Date Received:
                                                <input class="input-id" type="text"></input>
                                        </div>
                                    </div>
                                    <div class="confirm-footer fL mL mT mB">
                                        <div class="fR mL mT">
                                                <input type="button" value="print"></input>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="clr"></div>
                                
                        </div> 