<div class="container-header">Maintenance Supplies</div>
    <div class="content white-shadow">
    
        <div class="fb">        
        <ul>
            <li class="white-litegray" title="Add Tools">Add Tools</li>
        </ul>
         <div class="search-box1">
            <div class="spacer"></div>
            <label>Search Name:</label> <input type="text" name="tools-name" /> 
            <div class="spacer"></div>  
         </div>
          <div class="spacer"></div>
        <div class="hide form-main shadowbox class-form" id="hk-main-form"> 
          <form action="ops/main_supplies" id="frm-main-tools">
             
                <div>
                <label><span class="required">*</span>Item No:</label>
                <input class="fld-required formatdec" type="text" name="item-num"/>
                </div><div>
                <label><span class="required">*</span>Description:</label>
                <input class="fld-required" type="text" name="tools-desc"/>
                </div><div>
                <label><span class="required">*</span>Quantity:</label> 
                <input class="fld-required formatdec" type="text" name="quant"/>
                </div><div>
                <label><span class="required">*</span>Unit:</label>
                <select class="fld-required" name="uom"></select> 
                </div><div>
                <label><span class="required">*</span>Dept Used:</label>
                <select class="fld-required" name="department"></select>
                </div>
                <button class="blue-button" type="submit">Add Tools</button>
                <div>
                <div class="spacer"></div>
                </div>
           
            <div class="hide showsuccess" id="showsuccess">Tools Added</div>
            <div class="clr"></div>
         </form> 
              <div class="spacer"></div>
        </div>      
    </div>    
    </div>

    <div class="hide main-tools tools-update class-form" id="toolsupdate">
         <form action = "ops/hk_stocks" id="update-tools"> 
             <div>
                 <label>*Item Number:</label>
                <input class="fld-required formatdec" type="text" name="edit-item-num"/>    
             </div> 
             <div>
                 <label>*Description:</label>
                 <input class="fld-required" type="text" name="edit-tools-description"/>                          
              </div>     
             <div>
                 <label>*Quantity</label>
                 <input class="fld-required formatdec" type="text" name="edit-quantity"/>
                 <select class="fld-required" name="edit-tools-unit"></select>
             </div>
             <div>
                 <label>*Department:</label>
                 <select class="fld-required" name="edit-dept"></select>
             </div>
             <input type="hidden" name="tools-id" value=""/>
             <button class="blue-button" type="submit">Update</button>
         </form> 
   </div>
                              
                            
        

        <div class="err_msg hide"></div>
        <div class="dyn_content"></div>