<div class="container-header">Maintenance Utilities</div>
    <div class="content white-shadow">
    
        
        <div class="spacer"></div>
        <div class="search-box1 prs">
             <label id="rw1">Search Item Description:</label> <input type="text" name="prs" /> 
        </div> 
        <div class="hide search-box1 srs">
             <label id="rw1">Search Item Description:</label> <input type="text" name="srs" /> 
        </div> 
        <div class="spacer"></div>
        <div class="rs">        
        <ul>
            <li class="white-litegray active" title="PRS" >PRS</li>
            <li class="white-litegray" title="SRS">SRS</li>
        </ul>
        </div>
        <div class="clr"></div>
               
    </div>  

        
        <div class="dyn_content"></div>