<div class="container-header">Larry's Place Incoming Stocks</div>
    <div class="content white-shadow">
    
        
        <div class="spacer"></div>
        <div class="search-box1">
             <label id="rw1">Search Item Description:</label> <input type="text" name="item" /> 
        </div>
        <div class="clr"></div>
               
    </div>  

        
        <div class="dyn_content"></div>