<div class="container-header">Larrys Place Inventory</div>
    <div class="content white-shadow">
    
        <div class="stocks">        
        <ul>
            <li class="white-litegray" title="Add Inventory Covered">Add Inventory Covered</li>
        </ul>
        <div class="spacer"></div>
        <div class="search-box1">
             <label id="rw1">Search Inventory Date:</label> <input type="text" name="date" /> 
        </div>
        <div class="clr"></div>
          <div class="hide lp-inv form-lp-inv white-shadow white-litegray" id="lp-item-inv-form"> 
          <form action="ops/lp_inventory" id="frm-lp-inv">
            <div> 
                <div class="spacer"></div>
                <div class="spacer"></div>
                <label><span class="required">*</span>From:</label>
                <input class="fld-required" type="text" name="inv-from"/>
                <label><span class="required">*</span>To:</label>
                <input class="fld-required" type="text" name="inv-to"/>
                <button class="blue-button" type="submit">Add Covered Date</button>
                <div class="spacer"></div>
            </div>
            <div class="hide showsuccess" id="showsuccess">Date Added</div>
            <div class="clr"></div>
         </form> 
         
        </div>      
    </div>  
    </div>

     <div class="hide lp-inv myDiv_inv psy_inv item-all-show" id="show-pi"> 
     </div>
     
    <div class="hide lp-inv myDiv updatepys init_update" id="psy-inv-update">
                            <button class="cancel to-right">Cancel</button>
                            
                            <form action = "ops/lp_inventory" id="update-pys-inv">
                                <label class="desc"></label>
                                <label class="input1"><input class="fld-required inputt2" type="text" name="sold-items-edit" id="v"/></label>
                                <label class="input2 price"></label><input class="hidden inputt2" type="text" name="price-edit" id="v"/>
                                <label class="input3"><input class="hidden fld-required inputt2" type="text" name="total-cost-edit"/></label>
                                <label class="input-field total_cost"></label>
                                <input type="hidden" name="pys-id" value=""/>
                                <button class="upd to-right" type="submit">Update</button>
                            </form> 
                            
                                 
        </div>

        <div class="hide myDiv rq menucenter"></div>
        <div class="err_msg hide"></div>
        <div class="dyn_content"></div>