<div class="container-header">Larrys Place Price List</div>
    <div class="content white-shadow">
    
        <div class="fb">        
        <ul>
            <li class="white-litegray" title="Add Item">Add Item</li>
        </ul>
          <div class="hide lp-item form-lp-item" id="lp-item-form"> 
          <form action="ops/lp_price_list" id="frm-lp-item">
            <div> 
                <div class="spacer"></div>
                <div class="spacer"></div>
                <label><span class="required">*</span>Description:</label>
                <input class="fld-required" type="text" name="item-desc"/>
                <label><span class="required">*</span>Price:</label>
                <input class="fld-required input-fieldrm formatdec" type="text" name="item-price"/>
                <label> Category:</label>
                <select class="fld-required input-fieldst" name="item-cat"></select>
                <button class="blue-button" type="submit">Add Item Description</button>
                <div class="spacer"></div>
            </div>
            <div class="hide showsuccess" id="showsuccess">Item Added</div>
            <div class="clr"></div>
         </form> 
           
        </div>      
    </div>  
    </div>

     <div class="hide lp-item myDiv_item cat-item item-all-show show-thisdel shadowbox" id="show-item">  
     </div>
     
    <div class="hide lp-item-update myDiv updateitem init_update shadowbox" id="item-update">
        <label class="close-item to-right">close</label>
                            <form action = "ops/lp_price_list" id="update-item">
                                
                                <div>
                                    <label class="chtext">Description
                                        <input class="fld-required input-fieldcat" type="text" name="edit-item-desc">
                                    </label>                            
                                </div>
                                
                                <div>
                                    <label class="chtext">Price
                                        <input class="fld-required formatdec input-fieldst" type="text" name="edit-item-price">
                                    </label>                            
                                </div>
                                
                                <div>
                                   <label class="chtext">Category
                                       <select class="fld-required input-fieldst " name="edit-item-cat" id="rw1"></select>
                                   </label>
                                </div>
                                <input type="hidden" name="item-id" value=""/>
                                 <button class="blue-button to-right" type="submit">Update</button> 
                               </form> 
                               
                      
        </div>

        <div class="hide myDiv rq menucenter"></div>
        <div class="err_msg hide"></div>
        <div class="dyn_content"></div>