<ul class="oaccordion-list">
	<% _.each(result, function(r) { %>
		<li>
			<div class="oalist-head oa-head">
				<a id="1" href="#/task/hr-forms">+</a>
				Name: <%=r.requested_by%> - Supplier Name: <%=r.supplier_name%>
				<span>Date Requested: <%=r.date_requested%></span>
				<div class="clr"></div>
			</div>
			<div class="oa-content glf-c">
				<div class="glf">
					<label>Requested By: </label> <%=r.requested_by%>
				</div>
				<div class="glf">
					<label>Supplier Name: </label> <%=r.supplier_name%>
				</div>
				<div class="glf">
					<label>Type: </label> <%=r.type%>
				</div>
				<div class="glf">
					<label>Payment Type: </label> <%=r.payment_type%>
				</div>
				<div class="glfm">
					Description: 
					<label><%=r.description%></label>
				</div>
				<div class="glf">
					<label>Quantity: </label> <%=r.quantity%>
				</div>
				<div class="glf">
					<label>Unit Price: </label> <%=r.unit_price%>
				</div>
				<div class="glf">
					<label>Amount: </label> <%=r.amount%>
				</div>
				<div class="glf">
					<label>Units: </label> <%=r.units%>
				</div>
				<div class="glf">
					<label>Date Received: </label> <%=(r.date_received == '01/01/1970' ) ? "" : r.date_received%>
				</div>
				<div class="glf">
					<label>Date Requested: </label> <%=r.date_requested%>
				</div>
				<div class="glf">
					<label>Date Required: </label> <%=r.date_required%>
				</div>
				<div class="glf">
					<label>Head Approval: </label> <%=r.dept_head_appvl%>
				</div>
				<div class="glf">
					<label>Fin Head Approval: </label> <%=r.fin_head_appvl%>
				</div>
				<div class="glf">
					<label>&nbsp; </label>
				</div>
				<div class="clr"></div>
				<div class="glfm glfm-center glf-NBB">
					Set PRS Status to:
					<select class="css3-select">
						<option value="">Please select</option>
						<option value="approved" <% if(r.fin_head_appvl == 'approved') { %> selected = 'selected'  <% } %> >Approve</option>
						<option value="rejected" <% if(r.fin_head_appvl == 'rejected') { %> selected = 'selected'  <% } %> >Reject</option>
					</select>
					<input type="button" class="hrlfc-css3-button setPrsStatus" id="<%=r.pid%>" value="Set">
				</div>
				<div class="clr"></div>
			</div>
		</li>
	<% }); %>
</ul>
<% if(pagination !== "") { %>
	<div class="page-pagination hprsl-pagination"><%=pagination%></div>
<% } %>