<div class="content-header">Contributions Table</div>
<div class="white-shadow content">
    <div class="contributions">
        <ul>
            <li class="white-litegray" title="SSS">SSS</li>
            <li class="white-litegray" title="PhilHealth">PhilHealth</li>
        </ul>
    </div>
    <div class="hide contrib-forms white-shadow" id="sss-form">
        <form action="hr/contributions_list" id="sss-frm">
            <div>
                <label><span class="required">*</span>Compensation:</label><input class="formatdec fld-required" type="text" name="range_min" /> - 
                <input class="formatdec" type="text" name="range_max" />
            </div>
            <div>
                <label><span class="required">*</span>Employer:</label><input class="formatdec fld-required" type="text" name="employer_contrib" />
            </div>
            <div>
                <label><span class="required">*</span>Employee:</label><input class="formatdec fld-required" type="text" name="employee_contrib" />
            </div>
            <div>
                <label><span class="required">*</span>ECER:</label><input class="formatdec fld-required"type="text" name="ecer_contrib" />
                <input class="blue-button" type="submit" value="Add" />
            </div>
        </form>
    </div>
    <div class="hide contrib-forms white-shadow" id="phic-form">
        <form action="hr/contributions_list" id="phic-frm">
            <div class="to-left">
                <div>
                    <label><span class="required">*</span>Salary Bracket:</label><input class="fld-required" type="text" name="salary_bracket" />
                </div>
                <div>
                    <label><span class="required">*</span>Salary Range:</label><input class="formatdec fld-required" type="text" name="salary_range_min" /> - 
                    <input class="formatdec" type="text" name="salary_range_max" />
                </div>
                <div>
                    <label><span class="required">*</span>Salary Base:</label><input class="formatdec fld-required" type="text" name="salary_base" />
                </div>
            </div>
            <div class="to-right">
                <div>
                    <label><span class="required">*</span>Personal Share:</label><input class="formatdec fld-required" type="text" name="personal_share" />
                </div>
                <div>
                    <label><span class="required">*</span>Employer Share:</label><input class="formatdec fld-required" type="text" name="employer_share" />
                </div>
                <div>
                    <label><span class="required">*</span>Total Monthly Contribution:</label><input class="formatdec fld-required" type="text" name="monthly_contribution" />
                    <input class="blue-button" type="submit" value="Add" />
                </div>
            </div>
            <div class="clr"></div>
        </form>
    </div>
    <div class="dyn_content">
    </div>
</div>