<div class="content-header">Employees</div>
<div class="white-shadow content">
    <div class="search-box1 employees_list">
        <div>
            <label>Search:</label>
        </div>
        <div>
            <label>Name:</label><input type="text" name="srch_employee" />
        </div>
        <div>
            <label>Department:</label>
            <select name="srch_department">
            </select>
        </div>
    </div>
</div>
<div class="dyn_content"></div>
<div class="hide box-radius white-shadow hr-pop-form-1 emp_profile" id="emp_personal_details">
    <form action="hr/employee_personal_info" id="emp_personal_details_frm">
        <div class="content-header">Employee Personal Details</div>
        <div>
            <div>
                <label>ID Number:</label>
                <input class="hr-field-type-2" type="text" name="id_number" />
            </div>
        </div>
        <div class="clr"></div>
        <div>
            <label class="header">Name</label>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="lastname" />,
                <label class="field">Last Name</label>
            </div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="firstname" />
                <label class="field">First Name</label>
            </div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="middlename" />
                <label class="field">Middle Name</label>
            </div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="nickname"/>
                <label class="field">Nickname</label>
            </div>
            <div class="info_container">
                <label>Marital Status:</label>
                <input class="hr-field-type-2" type="text" name="status" />
            </div>
            <div class="info_container">
                <label>Nationality:</label>
                <input class="hr-field-type-2" type="text" name="nationality" />
            </div>
            <div class="info_container">
                <label>Birthdate:</label>
                <input class="hr-field-type-2" type="text" name="birthdate" />
            </div>
            <div class="info_container">
                <label class="header">Gender:</label>
                <input type="radio" name="gender" value="Male" /><label>Male</label>
                <input type="radio" name="gender" value="Female" /><label>Female</label>
            </div>
        </div>
        <div class="clr"></div>
        <div>
            <div class="info_container">
                <label>SSS:</label>
                <input class="hr-field-type-2" type="text" name="sss_number" />
            </div>
            <div class="info_container">
                <label>PHIC:</label>
                <input class="hr-field-type-2" type="text" name="philhealth_number" />
            </div>
        </div>
        <div class="clr"></div>
        <div>
            <div class="info_container">
                <label>TIN:</label>
                <input class="hr-field-type-2" type="text" name="tin_number" />
            </div>
            <div class="info_container">
                <label>HDMF:</label>
                <input class="hr-field-type-2" type="text" name="hdmf_number" />
            </div>
        </div>
        <div class="clr"></div>
        <div class="content-header">Immigration</div>
        <div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="immigration" />
                <label class="field">Immigration No.</label>
            </div>
            <div class="info_container">
                <select class="hr-field-type-1" name="imm_type">
                    <option value="">Choose Type</option>
                    <option value="Visa">Visa</option>
                    <option value="Passport">Passport</option>
                </select>
            </div>
        </div>
        <div class="clr"></div>
        <div>
            <div class="info_container">
                <label>Status:</label>
                <input class="hr-field-type-2" type="text" name="imm_status" />
            </div>
            <div class="info_container">
                <label>Citizenship:</label>
                <input class="hr-field-type-2" type="text" name="imm_citizenship" />
            </div>
        </div>
        <div class="clr"></div>
        <div>
            <div class="info_container">
                <label>Date Issued:</label>
                <input class="hr-field-type-2" type="text" name="imm_date_issued" />
            </div>
            <div class="info_container">
                <label>Expiration Date:</label>
                <input class="hr-field-type-2" type="text" name="imm_expiration_date" />
            </div>
            <div class="info_container">
                <label>Review Date:</label>
                <input class="hr-field-type-2" type="text" name="imm_review_date" />
            </div>
        </div>
        <div class="clr"></div>
        <input class="blue-button to-right" type="submit" value="Update" />
        <div class="clr"></div>
    </form>
</div>
<div class="hide box-radius white-shadow hr-pop-form-1 emp_profile" id="emp_contact_details">
    <form action="hr/employee_contact_info" id="emp_contact_details_frm">
        <div class="content-header">Employee Contact Details</div>
        <div>
            <label class="header">Address</label>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="street" />
                <label class="field">Street</label>
            </div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="city" />
                <label class="field">City</label>
            </div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="province" />
                <label class="field">Province</label>
            </div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="country" />
                <label class="field">Country</label>
            </div>
            <div class="info_container">
                <input class="hr-field-type-2" type="text" name="zip_code" />
                <label class="field">Zip Code</label>
            </div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="email" />
                <label class="field">Email Address</label>
            </div>
            <div class="info_container">
                <label>Telephone No.:</label>
                <input class="hr-field-type-2" type="text" name="telephone" />
            </div>
            <div class="info_container">
                <label>Mobile No.:</label>
                <input class="hr-field-type-2" type="text" name="mobile" />
            </div>
        </div>
        <div class="clr"></div>
        <div class="content-header">Emergency Contact</div>
        <div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="ec_name" />
                <label class="field">Name</label>
            </div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="ec_relationship" />
                <label class="field">Relationship</label>
            </div>
            <div class="info_container">
                <label>Telephone No.:</label>
                <input class="hr-field-type-2" type="text" name="ec_telephone" />
            </div>
            <div class="info_container">
                <label>Mobile No.:</label>
                <input class="hr-field-type-2" type="text" name="ec_mobile" />
            </div>
        </div>
        <div class="clr"></div>
        <div>
            <div class="info_container">
                <input class="hr-field-type-1" type="text" name="ec_address" />
                <label class="field">Address</label>
            </div>
        </div>
        <div class="clr"></div>
        <input class="blue-button to-right" type="submit" value="Update" />
        <div class="clr"></div>
    </form>
</div>
<div class="hide box-radius white-shadow hr-pop-form-1 emp_profile" id="emp_background_details">
    <div class="content-header">Work Background</div>
    <form action="hr/employee_work_info" id="emp_background_details_frm">
        <label class="header">Experience</label>
        <input class="blue-button to-right" type="button" name="add_experience" value="Add" />
        <div class="clr"></div>
        <div class="emp_work_exp">
            <div>
                <input class="hr-field-type-1" type="text" name="work_company[]" />
                <label class="field">Company Name</label>
            </div>
            <div>
                <input class="hr-field-type-1" type="text" name="work_position[]" />
                <label class="field">Position</label>
            </div>
            <div>
                <input class="hr-field-type-1" type="text" name="work_salary[]" />
                <label class="field">Salary Received</label>
            </div>
            <div>
                <label>Period Covered:</label>
                <input class="hr-field-type-2" type="text" name="work_covered_from[]" />
            </div>
            <div>
                <label>-</label>
                <input class="hr-field-type-2" type="text" name="work_covered_to[]" />
            </div>
        </div>
        <div class="clr"></div>
        <input class="blue-button to-right" type="submit" value="Update" />
        <div class="clr"></div>
    </form>
</div>