<div class="dcr-recaplc">
	<div class="dcrc-remrcp">&nbsp;</div>
	<div class="dcr-recaplcl fL">Account No.</div>
	<div class="dcr-recaplcc fL">
		<div class="dcr-recaplccf">
			&nbsp;
			<!--
			<div class="dcr-recaplccl txt-center fL">SALES</div>
			<div class="dcr-recaplccc txt-center fL">&nbsp;</div>
			<div class="dcr-recaplccr txt-center fL">SSP, VE & KM</div>
			<div class="clr"></div>-->
		</div>
		<div class="dcr-recaplccf">
			<div class="dcr-recaplccl txt-center dcrf-NBB fL">&nbsp;</div>
			<div class="dcr-recaplccc txt-center acct-name fL">---</div>
			<div class="dcr-recaplccr txt-center dcrf-NBB fL">&nbsp;</div>
			<div class="clr"></div>
		</div>
		<div class="dcr-recaplccf dcrf-NBB">
			<div class="dcr-recaplccl txt-right sales-acct fL">---</div>
			<div class="dcr-recaplccc fL">&nbsp;</div>
			<div class="dcr-recaplccr txt-right ssp-acct fL">---</div>
			<div class="clr"></div>
		</div>
		<div class="dcr-recaplccf dcrf-NBB">
			<div class="dcr-recaplccl txt-right sales-amt fL">0.00</div>
			<div class="dcr-recaplccc fL">&nbsp;</div>
			<div class="dcr-recaplccr txt-right ssp-amt fL">0.00</div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="dcr-recaplcr txt-center arfields fL">
		<!--<p>Total Deposit</p> -->
		<div class="dcr-total-dep txt-right">0.00</div>
	</div>
	<div class="clr"></div>
</div>