<div class="content-header">Daily Sales Report</div>
<div class="content">
	<div class="hotel-RT">
		<a href="javascript:void(0)" id="dsa-report" class="css3-a">Create Daily Sales Report</a>
		<div class="clr"></div>
	</div>
	<div class="hdsr-container">
		<!--
			<p>List of daily sales report</p>
			<p>List of daily sales report</p>
			<p>List of daily sales report</p>
			<p>List of daily sales report</p>
		-->
		<ul class="dsrli">
			<%_.each(result, function(r) { %>
                            <li><a href="javascript:void(0)" rel="<%=r.dsr_report_id%>"><%=r.date_added%></a></li>
			<%});%>
		</ul>
	</div>
</div>