<div class="content-header">List of Forms</div>
<div class="content">
	<div class="hotel-RT">
		<a href="#/task/hr-forms" id="leave-lists" class="css3-a hotel-roomtype-active">Leave Lists</a>
		<a href="#/task/hr-forms" id="srs-lists" class="css3-a">SRS Lists</a>
		<a href="#/task/hr-forms" id="prs-lists" class="css3-a">PRS Lists</a>
		<a href="#/task/hr-forms" id="petty-cash-lists" class="css3-a">Petty Cash Lists</a>
		<div class="clr"></div>
	</div>
	<div class="h-viewbdN">
		Search by:
		<select class="css3-select hvbdsort">
			<option value="name">Name</option>
			<option value="date">Date</option>
			<!-- <option value="leave-status">Leave Status</option>  -->
		</select> 
		<input type="text" id="hvbdsearchI" class="hvbdsearchI"> 
		<input type="button" name="" class="css3-btton hvbdsearch" value="search" >
		<span>(hint: date format must be mm/dd/yyyy)</span>
	</div> 
	<div class="hrlfc"></div>
</div>