<div class="container-header">Advertise Here</div>
    <div class="content white-shadow">
                  <div class="advertiser2">
				  <div class="form-main  class-form" id="rs-main-form"> 
          			<form action="rs/joinUs" id="frm-add-advertise">
						<div class="postAdvert">Add Details</div>
                		<div>
               		 		<label><span class="required">*</span>Category:</label>
                			<select class="fld-required" name="property"></select>
                		</div>
						<div>
               		 		<label><span class="required">*</span>Location:</label>
                			<select class="fld-required" name="location"></select>
                		</div>
						<div>
               		 		<label><span class="required">*</span>Type:</label>
                			For Sale	<input class="fld-required" type="radio" name="realHold" value="1"/>
							For Rent	<input class="fld-required" type="radio" name="realHold" value="2"/>
							Looking for	<input class="fld-required" type="radio" name="realHold" value="3"/>
                		</div>
						<div>
               		 		<label><span class="required">*</span>Title:</label>
                			<input type="text" class="fld-required u2" name="title"/>
                		</div>
						<div>
               		 		<label><span class="required">*</span>Description:</label>
                			<textarea class="fld-required" name="desc"></textarea>
                		</div>
						<div>
               		 		<label><span class="required">*</span>Bedrooms:</label>
                			<input type="text" class="fld-required u2" name="bedrooms"/>
                		</div>
						<div>
               		 		<label><span class="required">*</span>Price:</label>
                			<input type="text" class="fld-required u2" name="price"/>
                		</div>
						<div>
               		 		<label><span class="required">*</span>Seller Type:</label>
                			Private	<input class="fld-required" type="radio" name="sellerType" value="1"/>
					Company	<input class="fld-required" type="radio" name="sellerType" value="2"/>
                		</div>
                			<button class="blue-button" type="submit">Advertise</button>
                		<div>
						<div class="spacer"></div>
                		</div>
            			<div class="hide showsuccess" id="showsuccess">Tools Added</div>
            			<div class="clr"></div>
         			</form>
					<div class="errorBox failed hide">A required field is empty.</div>
					<div class="successBox countbox hide">Succesfully Advertise.</div>
        		</div>   
				</div>   
    </div>
 

