<div class="container-header">Join Us and Free to Advertise</div>
    <div class="content white-shadow">
                  <div class="advertiser3">
				  <div class="form-main  class-form" id="rs-main-form"> 
          			<form action="rs/joinUs" id="frm-add-advert">
						<div class="postAdvert">Create Account</div>
                		<div>
               		 		<label><span class="required">*</span>Username:</label>
                			<input class="fld-required u1" type="text" name="uname"/>
                		</div><div>
                			<label><span class="required">*</span>Password:</label>
                			<input class="fld-required u2" type="password" name="pw"/>
                		</div>
						<div class="postAdvert">Personal Information</div>
						<div>
                			<label><span class="required">*</span>Firstname:</label>
                			<input class="fld-required u1" type="text" name="firstname"/> 
                		</div><div>
                			<label><span class="required">*</span>Middle Name:</label>
                			<input class="fld-required u1" type="text" name="middlename"/> 
                		</div><div>
                			<label><span class="required">*</span>Lastname:</label>
                			<input class="fld-required u1" type="text" name="lastname"/> 
                		</div>
						<div class="postAdvert">Contact Information</div>
						<div>
                			<label><span class="required">*</span>Address:</label>
                			<input class="fld-required u1" type="text" name="address"/> 
                		</div><div>
                			<label><span class="required">*</span>Mobile no:</label>
                			<input class="fld-required u1" type="text" name="mobileno"/> 
                		</div><div>
                			<label><span class="required">*</span>Tell. no:</label>
                			<input class="fld-required u1" type="text" name="telno"/> 
                		</div>
						<div>
                			<label><span class="required">*</span>Email:</label>
                			<input class="fld-required u1" type="text" name="email"/> 
                		</div>
                			<button class="blue-button" type="submit">Join Us</button>
                		<div>
						<div class="spacer"></div>
                		</div>
           
            			<div class="hide showsuccess" id="showsuccess">Tools Added</div>
            			<div class="clr"></div>
         			</form> 
					<div class="errorBox failed hide">A required field is empty.</div>
					<div class="successBox countbox hide">Succesfully Created Account.</div>
        		</div>   
				  
				</div>       
    </div>
 

