<div class="container-header">Real State Location</div>
    <div class="content white-shadow">
    
        
          <div class="form-hk-item" id="hk-item-form"> 
          <form action="ops/hk_stocks" id="frm-hk-item">
            <div> 
                <div class="spacer"></div>
                <div class="spacer"></div>
                <label><span class="required">*</span>Location:</label>
                <input class="fld-required u2" type="text" name="locname"/>
                <button class="blue-button" type="submit">Add Location</button>
                <div class="spacer"></div>
            </div>
            <div class="hide showsuccess" id="showsuccess">Item Added</div>
            <label class="error failed menucenter"></label>
            <div class="clr"></div>
         </form> 
         
        </div>      
    </div><div class="spacer"></div><div class="spacer"></div>
    <div class="search-box1">
            <label>Search Location:</label> <input type="text" name="locname" /> 
    </div>
    <div class="spacer"></div><div class="spacer"></div>
    <div class="hide hk-item item-update countbox" id="itemupdate">
        <div class="sprite-close to-right close"></div>
                            <form action = "ops/hk_stocks" id="update-item">
                                
                                <div>
                                    <label class="chtext">
                                       Location: <input class="fld-required u2" type="text" name="edit-loc">
                                       <input type="hidden" name="item-id" value=""/>
                                       <button class="blue-button" type="submit">Update</button>
                                    </labe>                            
                                </div>
                                
                               
                               </form> 
     </div>

        <div class="err_msg hide"></div>
        <div class="dyn_content"></div>