<div class="container-header">My Messages</div>
    <div class="content white-shadow">
       <div class="hide undermessage transbox2"></div>
        <div class="search-box1 menucenter">
            <div class="spacer"></div>
<table>
    <tr>
        <td style="width: 520px; ">
            <input class="to-left u1search" type="text" name="sendername" id="u1" value="Search sender" onfocus="if(this.val=this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
        </td>
        <td style="width: 50px;">

    </tr>
</table>

                        	<div class="clr"></div>
                   </div>
 <table>
    <tr>
        <td style="width: 520px; ">
            <div class="dyn_content"></div>
        </td>
        <td style="width: 50px;">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="advert menucenter">Top Advertiser</div>
		<div class="search1 advert2">
                    <input type="text" name="useradvert" class="u2" value="Search" onfocus="if(this.val=this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
		</div>
            <div class="advertisement" id="cbox1"></div>
        </td>
    </tr>
</table>
  </div>
	 <div class="realInfo_myAdvert shadowbox2 myDiv hide">
	 	<div class="">
			<label id="advertPhoto"></label> <label class="infoId hide"></label>
			<div class="realPhoto">
			</div>
		</div>
	</div>

	 <div class="form-main  class-form sendMessagehere messageReply" id="send-Reply">
                                        
					<div class="postAdvert">Reply message to <label class="messto"></label></div>
					<div class="postAdvert2">
					<br>
						<form action="rs/messages" id="frm-send-reply">
							<div>
                                                            <table>
                                                                <tr>
                                                                    <td><label class="st-text">Message:</label> </td>
                                                                    <td style="width: 300px;"> <label class="yourtext" id="yourtext"></label></td>
                                                                </tr>
                                                            </table>
                                                        <input type="hidden" name="mess_id"/>
                                                        <input type="hidden" name="real_id"/><br>
                                                        <input type="hidden" name="sendto"/><br>
                                                        <input type="hidden" name="sendby"/>
                                                      <label class="hidden recntact"></label>
                                                      <label class="hidden recntact2"></label>
                                                      <label class="st-text">Text: </label><textarea name="yourmess"></textarea>
                                                        <div class="spacer"></div>

                                                        <div class="showfailed hide empty2">A required field is empty.</div>
                                                        <div class="success success5 hide empty">Message successfully sent.</div>

					</div>

					<div class="to-right">
						<button class="blue-button to-right" type="submit">Reply</button>
						<button class="blue-button to-right closemessage" type="button">Cancel</button>
					</div>
                                                    <div class="spacer"></div><div class="spacer"></div><div class="spacer"></div>
				</form>
	 </div>
         </div>

         <div class="form-main  class-form update_Contents contentsUpdate" id="contents-Update">
             <input type="hidden" name="real_id"/>
                                                        <form action="rs/myadvert" id="frm-update-contents">
							<div class="postAdvert">UPDATE CONTENT INFORMATION:</div>
                                                         <div class = "postAdvert">
                                                             <label class="st-text">Title:</label> <input type="text" class="fld-required fontsize u2" name="edit-title"/><div class="spacer7"></div>
                                                             <label class="st-text">Location:</label> <select class="fld-required fontsize" name="edit-location"></select><div class="spacer7"></div>
                                                             <label class="st-text">Price:</label> <input type="text" class="fld-required formatdec fontsize u2" name="edit-price" /><div class="spacer7"></div>
                                                             <label class="st-text">Posted on:</label> <input type="text" class="fld-required fontsize u2" name="edit-date" />at  <input type="text" class="fld-required input-fieldrm fontsize" name="edit-time" /><div class="spacer7"></div>
                                                             <label class="st-text">Description:</label> <textarea name="edit-desc" class="fld-required fontsize "></textarea><div class="spacer7"></div>
                                                             <label class="st-text">Bedrooms:</label> <input type="text" name="edit-bedrooms" class="fld-required formatdec fontsize u2"><div class="spacer7"></div>
                                                             <label class="st-text">Category:</label> <select name="edit-realhold" class="fontsize fld-required "></select><div class="spacer7"></div>
                                                             <label class="st-text">Seller Type:</label> <select name="edit-stype" class="fontsize fld-required "></select><div class="spacer7"></div>
                                                             <label class="st-text">Classification:</label> <select name="edit-prop" class="fontsize fld-required "></select>
							</div>

					<div class="to-right">
						<button class="blue-button to-right" type="submit">Save Contents</button>
						<button class="blue-button to-right closeUpdate" type="button">Cancel</button>
					</div>
                                                        </form>


         </div>

        <div class="err_msg hide"></div>
        <div class="updateSuccess hide myDiv1 menucenter"></div>


     