<div class="container-header">My Advertisement - For Rent, For Sale and Looking for</div>
    <div class="content white-shadow">
       <div class="hide under transbox"></div>
        <div class="search-box1 menucenter">
            <div class="spacer"></div>
<table>
    <tr>
        <td style="width: 520px; ">
            <input class="to-left u1search" type="text" name="title" id="u1"/>
        </td>
        <td style="width: 50px;">

    </tr>
</table>
	
                        	<div class="clr"></div><div class="spacer"></div>
                   </div>
				   <button class="blue-button advance_search">Advance Search</button>
				   <div class="spacer"></div> 
				    <div class="hide cbox4 advanceSearch1">
            <SELECT NAME="location1" id="u2">
            <OPTION value=""> SELECT LOCATION </OPTION>
            <OPTGROUP LABEL="Municipality 1">
                <OPTION value="1">Adlawan</OPTION>
                <OPTION value="2">Cabugao</OPTION>
            </OPTGROUP>
            <OPTGROUP LABEL="Municipality 2">
                <OPTION value="3">Cagay</OPTION>
                <OPTION value="4">Olatayan</OPTION>
            </OPTGROUP>
            <OPTGROUP LABEL="Municipality 3">
                <OPTION value="5">Punta Cogon</OPTION>
            </OPTGROUP>
        </SELECT>
								Classification:
                                                                <select name="real_property" id="u2"></select>
                                                                <label></label><label></label>Type:
								<label>Private</label><input type="radio" name="real_cat" value="1" />
								<label>Company</label><input type="radio" name="real_cat" value="2" />
								<label>All</label><input type="radio" name="real_cat" checked="checked" value="" />
								
								<div class="to-right sprite-close close_adsearch" title="close advance search"></div>
								
								<div class="spacer"></div>
								
                                    </div>
                    
               
    </div>      
 <table>
    <tr>
        <td style="width: 520px; ">
            <div class="dyn_content"></div>
        </td>
        <td style="width: 50px;">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="advert menucenter">Top Advertiser</div>
		<div class="search1 advert2">
                    <input type="text" name="useradvert" class="u2" value="Search" onfocus="if(this.val=this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
		</div>
            <div class="advertisement" id="cbox1"></div>
        </td>
    </tr>
</table>
	 
	 <div class="realInfo_myAdvert shadowbox2 myDiv hide">
	 	<div class="">
			<label id="advertPhoto"></label> <label class="infoId hide"></label>
			<div class="realPhoto">
			</div>	
		</div>
	</div>

	 <div class="form-main  class-form upload_Real_Photos photoUpload" id="upload-Real-Photos">
					<div class="postAdvert">Upload / Update Photos</div>
					<div class="postAdvert">
					<br>
						<form enctype="multipart/form-data" action="http://localhost/real.state/upload" method="post">
							<div>
							<input type="hidden" name="real_id" />
							<input type="hidden" name="added_by" />
							Image 1 <input type="file" name="photo1" class="fld-required"/><br />
							Image 2 <input type="file" name="photo2"/><br />
							Image 3 <input type="file" name="photo3"/><br />
							Image 4 <input type="file" name="photo4"/><br />
							Image 5 <input type="file" name="photo5"/><br />
							<div class="spacer"></div>	
						
					</div>
					<div class="to-right">
						<button class="blue-button to-right" type="submit">Upload Photos</button>
						<button class="blue-button to-right closeURP" type="button">Cancel</button>
					</div>
				</form>
	 </div>
         </div>

         <div class="form-main  class-form update_Contents contentsUpdate" id="contents-Update">
             <input type="hidden" name="real_id"/>
                                                        <form action="rs/myadvert" id="frm-update-contents">
							<div class="postAdvert">UPDATE CONTENT INFORMATION:</div>
                                                         <div class = "postAdvert">
                                                             <label class="st-text">Title:</label> <input type="text" class="fld-required fontsize u2" name="edit-title"/><div class="spacer7"></div>
                                                             <label class="st-text">Location:</label> <select class="fld-required fontsize" name="edit-location"></select><div class="spacer7"></div>
                                                             <label class="st-text">Price:</label> <input type="text" class="fld-required formatdec fontsize u2" name="edit-price" /><div class="spacer7"></div>
                                                             <label class="st-text">Posted on:</label> <input type="text" class="fld-required fontsize u2" name="edit-date" />at  <input type="text" class="fld-required input-fieldrm fontsize" name="edit-time" /><div class="spacer7"></div>
                                                             <label class="st-text">Description:</label> <textarea name="edit-desc" class="fld-required fontsize "></textarea><div class="spacer7"></div>
                                                             <label class="st-text">Bedrooms:</label> <input type="text" name="edit-bedrooms" class="fld-required formatdec fontsize u2"><div class="spacer7"></div>
                                                             <label class="st-text">Category:</label> <select name="edit-realhold" class="fontsize fld-required "></select><div class="spacer7"></div>
                                                             <label class="st-text">Seller Type:</label> <select name="edit-stype" class="fontsize fld-required "></select><div class="spacer7"></div>
                                                             <label class="st-text">Classification:</label> <select name="edit-prop" class="fontsize fld-required "></select>
							</div>
					
					<div class="to-right">
						<button class="blue-button to-right" type="submit">Save Contents</button>
						<button class="blue-button to-right closeUpdate" type="button">Cancel</button>
					</div>
                                                        </form>
			
	 
         </div>
 
        <div class="err_msg hide"></div>
        <div class="updateSuccess hide myDiv1 menucenter"></div>
        
                  
     