<ul>
  <% _.each(subs, function(subs){ %>
  	<% if(subs.get("submenu")) { %>
  		 <li><a href="<%= subs.get('href') %>"><%= subs.get("title") %>&nbsp; &darr;<!--<img src="<%= subs.get('img')%>"> --></a>
	  		 <ul class="subs">
	  		 <% _.each(subs.get("submenu"), function(num, key){ %>
	  		 	<li><a href="<%=num%>"><%=key%></a></li>
	  		 <% }); %>
	  		 </ul>
	  	</li>
  	<% } else {%>
  		<li><a href="<%= subs.get('href') %>"><%= subs.get("title") %></a></li>
  	<% } %>
  <% }); %>
</ul>