    <div class="content-header">Inventory</div>
    <div class="white-shadow content">
    <div class="stocks">
        <ul>
            <li class="white-litegray" title="PRS List">PRS List</li>
            <li class="white-litegray" title="Add Item">Stocks</li>
            <li class="white-litegray" title="Supplier">Supplier</li>
            <li class="white-litegray" title="Stock type">Stock type</li>
            <li class="white-litegray" title="Unit of Measure">Unit of Measure</li>
            <li class="white-litegray" title="Stock Items">Stock Items</li>
        </ul>
    </div> 
    <div class="hide item-forms white-shadow" id="PRS-List">
        <div class="content-header">PRS List</div>
        <div class="PRS">
        <ul>
            <li class="white-litegray" title="Pending PRS">Pending PRS</li>
            <li class="white-litegray" title="Approved PRS">Approved PRS</li>
            <li class="white-litegray" title="Cancelled PRS">Cancelled PRS</li>
            <li class="white-litegray" title="Rejected PRS">Rejected PRS</li>
        </ul>
        </div>    
    </div>
    <div class="hide PRS-list white-shadow" id="Pending-PRS">
        <div class="content-header">Pending PRS</div>        
    </div>
    <div class="hide item-forms white-shadow" id="additem-form">
        <form action="ops/inventory" id="additem-frm">
            <div class="content-header">Basic info</div>
            <div>
                <label><span class="required"></span><div class="input">*Name:</div></label>
                <input class="fld-required" type="text" name="name" />
                <div class="spacer"></div>
            </div>
            <div>
                <label><span class="required"></span><div class="input">*Brand:</div></label>
                <input class="fld-required" type="text" name="brand" />
                <div class="spacer"></div>
            </div>
            <div>
                <label><span class="required"></span><div class="input">*Stock Type</div></label>
                <select class="fld-required" name="stock_type"></select>
                <div class="spacer"></div>
            </div>
            <div>
                <label><div class="input">Description:</div></label>
                <textarea name="description" ></textarea> 
                <div class="spacer"></div>
            </div> 
            <div class="content-header">Sales info.</div>
            <div>
                <label><span class="required"></span><div class="input">*Acq. Price:</div></label>
                <input class="formatdec fld-required" type="text" name="acqui_price" />
                <div class="spacer"></div>
            </div> 
            <div class="content-header">Supplier Info.</div>
            <div>
                <label><span class="required"></span><div class="input">*Supplier:</div></label>
                <select class="fld-required" name="suppliers"></select>
                <div class="spacer"></div>
            </div>
            <div class="content-header">Inventory</div>
            <div>
                <label><span class="required"></span><div class="input">*Qty. in Hand:</div></label>
                <input class="formatdec fld-required" type="text" name="qty_inhand" />
                <div class="spacer"></div>
            </div>
            <div>
                <label><span class="required"></span><div class="input">*Unit:</div></label>
                <select class="fld-required" name="unitof_measure" ></select>
                <div class="spacer"></div>
            </div>
            <div>
                <label><span class="required"></span><div class="input">*ReOrder Pt:</div></label>
                <input class="formatdec fld-required" type="text" name="reorder_point" />
                <div class="spacer"></div>
            </div> 
            <input type="hidden" value="1" name="added_by"/>
            <input type="hidden" value="default image here" name="stock_image"/>
            <div>
                <input class="blue-button" type="submit" value="Add Item" />
            </div>
        </form>
    </div>
    <div class="hide item-forms white-shadow" id="item-stocktype">
        <div class="content-header">Stock Type</div>
        <form action="ops/inventory" id="item-st">
            <div>
                <label><span class="required"></span><div class="input">*Name</div></label>
                <input class="fld-required" type="text" name="name"/>
                <button class="blue-button" type="submit">Add stock type</button>
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
        </form>
      
    </div>
    <div class="hide item-forms white-shadow" id="item-uom">
         <div class="content-header">Unit of Measure</div>
        <form action="ops/inventory" id="item_uom">
            <div>   
                <label><span class="required"></span><div class="input">*Name</div></label>
                <input class="fld-required" type="text" name="name"/>
                <button class="blue-button" type="submit">Add Unit of Measure</button>
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
        </form>
    </div>
    
    <div class="hide item-forms white-shadow" id="item-entry">
        <div class="content-header">Stock Items</div>
        <div class="clr"></div>
        <form action="ops/inventory" id="item-entry-stock">
            <div>
                <label><span class="required">*</span>Name</label>
                <input class="fld-required" type="text" name="name"/>
            
                <button class="blue-button" type="submit">Add stock type</button>
            </div>
            <div class="clr"></div>
        </form>
      
    </div>
   
    <div class="dyn_content">
    </div>
    <div class="item-edit hide class-form pop-form-1">
    <div class="content-header">Item Details</div>
    <form action="books" id="edit-item">
    <div>
        <label><span class="required">*</span>Stock Type:</label>
        <select class="fld-required" name="edit-item-stocktype"></select>
    </div>
    <div>
        <label><span class="required">*</span>Unit:</label>
        <select class="fld-required" name="edit-item-unit"></select>      
    </div>
    <div>
        <label><span class="required">*</span>Name:</label>
        <input class="fld-required" name="edit-item-name"/>    
    </div>
    <div>
        <label><span class="required">*</span>Brand:</label>
        <input class="fld-required" name="edit-item-brand"/>    
    </div>
    <div>
        <label><span class="required">*</span>Qty.in Hand:</label>
        <input class="fld-required" name="edit-item-quantity"/>
    </div>
    <div>
        <label><span class="required">*</span>Unit:</label>
        <input class="fld-required" name="edit-item-unit"/>
    </div>
    <div>
        <label><span class="required">*</span>ReOrder Pt.:</label>
        <input class="fld-required" name="edit-item-reorder"/>
    </div>
    <div>
        <label><span class="required">*</span>Acq. Price:</label>
        <input class="fld-required" name="edit-item-acqprice"/>
    </div>
    <div>
        <label><span class="required">*</span>Supplier:</label>
        <select class="fld-required" name="edit-item-supplier"></select>
    </div>
    <div>
        <label><span class="required">*</span>Description:</label>
        <textarea class="fld-required" name="edit-item-descript"></textarea>
    </div>
    <input type="hidden" name="edit-id" value="" />
    <button class="blue-button" type="submit">Update Stock</button>
    </form>
</div>
<div class="edit-stock hide class-form pop-form-1">
    <div class="content-header">Stock type Details</div>
        <form action="ops/inventory" id="edit-st">
            <div>
                <label><span class="required">*</span>Name</label>
                <input class="fld-required" type="text" name="edit-stock-name"/>
                <input type="hidden" name="edit-id" value="" />
                <button class="blue-button" type="submit">Update stock type</button>
            </div>
        </form>
 </div>
 <div class="edit-uom hide class-form pop-form-1">
    <div class="content-header">Unit of Measure Details</div>
        <form action="ops/inventory" id="edit-uom-frm">
            <div>
                <label><span class="required">*</span>Name</label>
                <input class="fld-required" type="text" name="edit-uom-name"/>
                <input type="hidden" name="edit-id" value="" />
                <button class="blue-button" type="submit">Update Unit of Measure</button>
            </div>
        </form>
 </div>
 <div class="prs-detail hide">
   <div class="prs-popupheader gray-gradient">
     <div class="fields"><label>Description</label></div>
     <div class="fields"><label>Quantity</label></div>
     <div class="fields"><label>Unit of Measure</label></div>
     <div class="fields"><label>Unit price</label></div>
     <div class="fields"><label>Amount</label></div>
   </div>
   <div class="popupprs_list_container">
      <div class="prs-popupcontents">
          <div><div class="desc"></div></div>
          <div><div class="quant"></div></div>
          <div><div class="unt"></div></div>
          <div><div class="untp"></div></div>
          <div><div class="amt amt"></div></div>
      </div>
   </div>
 </div>       
 </div>