<div class="container-header">Reports</div>
    <div class="content white-shadow">
    
        <div class="fbwk">        
        <ul>
            <li class="white-litegray" title="Shortage Wastage">Shortage/Wastage</li>
        </ul>
         
          <div class="hide week_menu" id="shortage_wastage"> 
          <form action="ops/fb" id="frm_sw">
            <div> 
                <div class="spacer"></div>
                <label><span class="required">*</span>Number of Students:</label>
                <input class=" formatdec fld-required" type="text" name="number_of_students"/>
                <label><span class="required">*</span>From:</label>
                <input class="fld-required" type="text" name="from_date"/>
                <label><span class="required">*</span>To:</label>
                <input class="fld-required" type="text" name="to_date"/>
                
                <button class="blue-button" type="submit">Add date</button>
                
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
         </form>
            
            <div class="search-box1" id="date_all">
             <div class="white-shadow menucenter">Search Option</div>
            <label>Search number:</label> <input type="text" name="number_of_stud" /> 
         </div>
        </div>   
    </div>  
    </div>

    <div class="sw-edit sw_contents hide" id="sw">  
    </div>
    <div class="hide sw_contents sw-add" id="swadd">
        <div class="white-litegray menucenter">Add Daily Reports</div>
                            <div class="sw-header1 skyblue-gradient white-shadow">  
                                
                                <div><label class="sw-text id"></label><label>Day</label></div>
                                <div><label>Breakfast</label></div>
                                <div><label>Lunch</label></div>
                                <div><label>Dinner</label></div>
                                
                            </div>
        <div class="sw_list_container1">
        <div class="sw-contents1">
                            <form action = "ops/reports" id="addreports">
                                <div>
                                    <select class="fld-required" name="day">
                                     <option value="">Report Day</option>
                                     <option value="1">Monday</option>
                                     <option value="2">Tuesday</option>
                                     <option value="3">Wednesday</option>
                                     <option value="4">Thursday</option>
                                     <option value="5">Friday</option>
                                     <option value="6">Saturday</option>
                                     <option value="7">Sunday</option>
                                    </select>
                                </div>
                                <div>
                                    <input class="fld-required input-field formatdec" type="text" name="b_shortage">
                                    <input class="fld-required input-field formatdec" type="text" name="b_wastage">
                                    <input class="fld-required input-field formatdec" type="text" name="b_comment">
                                </div>
                                <div>
                                    <input class="fld-required input-field formatdec" type="text" name="l_shortage">
                                    <input class="fld-required input-field formatdec" type="text" name="l_wastage">
                                    <input class="fld-required input-field formatdec" type="text" name="l_comment">
                                </div>
                                <div>
                                    <input class="fld-required input-field formatdec" type="text" name="d_shortage">
                                    <input class="fld-required input-field formatdec" type="text" name="d_wastage">
                                </div>
                                <input type="hidden" name="sw_id" value=""/>
                                <button class="blue-button" type="submit">Add</button>
                            </form>
                            </div>
        </div>
        <div class="white-litegray hint">1st column: shortage of food | 2nd column: wastage of food (based on percentage) | 3rd column: quality of food (survey – rate from 1 to 5, 5 is the highest)</div>
    </div>
                  
        <div class="err_msg hide"></div>
        <div class="dyn_content"></div>