<div class="content-header">Stocks</div>
<div class="content white-shadow">
    <div class="stocks-tsk">
        <ul>
            <li class="white-litegray" title="Stock Count">Stock Count</li>
            <li class="white-litegray" title="Add Stock">Add Stock</li>
            <li class="white-litegray" title="Stock List">Stock List</li>
        </ul>
    </div>
    <div class="hide stocks_form white-shadow" id="stocks-list">
        <div class="content-header">Stocks List</div>
        <div class="STOCK-LIST">
        <ul>
            <li class="white-litegray" title="Food and Beverage">F and B Stocks</li>
            <li class="white-litegray" title="Office Supplies">Office Supplies Stocks</li>
            <li class="white-litegray" title="Larry's Place">Larry's Place Stocks</li>
            <li class="white-litegray" title="Hotel Supplies">Hotel Supplies Stocks</li>
        </ul>
        </div>
        <div class="hide stocks-list search-box2 white-shadow" id="searchfb">
            <div class="spacer"></div>
            <label>Search Stock Description</label> <input type="text" name="fbstock_descrip" />
            <div class="spacer"></div>               
        </div>
        <div class="hide stocks-list search-box2 white-shadow" id="searchos">
            <div class="spacer"></div>
            <label>Search Stock Description</label> <input type="text" name="osstock_descrip" />
            <div class="spacer"></div>               
        </div>
        <div class="hide stocks-list search-box2 white-shadow" id="searchlp">
            <div class="spacer"></div>
            <label>Search Stock Description</label> <input type="text" name="lpstock_descrip" />
            <div class="spacer"></div>               
        </div>
        <div class="hide stocks-list search-box2 white-shadow" id="searchhs">
            <div class="spacer"></div>
            <label>Search Stock Description</label> <input type="text" name="hsstock_descrip" />
            <div class="spacer"></div>               
        </div>
    </div>
</div>
<div class="hide stocks_form" id="stocks_in">
    <div class="stock_frm_box">
        <div class="content-header">Add New Stock Details</div>
        <form action="ops/inventory" id="add-stock">
            <div class="spacer"></div>
            <div>
            <label><span class="required">*</span>Supplier</label>
            <input class="fld-required" type="text" name="name"/>
            </div>
        </form>
    </div>  
</div>
 <div class="hide stocks-detail white-shadow">
 </div>
<div class="dyn_content"></div>

