<div class="container-header">SRS Form</div>
<div class="container-contents">
	<div class="validation-note">Note: Please fill up all the required fields mark with *</div>
	<div class="clr"></div>
	<div class="srs-form-header">
		<div class="srs-form-requestedby">
			<label>Requested By: </label>
			<label><%=users_name%></label>
			<div class="clr"></div>
		</div>
		<div class="srs-form-department">
			<label>Department: </label>
			<label><%=department_name%></label>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
		<div class="srs-form-purpose">
			<label>Purpose:<span class="required">*</span> </label>
			<input type="text" name="srs_purpose" class="validation-required">
			<div class="clr"></div>
		</div>
		<div class="srs-form-date-required">
			<label>Date Required:<span class="required">*</span> </label>
			<input type="text" id="srs_date_required" name="srs_date_required" class="validation-required">
			<div class="clr"></div>
		</div>
		<div class="srs-select-items">
			<a href="#/forms/srs/form">Click here to select items and it add to the form</a>
		</div>
		<div class="srs-form-lists"></div>
	</div>
</div>