<div class="container-header">SRS List</div>
<div class="container-contents">
	<div class="forms-list-search forms-list-search-from">
		<label>Period From: </label>
		<input type="text" id="period_from" name="period_from">
	</div>
	<div class="forms-list-search forms-list-search-to">
		<label>To: </label>
		<input type="text" id="period_to" name="period_to">
	</div>
	<div class="forms-list-search forms-list-search-status">
		<label>Status: </label>
		<select name="forms_list_status" id="forms_list_status">
			<option>Pending</option>
			<option>Rejected</option>
			<option>Cancelled</option>
			<option>Approved</option>
		</select>
	</div>
	<div class="forms-list-search forms-list-search-action">
		<input type="button" class="css3-button srs-list-search" id="forms_list_search" name="srs-list-search" value="Search">
	</div>
	<div class="clr"></div>
	<div class="forms-list">
		<div class="header-for-list-display">
			<div class="srs-pendapvd-head-cancel">Status</div>
			<div class="srs-pendapvd-head-srsid">SRS ID</div>
			<div class="srs-pendapvd-head-date-filed">Date Filed</div>
			<div class="srs-pendapvd-head-department">Department</div>
			<div class="srs-pendapvd-head-purpose">Purpose</div>
			<div class="srs-pendapvd-head-department-approval">Dept. Head Approval</div>
			<div class="clr"></div>
		</div>
		<%_.each(srs_forms, function(srf){%>
			<div class="srs-pendapvd-list">
				<div class="srs-pendapvd-list-cancel">
					<%
						var head_appr = srf.head_appr;
					%>
					<% if( head_appr.toLowerCase() === "rejected" ) { %>
						<label>Rejected</label>
					<% } else if( head_appr.toLowerCase() === "cancelled" ) { %>
						<label>Cancelled</label>
					<% } else if( head_appr.toLowerCase() === "pending" ) { %>
						<a href="#/forms/srs/list" class="cancel-srs <%=srf.srs_id%>">Cancel</a>
					<% } else if( head_appr.toLowerCase() === "approved" ) { %>
						<label>Approved</label>
					<% } %>
				</div>
				<div class="srs-pendapvd-list-srsid"><%=srf.srs_id%></div>
				<div class="srs-pendapvd-list-date-filed"><%=srf.date_requested%></div>
				<div class="srs-pendapvd-list-department"><%=users_name.department_name%></div>
				<div class="srs-pendapvd-list-purpose"><%=srf.purpose%></div>
				<div class="srs-pendapvd-list-department-approval"><%=srf.head_appr%></div>
				<div class="clr"></div>
			</div>
		<%});%>
		<% if( pagination != "" ) { %>
			<div class="page-pagination"><%=pagination%></div>
		<% } %>
	</div>
</div>