<div class="header-for-list-display">
	<div class="srs-pendapvd-head-cancel">Status</div>
	<div class="srs-pendapvd-head-srsid">SRS ID</div>
	<div class="srs-pendapvd-head-date-filed">Date Filed</div>
	<div class="srs-pendapvd-head-department">Department</div>
	<div class="srs-pendapvd-head-purpose">Purpose</div>
	<div class="srs-pendapvd-head-department-approval">Dept. Head Approval</div>
	<div class="clr"></div>
</div>
<%_.each(srs_forms, function(srf){%>
	<div class="srs-pendapvd-list">
		<div class="srs-pendapvd-list-cancel">
			<% var head_appr = srf.head_appr; %>
			<% if( head_appr.toLowerCase() === "rejected" ) { %>
				<label>Rejected</label>
			<% } else if( head_appr.toLowerCase() === "cancelled" ) { %>
				<label>Cancelled</label>
			<% } else if( head_appr.toLowerCase() === "pending" ) { %>
				<a href="#/forms/srs/list" class="cancel-srs <%=srf.srs_id%>">Cancel</a>
			<% } else if( head_appr.toLowerCase() === "approved" ) { %>
				<label>Approved</label>
			<% } %>
		</div>
		<div class="srs-pendapvd-list-srsid"><%=srf.srs_id%></div>
		<div class="srs-pendapvd-list-date-filed"><%=srf.date_requested%></div>
		<div class="srs-pendapvd-list-department"><%=users_name.department_name%></div>
		<div class="srs-pendapvd-list-purpose"><%=srf.purpose%></div>
		<div class="srs-pendapvd-list-department-approval"><%=srf.head_appr%></div>
		<div class="clr"></div>
	</div>
<%});%>
<% if( pagination != "" ) { %>
	<div class="page-pagination"><%=pagination%></div>
<% } %>