<% if( typeof srs_ids !== 'undefined' ) { %>
	<div class="header-for-list-display">
		<div class="srs-form-list-header-delete">Remove</div>
		<div class="srs-form-list-header-description">Description</div>
		<div class="srs-form-list-header-qty">Quantity</div>
		<div class="srs-form-list-header-uprice">Unit Price</div>
		<div class="srs-form-list-header-amt">Amount</div>
		<div class="clr"></div>
	</div>
	<% _.each(srs_ids, function($e) { %>
		<% _.each(si_data, function(si_data) { %>
			<% if( $e == si_data.id ) { %>
				<div class="srs-form-list-contents srs-content-<%=si_data.id%>">
					<div class="srs-form-list-contents-delete">
						<a href="#/forms/srs/form" id="srs-content-<%=si_data.id%>">Remove</a>
					</div>
					<div class="srs-form-list-contents-description"><%=si_data.description%></div>
					<div class="srs-form-list-contents-qty item-qty">1</div>
					<div class="srs-form-list-contents-uprice item-price"><%=si_data.unit_price%></div>
					<div class="srs-form-list-contents-amt item-amt"><%=si_data.unit_price%></div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			<%}%>
		<% }); %>
	<% }); %>
	<div class="srs-submit-form">
		<input type="button" class="css3-button" name="submit_srs" value="Submit">
	</div>
<% } %>