<div class="header-for-list-display">
	<div class="srs-select-header-selector">Select</div>
	<div class="srs-select-header-description">Description</div>
	<div class="srs-select-header-uom">Units of Measure</div>
	<div class="srs-select-header-up">Unit Price</div>
	<div class="srs-select-header-stockinhand">Stock in Hand</div>
</div>
<% if( !_.isEmpty(srs_ids)  ) { %>
	<%_.each(si_data, function(si_data) { %>
		<% if( !in_array( si_data.id, srs_ids ) ) { %>
			<div class="srs-stock-lists">
				<div class="srs-select-content-selector">
					<input type="checkbox" name="select_srs_item_<%=si_data.id%>" value="<%=si_data.id%>">
				</div>
				<div class="srs-select-content-description"><%=si_data.description%></div>
				<div class="srs-select-content-uom"><%=si_data.unitsof_measure%></div>
				<div class="srs-select-content-uom"><%=si_data.unit_price%></div>
				<div class="srs-select-content-stockinhand"><%=si_data.stock_inhand%></div>
				<div class="clr"></div>
			</div>
		<%} else {%>
			<div class="srs-stock-lists item-disabled">
				<div class="srs-select-content-selector">
					<input type="checkbox" disabled="disabled" name="select_srs_item_<%=si_data.id%>" value="<%=si_data.id%>">
				</div>
				<div class="srs-select-content-description"><%=si_data.description%></div>
				<div class="srs-select-content-uom"><%=si_data.unitsof_measure%></div>
				<div class="srs-select-content-uom"><%=si_data.unit_price%></div>
				<div class="srs-select-content-stockinhand"><%=si_data.stock_inhand%></div>
				<div class="clr"></div>
			</div>
		<% } %>
	<%});%>
<% } else { %>
	<%_.each(si_data, function(si_data){%>
		<div class="srs-stock-lists">
			<div class="srs-select-content-selector">
				<input type="checkbox" name="select_srs_item_<%=si_data.id%>" value="<%=si_data.id%>">
			</div>
			<div class="srs-select-content-description"><%=si_data.description%></div>
			<div class="srs-select-content-uom"><%=si_data.unitsof_measure%></div>
			<div class="srs-select-content-uom"><%=si_data.unit_price%></div>
			<div class="srs-select-content-stockinhand"><%=si_data.stock_inhand%></div>
			<div class="clr"></div>
		</div>
	<%});%>
<% } %>

