<% _.each(result, function(val) { %>
	<div class="asset-transfer-search-contents" id="transfer-<%=val.trans_to%>">
		<div class="search-result-name-content"><%=val.name%></div>
		<div class="search-result-dept-name-content"><%=val.dept_name%></div>
		<div class="clr"></div>
	</div>
<% }); %>