<div class="header-for-list-display">
	<div class="asset-list-head-assettag">Asset Tag</div>
	<div class="asset-list-head-brand">Brand</div>
	<div class="asset-list-head-serialnum">Serial Number</div>
</div>
<div class="clr"></div>
<div class="disp-assets-transret">
	<%_.each(asset_list, function(alist) {%>
		<% var asset_id = alist.asset_id, tracker_id = alist.tracker_id; %>
		<% if(jsHelper.inArray( "asset-"+asset_id+":"+tracker_id, resultIds )) { %>
			<div class="asset-list-content" id="asset-<%=alist.asset_id%>:<%=alist.tracker_id%>">
				<div class="asset-list-content-assettag"><%=alist.asset_tag%></div>
				<div class="asset-list-content-brand"><%=alist.brand%></div>
				<div class="asset-list-content-serialnum"><%=alist.serial_num%></div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		<% } %>
	<%});%>
</div>
<div class="clr"></div>
<div class="asset-transfer-to">
	<div class="asset-transfer-search">
		<% _.each(result, function(val) { %>
			<% var trans = "transfer-"+val.trans_to; %>
			<% if(( typeof transferto != 'undefined' ) && trans == transferto  ){ %>
				<label>The assets will be transferred to: </label>
				<%=val.name%> - <%=val.dept_name%>
			<% } %>
		<% }); %>
	</div>
</div>