<div class="header-for-list-display">
	<div class="asset-list-head-assettag">Asset Tag</div>
	<div class="asset-list-head-brand">Brand</div>
	<div class="asset-list-head-serialnum">Serial Number</div>
</div>
<div class="clr"></div>
<div class="disp-assets-transret">
<% if( !_.isEmpty(resultIds) ) { %>
	<%_.each(asset_list, function(alist) {%>
		<% var asset_id = alist.asset_id, tracker_id = alist.tracker_id; %>
		<% if(jsHelper.inArray( "asset-"+asset_id+":"+tracker_id, resultIds )) { %>
			<div class="asset-list-content select-asset-list-content item-disabled item-italic" id="asset-<%=alist.asset_id%>:<%=alist.tracker_id%>">
				<div class="asset-list-content-assettag"><%=alist.asset_tag%></div>
				<div class="asset-list-content-brand"><%=alist.brand%></div>
				<div class="asset-list-content-serialnum"><%=alist.serial_num%></div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		<% } else { %>
			<div class="asset-list-content select-asset-list-content" id="asset-<%=alist.asset_id%>:<%=alist.tracker_id%>">
				<div class="asset-list-content-assettag"><%=alist.asset_tag%></div>
				<div class="asset-list-content-brand"><%=alist.brand%></div>
				<div class="asset-list-content-serialnum"><%=alist.serial_num%></div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		<% } %>
	<%});%>
<% } else { %>
	<%_.each(asset_list, function(alist) { %>
		<div class="asset-list-content select-asset-list-content" id="asset-<%=alist.asset_id%>:<%=alist.tracker_id%>">
			<div class="asset-list-content-assettag"><%=alist.asset_tag%></div>
			<div class="asset-list-content-brand"><%=alist.brand%></div>
			<div class="asset-list-content-serialnum"><%=alist.serial_num%></div>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	<% }); %>
<% } %>
</div>
<div class="clr"></div>
<div class="asset-transfer-to">
	<div class="asset-transfer-search">
		<label>Transfer to (search name): </label><input type="text" id="search-transfer-name">
	</div>
</div>
<div class="header-for-list-display">
	<div class="search-result-name-header">Name</div>
	<div class="search-result-dept-name-header">Department Name</div>
</div>
<div class="clr"></div>
<div class="asset-transfer-search-results">
	<% _.each(result, function(val) { %>
		<% var trans = "transfer-"+val.trans_to; %>
		<% if( (typeof transferto != 'undefined') && (transferto == trans ) ) { %>
			<div class="asset-transfer-search-contents item-disabled item-italic" id="<%=trans%>">
				<div class="search-result-name-content"><%=val.name%></div>
				<div class="search-result-dept-name-content"><%=val.dept_name%></div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		<% } else { %>
			<div class="asset-transfer-search-contents" id="transfer-<%=val.trans_to%>">
				<div class="search-result-name-content"><%=val.name%></div>
				<div class="search-result-dept-name-content"><%=val.dept_name%></div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		<% } %>
	<% }); %>
</div>
<div class="clr"></div>