/* 
    Document   : litebox
    Created on : Nov 21, 2011, 11:27:22 AM
    Author     : celi-rombert
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
div.litebox-bg {
    opacity: 0.7; width: 100%; height: 100%; position: absolute;
    z-index: 1001; top: 0; left: 0; display: none; background-color: #000;
}
div.litebox{
    position: absolute; display: none; top: 20%; left: 50%;
    margin-left: -200px; z-index: 1002; background-color: #fff;
}