/* 
    Document   : login
    Created on : Nov 10, 2011, 1:36:12 PM
    Author     : celi-rombert
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body {
    padding: 0; margin: 0;
}
textarea {resize:none}
div#loginSelectContainer {
    padding-left:130px; width: 600px; margin: 250px auto;
}
div.loginSelect {
    width: 250px; height: 160px; background-color:; float: left; padding: 10px;
}
.sprite-sale { background: url('../login_img/r1.png') no-repeat scroll -101px -105px transparent; width: 50px; height: 40px; }

div#logGuest {
    background: url('../login_img/realStateFront.png') 240px -250px; width: 120px; height: 100px;
}
div#logGuest:hover {
    background: url('../login_img/realStateFront2.png') 240px -250px; width: 120px; height: 100px;
}

div#logClient {
    background: url('../login_img/realStateFront.png') 375px -250px; width: 120px; height: 100px;
}
div#logClient:hover {
    background: url('../login_img/realStateFront2.png') 375px -250px; width: 120px; height: 100px;
}
.loginimg{ background: url('../login_img/realStateFront.png') 375px -250px; width: 145px; height: 120px; float:left; position:absolute;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px; 
	}
div.loginContainer {
    width: 350px; height: 200px; margin-top: 80px; margin-left: 50px;
    display: none; position:absolute;
}
div.loginContainer2 {
    width: 384px; height: 100px; position: absolute; display: none; margin: 85px;
}
div.loginForm {
    float: right; width: 300px;
}
div.loginForm label {
    color: #FFFFFF; font-weight:bold; display: block; font-size: 12px; margin: 0 20px auto; float:right;
	font-family:Arial, Helvetica, sans-serif;
}
div.loginForm2 {
    float: right; width: 300px;
}
div.loginForm2 label {
    color: gray; display: block; font-size: 12px; margin: 0 20px auto; text-align:center;
}
div#logAdmin div.popup {visibility: hidden;}
div#logAdmin:hover div.popup {visibility: inherit; position:absolute;}
div#logClient div.popup2 {visibility: hidden;}
div#logClient:hover div.popup2 {visibility: inherit; position:absolute;}
input.imginput {
    width: 175px; height: 37px; border: 0px; line-height: 20px;
    background: url('../login_img/inputtxtimg.png') no-repeat;
    float: right; padding: 0 12px 0 14px; margin: 4px 15px 0 0; color: #aaaaaa;
    text-align: left;
}	
span.loginHeader {
    margin: 150px 50px 0 0; text-align:center; color:yellow;
    font-family: sans-serif; font-size: 40px; font-weight:bold;
	text-shadow: 1px 1px white, -1px -1px #444;
}
button.bluebutton {
    background: url('../login_img/blue_button.png') no-repeat; float: right;
    width: 120px; height: 35px; border: 0px; color: white; font-size: 17px;
    font-weight: 700; text-align: center; margin: 4px 48px 0 0; padding-bottom: 4px;
}
button.bluebutton2 {
    background: url('../login_img/blue_button.png') no-repeat;
    width: 120px; height: 35px; border: 0px; color: white; font-size: 17px;
    font-weight: 700; text-align: center; margin: 4px 48px 0 0; padding-bottom: 4px;
	position: absolute;
}
button.bluebutton3 {
    overflow: auto;
height: auto;
width: 260px; 
left: 50%;
top: 50%;
right: 50%;
padding:10px;
font-weight: bold;
background-color: white;
font-family:tahoma;
text-align:center; 

/* outer shadows  (note the rgba is red, green, blue, alpha) */
-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}

button.bluebutton:hover {
    color: #e0e0e0;
}
.clr {
    clear: both;
}
.log_msg {
	position:absolute;
	top: 63%;
	bottom: 50%;
	left: 47%;
	right: 40%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color:#FF0000;
}
.shadowbox {
overflow: auto;
height: auto;
width: 260px; 
left: 50%;
top: 50%;
right: 50%;
padding:10px;
background-color: white;
font-family:tahoma;
text-align:center; 

/* outer shadows  (note the rgba is red, green, blue, alpha) */
-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}
.spacer{ padding-top:10px;}
.real_log{ text-shadow: 1px 1px white, -1px -1px #444;}
.hide {visibility:hidden;}
.font { color:#FFFFFF; font-weight: bold;}

.loginbox {
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px #888;
box-shadow: 0 0 5px #888;
font-family:tahoma;
background-color:#CCCCCC;
padding: 2px; font-size:11px; font-weight:bold;
}
.failed{background: url('../login_img/stateIcon.png') 0px -0px; width: 120px; height: 100px;}