<div class="container-header">Food and Beverage</div>
    <div class="content white-shadow">
    <div class="ing_frm white-shadow" id="ing">
        <div class="fboption">        
        <ul>
            <li class="white-litegray" title="Ingredients">Ingredients</li>
            <li class="white-litegray" title="Weekly Menu">Weekly Menu</li>
            <li class="white-litegray" title="Utensils">Inventory</li>
            <li class="white-litegray" title="Deliveries">Schedule and Deliveries</li>
        </ul>
         
          <div class="hide week_menu" id="ingredient">
         <div class="white-litegray input">Ingredient</div>
         <form action="ops/fb" id="frm_ing">
            <div>   
                <label><span class="required">*</span>Name:</label>
                <input class="fld-required" type="text" name="ingred-name"/>
                <label><span class="required">*</span>Description:</label>
                <input class="fld-required" type="text" name="ingred-desc"/>
                <label><span class="required">*</span>Day:</label>
                    <select class="fld-required" name="day">
                    </select>
                <button class="blue-button" type="submit">add ingredient</button>
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
         </form>
         <div class="search-box1" id="ingred_all">
             <div class="white-shadow menucenter">Search Option</div>
            <label>Search name:</label> <input type="text" name="all_ing_name" />
            <select name="search-day">  
            </select>
         </div>
        </div>   
         
         <div class="hide week_menu class-form" id="wk_menu">
         <form action="ops/fb" id="frm_menu">
            <div class="white-litegray input">Menu</div>
            <div>   
                <label><span class="required">*</span>Name:</label>
                <input class="fld-required" type="text" name="m_name"/>
                <label><span class="required">*</span>Description:</label>
                <input class="fld-required" type="text" name="m_desc"/>
                <label><span class="required">*</span>Meal Time:</label>
                    <select class="fld-required" name="ml_time">     
                    </select>     
                <div class="spacer"></div>
            </div>
            <div>   
                <label><span class="required">*</span>Month:</label>
                    <select class="fld-required" name="ml_month">             
                    </select>
                <label><span class="required">*</span>Week:</label>
                    <select class="fld-required" name="ml_week">
                    </select>
                <button class="blue-button" type="submit">add menu</button>
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
         </form>
         <div class="search-box1" id="menu_all">
             <div class="white-shadow menucenter">Search Option</div>
            <label>Search name:</label> <input type="text" name="all_menu_name" />
            <select name="search_mealtype">
                <option value="">-Meal Time-</option>
                <option value="1">Breakfast</option>
                <option value="2">Lunch</option>
                <option value="3">Dinner</option>
            </select>
            <select name="search_month">
                <option value="">-Menu Month-</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
         </div>
        </div>
        
         <div class="hide week_menu class-form" id="menu_utensils">
         <form action="ops/fb" id="frm_utensils">
            <div class="white-litegray input">Utensils</div>
            <div>
                <label><span class="required">*</span>Name:</label>
                <input class="fld-required" type="text" name="uten_name"/>
                <label><span class="required">*</span>Description:</label>
                <input class="fld-required" type="text" name="u_desc"/>
                <label><span class="required">*</span>Quantity:</label>
                <input class=" formatdec fld-required" type="text" name="quantity"/>
            </div>
            <div>   
                <button class="blue-button" type="submit">add utensil</button>
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
         </form>
         <div class="search-box1">
             <div class="white-shadow menucenter">Search Option</div>
            <label>Search name:</label> <input type="text" name="all_utensils_name" />
         </div>
        </div>
            
        <div class="hide week_menu class-form" id="sched_deliver">
         <form action="ops/fb" id="frm_deliver_sched">
            <div class="white-litegray input">Schedule of Deliveries</div>
            <div>
                <label><span class="required">*</span>Description:</label>
                <select class="fld-required" name="item-name"></select>
                <label><span class="required">*</span>Supplier:</label>
                <select class="fld-required" name="item-supplier"></select>
                <label><span class="required">*</span>Date:</label>
                <input class="fld-required" type="text" name="date-deliver"/> 
            </div>
            <div>
                <button class="blue-button" type="submit">add schedule</button>
            </div>
            <div class="spacer"></div>
         </form>
         <div class="search-box1" id="utensils_all">
             <div class="white-shadow menucenter">Search Option</div>
            <label>Search name:</label> <input type="text" name="item_name_search" />
         </div>
        </div>
            
            
    </div>  
    </div>         
    </div>
        <div class="err_msg hide"></div>
        <div class="dyn_content"></div>
    <div class="ingredient-edit hide class-form pop-form-1">
        <div class="content-header">Update Ingredient</div>
        <form action="ops/fb" id="edit-ingred">
            <div>
                <label><span class="required">*</span>Name:</label>
                <input class="fld-required st11" type="text" name="edit-ing-name"/>
            </div>
            <div>
                <label><span class="required">*</span>Description:</label>
                <input class="fld-required st22" type="text" name="edit-ing-desc"/>
            </div>
            <div>
                <label><span class="required">*</span>Day:</label>
                <select class="fld-required day" name="edit-ing-day"></select>
            </div>
            <input type="hidden" name="edit-id" value=""/>
            <button class="blue-button to-right" type="submit">Update</button>
        </form>
    </div>
    <div class="menu-edit hide class-form pop-form-1">
    <div class="content-header">Update Menu</div>    
     <form action="ops/fb" id="edit_frm_menu">
            <div>   
                <label><span class="required">*</span>Name:</label>
                <input class="fld-required" type="text" name="edit_m_name"/>
            </div>
             <div>
                <label><span class="required">*</span>Description:</label>
                <input class="fld-required" type="text" name="edit_m_desc"/>
             </div>
             <div>
                <label><span class="required">*</span>Meal Time:</label>
                    <select class="fld-required ml_time" name="edit_ml_time">
                    </select>     
                <div class="spacer"></div>
            </div>
            <div>   
                <label><span class="required">*</span>Month:</label>
                    <select class="fld-required ml_month" name="edit_ml_month">  
                    </select>
            </div>
            <div>
                <label><span class="required">*</span>Week:</label>
                    <select class="fld-required ml_week" name="edit_ml_week">           
                    </select>
                <input type="hidden" value="" name="edit-id"/>
                <button class="blue-button" type="submit">Update menu</button>
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
         </form>   
    </div>
    <div class="utensils-edit hide class-form pop-form-1">   
     <form action="ops/fb" id="edit_frm_utensils">
            <div class="content-header">Update Utensils</div>
            <div>
                <label><span class="required">*</span>Name:</label>
                <input class="fld-required" type="text" name="edit_uten_name"/>
            </div>
            <div>
                <label><span class="required">*</span>Description:</label>
                <input class="fld-required" type="text" name="edit_u_desc"/>
            </div>
            <div>
                <label><span class="required">*</span>Quantity:</label>
                <input class=" formatdec fld-required" type="text" name="edit-quantity"/>
            </div>
            <div>   
                <input type="hidden" name="edit-id" value=""/>
                <button class="blue-button" type="submit">Update utensil</button>
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
         </form> 
    </div>
     <div class="sd-edit hide class-form pop-form-1">
    <div class="content-header">Update Menu</div>    
     <form action="ops/fb" id="edit_sd">
            
            <div>   
                <label><span class="required">*</span>Item:</label>
                    <select class="fld-required" name="edit_item">  
                    </select>
            </div>
            <div>
                <label><span class="required">*</span>Supplier:</label>
                    <select class="fld-required" name="edit_supplier">           
                    </select>
            </div>
            <div>
                   
                <label><span class="required">*</span>Date Deliver:</label>
                <input class="fld-required" type="text" name="edit_date"/>
             
                <input type="hidden" value="" name="edit-id"/>
                <button class="blue-button" type="submit">Update Delivery</button>
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
         </form>   
    </div>    
       

