<% if(_.isEmpty(result)) { %>
	No results found.
<% } else { %>
	<%_.each(result, function(result) {%>
		<div class="gust-list">
			<div class="guest-list-head">
				<div class="gl-pm-toggle list-toggle">+</div>
				<div class="gl-book-no">Name: <%=result.guest_firstname%> <%=result.guest_lastname%></div>
				<!-- <div class="gl-booking-type">Booking Type: Agoda</div> -->
				<div class="gl-room-number">Room: <%=result.room_number%></div>
				<div class="clr"></div>
			</div>
			<div class="glf-c">
				<div class="glf"><label>First Name: </label><%=result.guest_firstname%></div>
				<div class="glf"><label>Room No: </label><%=result.room_number%></div>
				<div class="glf"><label>Last Name: </label><%=result.guest_lastname%></div>
				<div class="glf"><label>Book ID: </label><%=result.booking_id%></div>
				<div class="glf"><label>Gender: </label><%=result.gender%></div>
				<div class="glf"><label>Booking Type: </label><%=result.booking_type%></div>
				<div class="glf"><label>Address: </label><%=result.address%></div>
				<%
					var check_InOut = function(time) {
						var result = "";
						time_ = time.split(" ");
						if( time_[0] != '01/01/1970' ) {
							result = time;
						}
						return result;
					};
					
					var check_in = check_InOut(result.check_in);
					var check_out = check_InOut(result.check_out);
				%>
				<div class="glf"><label>Check In: </label><%=check_in%></div>
				<%
					var dob = result.dob;
					if( dob == '0000-00-00' ) {
						dob = "";
					} else {
						dob = dob.split('-');
						dob = dob[1]+'/'+dob[2]+'/'+dob[0];
					}
				%>
				<div class="glf"><label>Date of Birth: </label><%=dob%></div>
				<div class="glf"><label>Check Out: </label><%=check_out%></div>
				<div class="glf"><label>Email: </label><%=result.email_address%></div>
				<% 
					var pickup_time = ( format_time(result.pick_up_time) === "00:00:00" ) ? "" : format_time(result.pick_up_time);
					var sendoff_time = ( format_time(result.send_off_time) === "00:00:00" ) ? "" : format_time(result.send_off_time);
					
					function format_time( time ) {
						var time_ = time.split(":");
						if( time !== "00:00:00" ) {
							var hour = ( parseInt(time_[0]) > 12 ) ? parseInt(time_[0]) - 12 : parseInt(time_[0]);
							time = hour+":"+time_[1]+( ( parseInt(time_[0]) > 12 ) ? " PM" : " AM" );
						}
						return time;
					}
				%>
				<div class="glf"><label>Pick Up Time: </label><%=pickup_time%></div>
				<div class="glf"><label>Country: </label><%=result.country%></div>
				<div class="glf"><label>Send Off Time: </label><%=sendoff_time%></div>
				<div class="glf"><label>Civil Status: </label><%=result.civil_status%></div>
				<div class="glf"><label>Passport No: </label><%=result.passport_no%></div>
				<div class="glf"><label>Contact No: </label><%=result.contact_no%></div>
				<div class="glf"><label>&nbsp; </label></div>
				<div class="clr"></div>
				<div class="glfm">
					Comments: 
					<label><%=result.comment%></label>
					<div class="clr"></div>
				</div>
				<div class="glf"><label>Status: </label><%=result.status%></div>
				<div class="glf"><label>Date Created: </label><%=result.date_added%></div>
				<div class="glf"><label>Added by: </label><%=result.staff%></div>
				<div class="glf"><label>&nbsp; </label></div>			
				<div class="clr"></div>
				<% if(result.status !== 'checkout') { %>
					<div class="glfm glf-NBB">
						<input type="button" class="gli-edit" id="<%=result.aid%>:<%=result.gid%>" value="Edit"/>
						<div class="clr"></div>
					</div>
				<% } %>
				<div class="clr"></div>
			</div>
		</div>
	<% });%>
	<div class="page-pagination"><%=pagination%></div>
<% } %>