<%_.each(result, function(result) {%>
	<% if( aid == result.aid && gid == result.gid ) { %>
		<div class="glf"><label>First Name: </label>
			<input type="text" name="firstname" id="firstname" value="<%=result.guest_firstname%>">
		</div>
		<div class="glf"><label>Room No: </label>
			<input type="text" class="disabled-field" id="room_number" value="<%=result.room_number%>" disabled="disabled">
		</div>
		<div class="glf"><label>Last Name: </label>
			<input type="text" name="lastname" id="lastname" value="<%=result.guest_lastname%>">
		</div>
		<div class="glf"><label>Book ID: </label>
			<input type="text" name="booking_id" id="booking_id" value="<%=result.booking_id%>">
		</div>
		<div class="glf"><label>Gender: </label>
			<select class="css3-select" id="le_gender" name="le_gender">
				<option value="male" <% if(result.gender == 'male') { %> selected="selected" <%}%>>Male</option>
				<option value="female" <% if(result.gender == 'female') { %> selected="selected" <%}%> >Female</option>
			</select>
		</div>
		<div class="glf"><label>Booking Type: </label>
			<select class="css3-select" id="le_booking_type" name="le_booking_type">
				<option value="booking.com" <% if(result.booking_type == 'booking.com' ) { %> selected="selected" <% } %> >Booking.com</option>
				<option value="asia-rooms" <% if(result.booking_type == 'asia-rooms' ) { %> selected="selected" <% } %> >Asia Rooms</option>
				<option value="agoda" <% if(result.booking_type == 'agoda' ) { %> selected="selected" <% } %> >Agoda</option>
				<option value="late-rooms" <% if(result.booking_type == 'late-rooms' ) { %> selected="selected" <% } %> >Late Rooms</option>
				<option value="rates-go" <% if(result.booking_type == 'rates-go' ) { %> selected="selected" <% } %> >Rates Go</option>
				<option value="walk-in" <% if(result.booking_type == 'walk-in' ) { %> selected="selected" <% } %> >Walk-in</option>
			</select>
		</div>
		<%
			var check_InOut = function(time) {
				var result = "";
				time_ = time.split(" ");
				if( time_[0] != '01/01/1970' ) {
					result = time;
				}
				return result;
			};
			
			var check_in = check_InOut(result.check_in);
			var check_out = check_InOut(result.check_out);
		%>
		<div class="glf"><label>Address: </label>
			<input type="text" name="le_address" id="le_address" value="<%=result.address%>">
		</div>
		<div class="glf"><label>Check In: </label>
			<input type="text" name="check_in" id="check_in" value="<%=check_in%>">
		</div>
		<div class="glf"><label>Date of Birth: </label>
			<%
				var dob = result.dob;
				if( dob == '0000-00-00' ) {
					dob = "";
				} else {
					dob = dob.split('-');
					dob = dob[1]+'/'+dob[2]+'/'+dob[0];
				}
			%>
			<input type="text" name="le_dob" id="le_dob" value="<%=dob%>">
		</div>
		<div class="glf"><label>Check Out: </label>
			<input type="text" name="check_out" id="check_out" value="<%=check_out%>">
		</div>
		<div class="glf"><label>Email: </label>
			<input type="text" name="le_email" id="le_email" value="<%=result.email_address%>">
		</div>
		<div class="glf"><label>Pick Up Time: </label>
			<%
				function ampm( time ) {
					var ampm = "";
					if( time != "00:00:00" ) {
						var time_ = time.split(":");
						ampm = ( time_[0] > 12 ) ? (time_[0] - 12)+":"+time_[1]+" pm" : time_[0]+":"+time_[1]+" am";
					}
					return ampm;
				};
				var p_time = ampm(result.pick_up_time);
				var s_time = ampm(result.send_off_time);
			%>
			<input type="text" name="le_pickup_time" id="le_pickup_time" value="<%=p_time%>">
		</div>
		<div class="glf"><label>Country: </label>
			<input type="text" name="le_country" id="le_country" value="<%=result.country%>">
		</div>
		<div class="glf"><label>Send Off Time: </label>
			<input type="text" name="le_send_off_time" id="le_send_off_time" value="<%=s_time%>">
		</div>
		<div class="glf"><label>Civil Status: </label>
			<input type="text" name="le_civil_status" id="le_civil_status" value="<%=result.civil_status%>">
		</div>
		<div class="glf"><label>Passsport No: </label>
			<input type="text" name="le_passport_no" id="le_passport_no" value="<%=result.passport_no%>">
		</div>
		<div class="glf"><label>Contact No: </label>
			<input type="text" name="le_contact_no" id="le_contact_no" value="<%=result.contact_no%>">
		</div>
		<div class="glf"><label>&nbsp; </label></div>
		<div class="clr"></div>
		<div class="glfm">
			Comments:
			<textarea id="cg_comments" name="cg_comments"><%=result.comment%></textarea>
		</div>
		<div class="glf"><label>Status: </label>
			<!--<input type="text" name="le_status" id="le_status" value="<%=result.status%>">-->
			<select name="le_status" id="le_status" class="css3-select">
				<option value="checkin" <%if( result.status == 'checkin' ) { %> selected="selected" <%}%>>Checkin</option>
				<option value="checkout" <% if(result.status == 'checkout') { %> selected="selected" <%}%>>Checkout</option>
				<option value="reserved" <% if(result.status == 'reserved') {%> selected="selected" <%}%> >Reserve</option>
			</select>
		</div>
		<div class="glf"><label>&nbsp; </label></div>
		<div class="clr"></div>
		<div class="glfm glf-NBB">
			<input type="button" class="gli-save" id="<%=result.aid%>:<%=result.gid%>" value="Save">
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	<% } %>
<% }); %>
