<div class="content-header">List View</div>
<div class="content">
	<div class="create-guest-student">
		<a href="#/task/hotel-list" id="lists-guest-accom" class="css3-a create-guest-student-active">Guest List</a>
		<a href="#/task/hotel-list" id="lists-students-accom" class="css3-a">Student List</a>
		<div class="clr"></div>
	</div>
	<div class="gs-contents"></div>
</div>