<div class="content-header">Master List of assets</div>
<div class="content">
	<div class="hotel-RT">
		<a href="#/task/asset-master-list" id="tskviewCAlist" class="css3-a hotel-roomtype-active">Asset List</a>
		<a href="#/task/asset-master-list" id="tskviewCTAssets" class="css3-a">Transferred Assets</a>
		<a href="#/task/asset-master-list" id="tskviewCRAssets" class="css3-a">Returned Assets</a>
		<div class="clr"></div>
	</div>
	<div id="tskviewC"></div>
</div>