<div class="profile-container">
	<div class="profile-photo">
            <img src='' id="prof" width='140'></img> 
        </div>
	<div class="profile-menu"></div>
</div>
<div class="contents">
	<div class="content-header">Featuring Real State Homes</div>
	<div class="content">
            <div class="slideit">
            <table>
                <tr>
                    <td>
                        <div class="photosSlide"></div>
                        <div class="photosSlide2 slide"></div>
                    </td>
                </tr>
            </table>
            </div>
	</div>
</div>
<div class="clr"></div>