<div class="container-header">Petty Cash Form</div>
<div class="container-contents">
	<div class="pty-request-info">
		<label>Requested by: </label>
		<label>Rombert Dakay</label>
	</div>
	<div class="pty-request-info">
		<label>Department: </label>
		<label>IT Department</label>
	</div>
	<div class="clr"></div>
	<div class="srs-select-items">
		<a href="#/forms/pty/form">Click here to add fields to the form</a>
	</div>
	<div class="pty-request-form">
		<div class="header-for-list-display">
			<div class="pty-head-particulars">Particulars</div>
			<div class="pty-head-payto">Pay To</div>
			<div class="pty-head-accounttype">Account Type</div>
			<div class="pty-head-amt">Amount</div>
		</div>
		<div class="pty-request-list-contents">
			<div class="pty-list-particulars">Particulars</div>
			<div class="pty-list-payto">Pay To</div>
			<div class="pty-list-accounttype">Form Dropdown here</div>
			<div class="pty-list-amt">Amount</div>
			<div class="clr"></div>
		</div>
		<div class="pty-request-list-contents">
			<div class="pty-list-particulars">Particulars</div>
			<div class="pty-list-payto">Pay To</div>
			<div class="pty-list-accounttype">Form Dropdown here</div>
			<div class="pty-list-amt">Amount</div>
			<div class="clr"></div>
		</div>
	</div>
</div>