<div class="container-header">Leave Form</div>
<div class="container-contents">
	<div class="validation-note">Note: Please fill up all the required fields mark with *</div>
	<div class="clr"></div>
	<div class="leave-fields">
		<div class="leave-input-fields">
			<label>Employee Name:<span class="required">*</span></label>
			<input type="text" readonly="readonly" name="employee_name" class="validation-required" value="<%=user_firstname%> <%=user_lastname%>">
		</div>
		<div class="leave-input-fields">
			<label>Date of Request:<span class="required">*</span></label>
			<input type="text" id="date_requested" class="validation-required" name="date_requested">
		</div> 
		<div class="clr"></div>
	</div>
	<div class="leave-fields">
		<div class="leave-input-fields">
			<label>Department:<span class="required">*</span></label>
			<input type="text" readonly="readonly" name="employee_department" class="validation-required" value="<%=dept_name%>">
		</div>
		<div class="clr"></div>
	</div>
	<div class="leave-request-type">
		<h3>Type of Leave Request</h3>
		<input type="radio" name="leave_type" value="sick leave"><span> Sick Leave</span>
		<input type="radio" name="leave_type" value="vacation leave"><span> Vacation Leave</span>
		<input type="radio" name="leave_type" value="maternity leave"><span> Maternity Leave</span>
		<input type="radio" name="leave_type" value="paternity leave"><span> Paternity Leave</span>
		<input type="radio" name="leave_type" checked="checked" value="others"><span> Others</span>
	</div>
	<div class="leave-request-reason">
		<h4>Reasons for the requested leave:</h4>
		<textarea name="leave_reason"></textarea>
	</div>
	<div class="leave-fields">
		<div class="leave-input-fields">
			<label>Total Time Requested:<span class="required">*</span></label>
			<select name="leave_type_request">
				<option value="0.5">0.5</option>
				<option value="1.0">1.0</option>
				<option value="1.5">1.5</option>
				<option value="2.0">2.0</option>
				<option value="2.5">2.5</option>
				<option value="3.0">3.0</option>
				<option value="3.5">3.5</option>
				<option value="4.0">4.0</option>
				<option value="4.5">4.5</option>
				<option value="5.0">5.0</option>
				<option value="5.5">5.5</option>
				<option value="6.0">6.0</option>
				<option value="6.5">6.5</option>
				<option value="7.0">7.0</option>
				<option value="7.5">7.5</option>
				<option value="8.0">8.0</option>
				<option value="8.5">8.5</option>
				<option value="9.0">9.0</option>
				<option value="9.5">9.5</option>
				<option value="10.0">10.0</option>
			</select>
			<span>(days)</span>
		</div>
		<div class="leave-input-fields">
			<label>Last Day of Leave:<span class="required">*</span></label>
			<input type="text" id="lastday_leave" class="validation-required" name="lastday_leave">
		</div> 
		<div class="clr"></div>
	</div>
	<div class="leave-fields">
		<div class="leave-input-fields">
			<label>First Day of Leave:<span class="required">*</span></label>
			<input type="text" class="validation-required" id="firstday_leave" name="firstday_leave">
		</div>
		<div class="leave-input-fields">
			<label>Return Date:<span class="required">*</span></label>
			<input type="text" id="return_date" class="validation-required" name="return_date">
		</div> 
		<div class="clr"></div>
	</div>
	<div class="leave-fields">
		<div class="leave-input-fields">
			<label>Leave Balance:<span class="required">*</span></label>
			<input type="text" readonly="readonly" name="leave_balance" class="validation-required" value="<%=leave_left%>">
		</div>
		<div class="leave-input-fields">
			<input type="radio" name="leave_paytype" checked="checked" value="1"><span class="leave-paytype"> With Pay</span>
			<input type="radio" name="leave_paytype" value="0"><span class="leave-paytype"> Without Pay</span>
		</div> 
		<div class="clr"></div>
	</div>
	<div class="leave-fields">
		<input type="button" class="css3-button submit-leave" name="save" value="Save">
	</div>
</div>