<div class="header-for-list-display">
	<div class="leave-list-cancel">Status</div>
	<div class="leave-list-date">Date</div>
	<div class="leave-list-empname">Employee Name</div>
	<div class="leave-list-department">Department</div>
	<div class="leave-list-leavetype">Leave Type</div>
	<div class="leave-list-leavestart">Leave Start</div>
	<div class="leave-list-leaveend">Leave End</div>
	<div class="leave-list-deptapp">Dept. Approval</div>
	<div class="leave-list-hrapp">HR Approval</div>
	<div class="clr"></div>
</div>
<%_.each(leave_listdata, function(leave_list) {%>
	<div class="leave-contents-list">
		<div class="leave-content-cancel">
			<%
				var dh_apvl = leave_list.dept_head_approval;
				var hr_apvl = leave_list.hr_approval;
			%>
			<% if( dh_apvl.toLowerCase() === "rejected" || hr_apvl.toLowerCase() === "rejected" ) { %>
				<label>Rejected</label>
			<% } else if( dh_apvl.toLowerCase() === "cancelled" || hr_apvl.toLowerCase() === "cancelled" ) { %>
				<label>Cancelled</label>
			<% } else if( dh_apvl.toLowerCase() === "pending" || hr_apvl.toLowerCase() === "pending" ) { %>
				<a href="#/forms/leave/list" class="cancel-leave <%=leave_list.leaveID%>">Cancel</a>
			<% } else if( dh_apvl.toLowerCase() === "approved" || hr_apvl.toLowerCase() === "approved" ) { %>
				<label>Approved</label>
			<% } %>
		</div>
		<div class="leave-content-date"><%=leave_list.dateRequest%></div>
		<div class="leave-content-empname"><%=user_firstname%> <%=user_lastname%></div>
		<div class="leave-content-department"><%=dept_name%></div>
		<div class="leave-content-leavetype"><%=leave_list.leaveType%></div>
		<div class="leave-content-leavestart"><%=leave_list.leaveStart%></div>
		<div class="leave-content-leaveend"><%=leave_list.leaveEnd%></div>
		<div class="leave-content-deptapp"><%=leave_list.dept_head_approval%></div>
		<div class="leave-content-hrapp"><%=leave_list.hr_approval%></div>
		<div class="clr"></div>
	</div>
<% }); %>
<% if( pagination !== "" ) { %>
	<div class="page-pagination">
		<%=pagination%>
	</div>
<% } %>