<div class="container-header">Leave List</div>
<div class="container-contents">
	<div class="leave-list-search leave-list-search-from">
		<label>Period From: </label>
		<input type="text" id="period_from" name="period_from">
	</div>
	<div class="leave-list-search leave-list-search-to">
		<label>To: </label>
		<input type="text" id="period_to" name="period_to">
	</div>
	<div class="leave-list-search leave-list-search-status">
		<label>Status: </label>
		<select name="leave_list_status" id="leave_list_status">
			<option>Pending</option>
			<option>Rejected</option>
			<option>Cancelled</option>
			<option>Approved</option>
		</select>
	</div>
	<div class="leave-list-search leave-list-search-action">
		<input type="button" class="css3-button" id="leave_list_search" name="leave_list_search" value="Search">
	</div>
	<div class="clr"></div>
	<div class="leave-list-contents"></div>
</div>