<div class="container-header">Leave Summary</div>
<div class="container-contents">
	<!--
	<div class="leave-summary-search leave-summary-date-from">
		<label>Cut-Off From: </label>
		<input type="text" name="period_from">
	</div>
	<div class="leave-summary-search leave-summary-date-to">
		<label>To: </label>
		<input type="text" name="period_to">
	</div>
	<div class="leave-summary-search leave-summary-search-action">
		<input type="button" class="css3-button" name="search" value="Search">
	</div>
	<div class="clr"></div>
	 -->
	<div class="leave-summary-display-contents">
		<div class="header-for-list-display">
			<div class="leave-summary-empname"> Employee Name </div>
			<div class="leave-summary-withpay"> With Pay </div>
			<div class="leave-summary-withoutpay"> Without Pay </div>
			<div class="leave-summary-remleave"> Remeaining Leave </div>
			<div class="clr"></div>
		</div>
		<div class="leave-summary-display-contents-list">
			<div class="leave-summary-cont-empname"> <%=users_name%> </div>
			<div class="leave-summary-cont-withpay"> <%=with_pay.time_requested%> </div>
			<div class="leave-summary-cont-withoutpay"> <%=without_pay.time_requested%> </div>
			<div class="leave-summary-cont-remleave"> <%=leave_left%> </div>
			<div class="clr"></div>
		</div>
	</div>
</div>