<div class="content-header">Books</div>
<div class="content white-shadow">
    <div class="book_form class-form">
        <form action="/books" id="addbook">
            <label><span class="required">*</span>Book Title:</label>
            <input class="fld-required" type="text" name="title" />
            <label><span class="required">*</span>Class Type:</label>
            <select class="fld-required" name="book-class-type">
                <option value=""></option>
                <option value="1:1">1:1</option>
                <option value="1:4">1:4</option>
                <option value="1:8">1:8</option>
            </select>
            <label><span class="required">*</span>Course:</label>
            <select class="fld-required course" name="book-course"></select>
            <button class="blue-button" type="submit">Add Book</button>
        </form>
    </div>
    <div class="search-box">
        <label>Search Book Title:</label><input type="text" name="book_title" />
    </div>
</div>
<div class="dyn_content"></div>
<div class="err_msg hide"></div>
<div class="book-edit hide class-form pop-form-1">
    <form action="books" id="edit-book">
    <div>
        <label><span class="required">*</span>Book Title:</label>
        <input class="fld-required" type="text" name="edit-book-title" />
    </div>
    <div>
        <label><span class="required">*</span>Class Type:</label>
        <select class="fld-required" name="edit-book-class-type">
            <option value=""></option>
            <option value="1:1">1:1</option>
            <option value="1:4">1:4</option>
            <option value="1:8">1:8</option>
        </select>
    </div>
    <div>
        <label><span class="required">*</span>Course:</label>
        <select class="fld-required course" name="edit-book-course"></select>
    </div>
    <div>
        <label><span class="required">*</span>Quantity in Hand</label>
        <select class="fld-required course" name="edit-book-quantity"></select>
    </div>
            
    <input type="hidden" name="edit-id" value="" />
    <button class="blue-button" type="submit">Update</button>
    </form>
</div>