<div class="content-header">Change Requests</div>
<div class="content white-shadow">
    <div class="class-form change_requests">
        <label>Search Options:</label>
        <select name="category_date">
            <option value="">Choose one</option>
            <option value="date_added">Date Added</option>
            <option value="acad_approval">Date Approved</option>
        </select>
        <input type="text" name="date_param_from" />
        <input type="text" name="date_param_to" />
    </div>
</div>
<div class="dyn_content"></div>
<div class="err_msg hide"></div>
<div class="change_request_details box-radius white-shadow hide blue-gradient pop-form-2">
    <div class="container-activeform mB" >
        <div class="contents-form mT">
            <div class="fL" >Students Name:
                <label id="student_name"></label>
            </div>
            <div class="mL fL">ID #:
                <label id="student_id"></label>
            </div>
            <div class="clr"></div>
            <div>
                <div class="mT mB">Type of request:</div>
            </div>
            <div class="mT">
                <div class="mL2"> <input  type="checkbox" name="request_type" disabled="disabled" value="instructional_hours" /> Instructional Hours</div>
                <div class="mL2"> <input  type="checkbox" name="request_type" disabled="disabled" value="classroom" /> Classroom</div>
                <div class="mL2"> <input  type="checkbox" name="request_type" disabled="disabled" value="additional_class" /> Additional Class</div>
                <div class="mL2"> <input  type="checkbox" name="request_type" disabled="disabled" value="class_swapping" /> Class Swapping</div>
                <div class="mL2"> <input  type="checkbox" name="request_type" disabled="disabled" value="course_extension" /> Course Extension</div>
                <div class="mL2"> <input  type="checkbox" name="request_type" disabled="disabled" value="others" /> Others</div>
                <div class="clr"></div>
                <div class="mL2"> <label>Specify:</label><label id="others_specify"></label></div>
            </div>
            <div class="mB">
                Request Details:
                <textarea rows="6" class="text-area mT mL2" readonly="readonly" name="request_detail" maxlength="400"></textarea>
            </div>
        </div>
        <div class="request_approval_frm">
            <div>
                <label>Confirmation:</label>
            </div>
            <div>
                <label>Academics: </label> <input type="text" readonly="readonly" name="acad_date_rcv" />
                <input type="checkbox" name="acad_approval" />
            </div>
            <div>
                <label>Sales: </label> <input type="text" readonly="readonly" name="sales_date_rcv" />
                <input type="checkbox" disabled="disabled" name="sales_approval" />
            </div>
        </div>
    </div>
    <div class="clr"></div>
</div>