<div class="container-activeform mB white-shadow" >
    <form action="/change_request" id="change_request_frm">
            <div class="content-header">
               <p class="header-font mL">Action Forms</p>	
            </div>  
<!--                            <div class="profile-nav">asdasd</div>-->

            <div class="contents-form mT">
                <div class="fL" >Students Name:<div class="red fL">*</div>
                    <input class="input-name fld-required" name="student_name" type="text"></input>
                </div>
                <div class="mL fL">ID #:<div class="red fL">*</div>
                    <input class="input-id fld-required" name="student_id" type="text"></input>
                </div>
                <div class="clr"></div>
                <div>
                    <div class="mT mB"><span class="red">*</span>Type of request:(Please check appropriate box)</div>
                </div>
                <div class="mT">
                    <div class="mL2"> <input  type="checkbox" name="request_type" value="instructional_hours" /> Instructional Hours</div>
                    <div class="mL2"> <input  type="checkbox" name="request_type" value="classroom" /> Classroom</div>
                    <div class="mL2"> <input  type="checkbox" name="request_type" value="additional_class" /> Additional Class</div>
                    <div class="mL2"> <input  type="checkbox" name="request_type" value="class_swapping" /> Class Swapping</div>
                    <div class="mL2"> <input  type="checkbox" name="request_type" value="course_extension" /> Course Extension</div>
                    <div class="mL2"> <input  type="checkbox" name="request_type" value="others" /> Others</div>
                    <div class="mL2 hide"> <label>Specify:</label><input  type="text" name="others_specify" maxlength="70"/></div>
                </div>
                <div class="mB">
                    Write the details of your request below. Please include your reasons of changing.
                    <textarea rows="6" class="text-area mT mL2" name="request_detail" maxlength="400"></textarea>
                </div>
                <div class="confirm-footer fL mL mT">
                    <!--<div class="fL mL mT">Confirmations:
                        <input type="button" value="Approve"/>
                        <input type="button" value="Disapprove"/>
                    </div>
                </div> 

                <div class="confirm-footer fL mL mT">
                    <div class="fL mL mT">Academics:
                            <input class="input-id" style="margin-left: 18px" type="text"></input></div>
                </div>
                <div class="confirm-footer fL mL mT mB">
                    <div class="fL mL mT mB" >Sales:
                            <input class="input-id" style="margin-left: 48px" type="text"></input></div>
                </div>-->
                <div class="confirm-footer mL mT mB">
                    <div>
                        <p class="note"><span class="red">*</span>Note: please fill out all the needed information in this form</p>
                        <br/>
                        <!--<p class="note">Deadline for submission is every Wednesday.</p>-->
                    </div>
                </div>
                    <div class="confirm-footer fL mL mT mB">
                        <div class="fR mL mT">
                                <input type="submit" class="blue-button" value="Submit" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
            
            </form>
</div>
<div class="err_msg hide"></div>