<div class="content-header">Class Schedule</div>
<div class="content white-shadow">
    <!--<div class="sub-tasks">
        <ul>
            <li class="active" id="teacher-sched">Teachers' Class</li>
            <li>Students' Class</li>
        </ul>
    </div>-->
    <div class="class-form">
        <form action="/class_schedule" id="openclass">
            <div>
                <label><span class="required">*</span>Teacher:</label> <select class="fld-required" name="teacher">
                    <!--<option value="id">Name of Teacher</option>
                    <option value="id">Name of Teacher</option>
                    <option value="id">Name of Teacher</option>-->
                </select>
                <label><span class="required">*</span>Course:</label> <select name="course">
                    <!--<option value="id">GE</option>
                    <option value="id">IE</option>
                    <option value="id">TOEIC</option>-->
                </select>
                <label><span class="required">*</span>Course Level:</label> <select class="fld-required" name="course-level">
                    <!--<option value="id">Beginner</option>
                    <option value="id">Pre-intermediate</option>
                    <option value="id">Intermediate</option>-->
                </select>
            </div>
            <div>
                <label><span class="required">*</span>Class Type:</label> <select class="fld-required" name="class-type">
                    <option value=""></option>
                    <option value="1:1">1:1</option>
                    <option value="1:4">1:4</option>
                    <option value="1:8">1:8</option>
                </select>
                <label><span class="required">*</span>Time:</label> <select class="fld-required" name="sched-time">
                    <option value=""></option>
                    <option value="08:00-09:50">08:00-09:50</option>
                    <option value="10:00-11:50">10:00-11:50</option>
                    <option value="12:40-02:30">12:40-02:30</option>
                    <option value="02:40-04:30">02:40-04:30</option>
                    <option value="04:40-06:30">04:40-06:30</option>
                    <option value="06:40-08:30">06:40-08:30</option>
                </select>
                <label><span class="required">*</span>Classroom:</label> <select class="fld-required" name="classroom">
                    <!--<option value="id">Room number</option>-->
                </select>
            </div>
            <div>
                <label><span class="required">*</span>Book:</label> <select class="fld-required" name="book">
                    <!--<option value="id">Title of Book</option>-->
                </select>
                <button class="blue-button" type="submit">Open Class</button>
            </div>
        </form>
    </div>
</div>
<div class="dyn_content"></div>
<div class="err_msg hide"></div>
<div class="teacher_students hide class-form pop-form-1">
    <div>
        <label>Type:</label> <label id="ctype"></label> <br/>
        <label>Time:</label> <label id="ctime"></label>
    </div>
    <div>
        <form action="/class_schedule" id="addstudent">
            <label>Student:</label><select name="students_list"></select>
            <input type="hidden" name="class" value="" />
            <button class="blue-button" type="submit">Add Student</button>
        </form>
    </div>
    <div class="class_students">
    </div>
</div>
<div class="edit_class_sched hide class-form pop-form-1">
    <form action="/class_schedule" id="edit-class">
        <div>
        <label><span class="required">*</span>Course:</label> <select name="edit_course">
                </select>
        </div>
        <div>
        <label><span class="required">*</span>Course Level:</label> <select class="fld-required" name="edit_course-level">
                </select>
        </div>
        <div>
            <label><span class="required">*</span>Class Type:</label> <select class="fld-required" name="edit_class-type">
                    <option value=""></option>
                    <option value="1:1">1:1</option>
                    <option value="1:4">1:4</option>
                    <option value="1:8">1:8</option>
                </select>
        </div>
        <div>
            <label><span class="required">*</span>Time:</label> <select class="fld-required" name="edit_sched-time">
                    <option value=""></option>
                    <option value="08:00-09:50">08:00-09:50</option>
                    <option value="10:00-11:50">10:00-11:50</option>
                    <option value="12:40-02:30">12:40-02:30</option>
                    <option value="02:40-04:30">02:40-04:30</option>
                    <option value="04:40-06:30">04:40-06:30</option>
                    <option value="06:40-08:30">06:40-08:30</option>
                </select>
        </div>
        <div>
             <label><span class="required">*</span>Classroom:</label> <select class="fld-required" name="edit_classroom">
                </select>
        </div>
        <div>
            <label><span class="required">*</span>Book:</label> <select class="fld-required" name="edit_book">
            </select>
        </div>
        <button class="blue-button" type="submit">Update</button>
    </form>
</div>