<div class="content-header">Classrooms</div>
<div class="content white-shadow">
    <div class="classroom_form class-form">
        <form action="/classrooms" id="addclassroom">
            <label><span class="required">*</span>Classroom:</label>
            <input class="fld-required" type="text" name="classroom-name" />
            <button class="blue-button" type="submit">Add Classroom</button>
        </form>
    </div>
    <div class="search-box">
        <label>Search Classroom:</label><input type="text" name="srch_classroom_name" />
        <select name="srch_time">
            <option value="">Class Time</option>
            <option value="08:00-09:50">08:00-09:50</option>
            <option value="10:00-11:50">10:00-11:50</option>
            <option value="12:40-02:30">12:40-02:30</option>
            <option value="02:40-04:30">02:40-04:30</option>
            <option value="04:40-06:30">04:40-06:30</option>
            <option value="06:40-08:30">06:40-08:30</option>
        </select>
        <button class="blue-button" name="classroom_occupied">Occupied</button>
        <button class="blue-button" name="classroom_vacant">Vacant</button>
    </div>
</div>
<div class="dyn_content"></div>
<div class="err_msg hide"></div>
<div class="classroom-edit hide class-form pop-form-1">
    <form action="/course_levels" id="edit-classroom">
    <div>
        <label><span class="required">*</span>Classroom Name:</label>
        <input class="fld-required" type="text" name="edit-classroom-name" />
    </div>
    <input type="hidden" name="edit-id" value="" />
    <button class="blue-button" type="submit">Update</button>
    </form>
</div>
<div class="occupants box-radius white-shadow blue-gradient hide pop-form-2"></div>