<div class="content-header">Course Levels</div>
<div class="content white-shadow">
    <div class="course_levels_form class-form">
        <form action="/course_levels" id="addcourselevel">
            <label><span class="required">*</span>Course Level Name:</label>
            <input class="fld-required" type="text" name="course-level-name" />
            <button class="blue-button" type="submit">Add Course Level</button>
        </form>
    </div>
</div>
<div class="dyn_content"></div>
<div class="err_msg hide"></div>
<div class="course-level-edit hide class-form pop-form-1">
    <form action="/course_levels" id="edit-course-level">
    <div>
        <label><span class="required">*</span>Course Level Name:</label>
        <input class="fld-required" type="text" name="edit-course-level-name" />
    </div>
    <input type="hidden" name="edit-id" value="" />
    <button class="blue-button" type="submit">Update</button>
    </form>
</div>