<div class="content-header">Courses</div>
<div class="content white-shadow">
    <div class="course_form class-form">
        <form action="/courses" id="addcourse">
            <label><span class="required">*</span>Course Name:</label>
            <input class="fld-required" type="text" name="course-name" />
            <label><span class="required">*</span>Course Type:</label>
            <select class="fld-required" name="course-type">
                <option value=""></option>
                <option value="elective">elective</option>
                <option value="regular">regular</option>
            </select>
            <button class="blue-button" type="submit">Add Course</button>
        </form>
    </div>
    <div class="search-box">
        <label>Search Course:</label><input type="text" name="srch_course_name" />
    </div>
</div>
<div class="dyn_content"></div>
<div class="err_msg hide"></div>
<div class="course-edit hide class-form pop-form-1">
    <form action="courses" id="edit-course">
    <div>
        <label><span class="required">*</span>Course Name:</label>
        <input class="fld-required" type="text" name="edit-course-name" />
    </div>
    <div>
        <label><span class="required">*</span>Course Type:</label>
        <select class="fld-required" name="edit-course-type">
            <option value=""></option>
            <option value="elective">elective</option>
            <option value="regular">regular</option>
        </select>
    </div>
    <input type="hidden" name="edit-id" value="" />
    <button class="blue-button" type="submit">Update</button>
    </form>
</div>