<div class="content-header">Lesson Plans</div>
<div class="content white-shadow">
    <div class="class-form">
        <label>Search Options:</label>
        <select name="category_date">
            <option value="">Choose one</option>
            <option value="date_added">Date Added</option>
            <option value="date_modified">Date Modified</option>
        </select>
        <input type="text" name="date_param_from" />
        <input type="text" name="date_param_to" />
    </div>
</div>
<div class="dyn_content"></div>
<div class="err_msg hide"></div>
<div class="pop-form-2 hide lp_viewport">
</div>