<div class="content-header">Weekly Lesson Plan</div>
<div class="content white-shadow">
    <div class="fL" id="talker">Choose the class to create lesson plan for:</div>
    <div class="fR hide" id="loader"></div>
    <div class="hide" id="lp_class_list"></div>
    <div class="hide" id="lesson_plan_form">
        <div class="container-activeform mB" >
        <!--        <div class="content-headers">
                   <p class="header-font mL">Weekly Lesson Plan</p>	
                </div>  
                                    <div class="profile-nav">asdasd</div>-->
                <div class="contents-form mT">
                    <div class="clr" id="init_lesson_plan">
                        <div class="width fL mT">
                            <div class="div-width  fL" >Teacher:
                                <input class="input-name" name="class_teacher" readonly="readonly" type="text" />
                            </div>
                            <div class="mL fL">Book Title:
                                <input class="input-id" name="class_book" style="margin-left: 4px" readonly="readonly" type="text" />
                            </div>
                            <div class="mL fR">Time:
                                <input class="input-id" name="class_time" readonly="readonly" type="text" />
                            </div>
                        </div>

                        <div class="width fL mT">
                            <div class=" div-width fL"  >Course:
                                <input class="input-name"  name="class_course" style="margin-left: 6px" readonly="readonly" type="text" />
                            </div>
                            <div class="mL fL">Class Type:
                                <input class="input-id" name="class_type" readonly="readonly" type="text" />
                            </div>
                        </div>
                        <div class="width fL mT">
                            <div class="mL fR">Inclusive Dates<span class="required">*</span>:
                                <input class="input-id" id="inclusive-date-from" readonly="readonly" type="text" />
                                <label>-</label>
                                <input class="input-id" id="inclusive-date-to" readonly="readonly" type="text" />
                            </div>
                        </div>
                        <div class="width fL mT">
                                <div class=" div-width  mT "  >Name of students:</div>
                                <div class="class_students_list fL"></div>
                                
                        </div>
                        <div class="div-width2 fR"><button class="blue-button" name="create_lesson_plan">Create Lesson Plan</button></div>
                        <div class="to-left lp_date_approved"></div>
                        <div class="line-div fL mT2 clr"></div>
                    </div>
                    <div class="clr hide" id="save_lp_frm">
                        <div> <label>For<span class="required">*</span>:</label>
                            <select class="input-id" name="weekday">
                                <option value="" selected="selected"></option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                            </select>
                        </div>
                        <div class="lp_frm_elements">
                            <form action="/lesson_plan" id="save_lesson_plan">
                                <div>
                                    <label>Objective(s):</label>
                                    <textarea name="lp_objectives" rows="7" cols="90"></textarea>
                                </div>
                                <div>
                                    <label>Topic:</label>
                                    <textarea name="lp_topic" rows="2" cols="90"></textarea>
                                </div>

                                <p class="gray-gradient header-for-list-display">Lesson Flow</p>
                                <div>
                                    <label>Class Starter:</label>
                                    <textarea name="lp_class_starter" rows="7" cols="90"></textarea>
                                </div>
                                <div>
                                    <label><p>Introduction of the lesson:</p></label>
                                    <textarea name="lp_introduction" rows="7" cols="90"></textarea>
                                </div>
                                <div>
                                    <label><p>Lesson proper:</p></label>
                                    <textarea name="lp_lesson_proper" rows="7" cols="90"></textarea>
                                </div>
                                <div>
                                    <label><p>Guided Practice:</p></label>
                                    <textarea name="lp_guided_practice" rows="7" cols="90"></textarea>
                                </div>
                                <div>
                                    <label><p>Independent Practice:</p></label>
                                    <textarea name="lp_independent_practice" rows="7" cols="90"></textarea>
                                </div>
                                <div>
                                    <label><p>Homework:</p></label>
                                    <textarea name="lp_homework" rows="7" cols="90"></textarea>
                                </div>

                                <div class="div-width2 fR">
                                    <button class="blue-button" type="reset">Clear</button>
                                    <button class="blue-button" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
        </div>
    </div>
    <div class="err_msg hide"></div>
</div>