<div class="container-activeform mB" >
        <div class="content-headers">
           <p class="header-font mL">Weekly Lesson Plan</p>	
        </div>  
<!--                            <div class="profile-nav">asdasd</div>-->
        <div class="contents-form mT">
                <div class="width fL mT">
                    <div class="div-width  fL teacher" >Teacher:
                        <input class="input-name" readonly="readonly" type="text" />
                        <label></label>
                    </div>
                    <div class="mL fL">Book Type:
                        <input class="input-id" style="margin-left: 4px" type="text"></input>
                    </div>
                    <div class="mL fR">Time:
                        <input class="input-id" type="text"></input>
                    </div>
                </div>

                <div class="width fL mT">
                    <div class=" div-width fL"  >Course:
                        <input class="input-name"  style="margin-left: 6px" type="text"></input>
                    </div>
                    <div class="mL fL">Class Type:
                        <input class="input-id" type="text"></input>
                    </div>
                    <div class="mL fR">Inclusive Date:
                        <input class="input-id" id="inclusive-date" type="text"></input>
                    </div>
                </div>
            <div class="line-div fL mT2"> </div>
            <div class="width fL mT">
                    <div class=" div-width  mT "  >Name of the students</div> 
                    </br>
                    <div class="name-student mT"></div>
            </div>
            <div class="fL">
                <p class="mT mB">Type of request:(Please check appropriate box)</p>
            </div>
            <div class=" type-request mT fL">
                <div class="fL mL2"> <input  type="checkbox"> Instructional Hours</div>
                <div class="fL mL2"> <input  type="checkbox"> Classroom</div>
                <div class="fL mL2"> <input  type="checkbox"> Additional Class</div>

                <div class="fL mL2"> <input  type="checkbox"> Class Swapping</div>
                <div class="fL mL2"> <input  type="checkbox"> Course Extension</div>
                <div class="fL mL2"> <input  type="checkbox"> Others</div>
            </div>
            <div class="fL mB">
                Write the details of your request below. Please include your reasons of changing.
                <textarea class="text-area mT mL2"></textarea>
<!--                                        <input type="button" ></input>-->
            </div>
            <div class="confirm-footer fL mL mT">
                <div class="fL mL mT">Confirmations:
                    <input type="button" value="Approve"/>
                    <input type="button" value="Disapprove"/>
                </div>

            </div>
            <div class="confirm-footer fL mL mT">
                <div class="fL mL mT">Academics:
                        <input class="input-id" style="margin-left: 18px" type="text"></input></div>
            </div>
            <div class="confirm-footer fL mL mT mB">
                <div class="fL mL mT mB" >Sales:
                        <input class="input-id" style="margin-left: 48px" type="text"></input></div>
            </div> 
            <div class="confirm-footer fL mL mT mB">
                <div class="fR mL mT">Date Received:
                        <input class="input-id" type="text"></input>
                </div>
            </div>
            <div class="confirm-footer fL mL mT mB">
                <div class="fR mL mT">
                        <input type="button" value="print"></input>
                </div>
            </div>
        </div>
        <div class="clr"></div>
</div>