<div class="content-header">Class Schedule</div>
<div class="content white-shadow">
    <button class="blue-button" name="print_page">Print</button>
</div>
<div class="dyn_content"></div>
<div class="my_class_students hide pop-form-1 gray-gradient"></div>