<div class="content-header">Teachers</div>
<div class="content white-shadow">
    <div class="search-box">
        <label>Search:</label><input type="text" name="srch_teacher_name" />
        <div>
        <input type="radio" name="contract" value="1" />Probationary
        <input type="radio" name="contract" value="2" />Regular
        <input type="radio" name="contract" value="3" />Contractual
        <input type="radio" name="contract" value="4" checked="checked" />All
    </div>
    </div>
</div>
<div class="dyn_content"></div>
<div class="err_msg hide"></div>
<div class="class_scheds blue-gradient hide pop-form-2">
</div>
<div class="teacher_info hide pop-form-3">
    <div class="profile-photo to-left"></div>
    <div class="to-right teacher_infos_cont">
        <label class="field-cont-1">First Name:</label><label class="value-cont-1 firstname"></label> <br />
        <label class="field-cont-1">Middle Name:</label><label class="value-cont-1 middlename"></label> <br />
        <label class="field-cont-1">Last Name:</label><label class="value-cont-1 lastname"></label> <br />
        <label class="field-cont-1">Address:</label><label class="value-cont-1 address"></label> <br />
        <label class="field-cont-1">Gender:</label><label class="value-cont-1 gender"></label> <br />
        <label class="field-cont-1">Email:</label><label class="value-cont-1 email"></label> <br />
        <label class="field-cont-1">Nationality:</label><label class="value-cont-1 nationality"></label> <br />
        <label class="field-cont-1">Zip Code:</label><label class="value-cont-1 zipcode"></label> <br />
        <label class="field-cont-1">Telephone No.:</label><label class="value-cont-1 telephone"></label> <br />
        <label class="field-cont-1">Mobile No.:</label><label class="value-cont-1 mobile"></label> <br />
    </div>
</div>
<div class="teacher_scheds hide pop-form-2"></div>