<div class="content-header">Hotel Rooms</div>
<div class="content">
	<div class="hotel-RT">
		<a href="#/task/hotel-rooms" id="add-new-room" class="css3-a activate-nr">Activate New Room</a>
                <a href="#/task/hotel-rooms" id="search-room-reserve" class="css3-a ssr">Select Room for Reservation</a>
	</div>
    <table>
        <tr>
            <td><div class="spacer"></div>
                <div class="ss">
                    
                    <label class="sw-text">Please select search reservation:</label>
                    <button class="sr s">Student</button>
                    <button class="sr g">Guest</button>
                    <div class="clr"></div>
                   
                </div>
                <div class="spacer"></div><div class="spacer"></div><div class="spacer"></div>
                <div class="spacer"></div><div class="spacer"></div><div class="spacer"></div>
                <div class="spacer"></div><div class="spacer"></div><div class="spacer"></div>
                <div class="hide srfsi search-reserve">
                    <div class="countbox menucenter">Student</div>
                    Check-in:<input class="fld-required u2" type="text" name="ci" title="Hit enter to see result."/> 
                    Check-out:<input class="fld-required u2" type="text" name="co" title="Hit enter to see result."/>
                </div>
                <div class="hide srfgi search-reserve"> 
                    <div class="countbox menucenter">Guest</div>
                    Check-in:<input class="fld-required u2" type="text" name="ci" title="Hit enter to see result."/> 
                    Check-out:<input class="fld-required u2" type="text" name="co" title="Hit enter to see result."/>
                </div>
            </td>
            <td><div class="arc"></div></td>
        </tr>
    </table>
        <div class="hide new-room class-form" id="addroom">
            <form action="hotel/accomodation" id="frm-nr">
                <div>
                    <label>Room Number:</label>
                    <input class="fld-required formatdec u2" type="text" name="room_no"/>
                </div><div>
                    <label>Room Type:</label>
                    <select class=" validation-required fld-required" name="rtype">
                        <option value="">Please select room type</option>
                        <option value="1">Single</option>
                        <option value="2">Double</option>
                        <option value="3">Triple</option>
                        <option value="4">Quad</option>
                        <option value="5">Corporate</option>
                    </select>
                </div>
                <div class="spacer"></div>
                <button class="blue-button" type="submit">Add Room</button>
            </form>
        </div>
        <div class="hide myDiv_1 ssr" id="show-search-reservation">  
        </div>
    <div class="clr"></div>
	<div class="hotel-RT-Rooms">
		<span>SINGLE ROOMS</span>
		<div class="clr"></div>
		<%_.each(single, function(r) {%>
			<div class="hr-display <%=r.room_status_css%>">
				<p><%=r.room_type_name.toUpperCase()%></p>
				<p><%=r.room_no%></p>
				<p><%=r.room_status_name%></p>
				<p class="hr-not-displayed"><%=r.comment%></p>
				<% if( r.room_status_name === 'Reserved' || r.room_status_name === 'Occupied' ) { %>
					<div class="or-status">
						<div class="hr-oc"><%=r.checkin%></div>
						<div class="hr-wr"><%=r.checkout%></div>
					</div>
				<% } %>
				<div class="ntm"></div>
				<% if(r.room_status_name === 'Vacant - Clean') { %>
					<div class="r-action">
						<div class="rawrp-vc">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } else if( r.room_status_name === 'Reserved' ) { %>
					<div class="r-action">
						<div class="rawrp-or">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } else if( r.room_status_name === 'Occupied' ) { %>
					<div class="r-action">
						<div class="rawrp-oc">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } %>
			</div>
		<% }); %>
		<div class="clr"></div>
		<span>DOUBLE ROOMS</span>
		<div class="clr"></div>
		<%_.each(double, function(r) {%>
			<div class="hr-display <%=r.room_status_css%>">
				<p><%=r.room_type_name.toUpperCase()%></p>
				<p><%=r.room_no%></p>
				<p><%=r.room_status_name%></p>
				<p class="hr-not-displayed"><%=r.comment%></p>
				<% if( r.room_status_name === 'Reserved' || r.room_status_name === 'Occupied' ) { %>
					<div class="or-status">
						<div class="hr-oc"><%=r.checkin%></div>
						<div class="hr-wr"><%=r.checkout%></div>
					</div>
				<% } %>
				<div class="ntm"></div>
				<% if(r.room_status_name === 'Vacant - Clean') { %>
					<div class="r-action">
						<div class="rawrp-vc">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } else if( r.room_status_name === 'Reserved' ) { %>
					<div class="r-action">
						<div class="rawrp-or">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } else if( r.room_status_name === 'Occupied' ) { %>
					<div class="r-action">
						<div class="rawrp-oc">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } %>
			</div>
		<% }); %>
                <div class="clr"></div>
                <span>TRIPLE ROOMS</span>
                <div class="clr"></div>
                <%_.each(triple, function(r) {%>
                    <div class="hr-display <%=r.room_status_css%>">
				<p><%=r.room_type_name.toUpperCase()%></p>
				<p><%=r.room_no%></p>
				<p><%=r.room_status_name%></p>
				<p class="hr-not-displayed"><%=r.comment%></p>
				<% if( r.room_status_name === 'Reserved' || r.room_status_name === 'Occupied' ) { %>
					<div class="or-status">
						<div class="hr-oc"><%=r.checkin%></div>
						<div class="hr-wr"><%=r.checkout%></div>
					</div>
				<% } %>
				<div class="ntm"></div>
				<% if(r.room_status_name === 'Vacant - Clean') { %>
					<div class="r-action">
						<div class="rawrp-vc">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } else if( r.room_status_name === 'Reserved' ) { %>
					<div class="r-action">
						<div class="rawrp-or">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } else if( r.room_status_name === 'Occupied' ) { %>
					<div class="r-action">
						<div class="rawrp-oc">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } %>
			</div>
                <% }); %>
		<div class="clr"></div>
		<span>QUAD ROOMS</span>
		<div class="clr"></div>
		<%_.each(quad, function(r) {%>
			<div class="hr-display <%=r.room_status_css%>">
				<p><%=r.room_type_name.toUpperCase()%></p>
				<p><%=r.room_no%></p>
				<p><%=r.room_status_name%></p>
				<p class="hr-not-displayed"><%=r.comment%></p>
				<% if( r.room_status_name === 'Reserved' || r.room_status_name === 'Occupied' ) { %>
					<div class="or-status">
						<div class="hr-oc"><%=r.checkin%></div>
						<div class="hr-wr"><%=r.checkout%></div>
					</div>
				<% } %>
				<div class="ntm"></div>
				<% if(r.room_status_name === 'Vacant - Clean') { %>
					<div class="r-action">
						<div class="rawrp-vc">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } else if( r.room_status_name === 'Reserved' ) { %>
					<div class="r-action">
						<div class="rawrp-or">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } else if( r.room_status_name === 'Occupied' ) { %>
					<div class="r-action">
						<div class="rawrp-oc">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } %>
			</div>
		<% }); %>
		<div class="clr"></div>
		<span>CORPORATE ROOMS</span>
		<div class="clr"></div>
		<%_.each(corporate, function(r) {%>
			<div class="hr-display <%=r.room_status_css%>">
				<p><%=r.room_type_name.toUpperCase()%></p>
				<p><%=r.room_no%></p>
				<p><%=r.room_status_name%></p>
				<p class="hr-not-displayed"><%=r.comment%></p>
				<% if( r.room_status_name === 'Reserved' || r.room_status_name === 'Occupied' ) { %>
					<div class="or-status">
						<div class="hr-oc"><%=r.checkin%></div>
						<div class="hr-wr"><%=r.checkout%></div>
					</div>
				<% } %>
				<div class="ntm"></div>
				<% if(r.room_status_name === 'Vacant - Clean') { %>
					<div class="r-action">
						<div class="rawrp-vc">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } else if( r.room_status_name === 'Reserved' ) { %>
					<div class="r-action">
						<div class="rawrp-or">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } else if( r.room_status_name === 'Occupied' ) { %>
					<div class="r-action">
						<div class="rawrp-oc">
							<a href="#/task/hotel-rooms/view/logs/<%=r.room_nid%>/<%=r.room_no%>" class="hr-view">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/guest/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-guest">&nbsp;</a>
							<a href="#/task/hotel-rooms/add/student/<%=r.room_nid%>/<%=r.room_no%>" class="hr-save-student">&nbsp;</a>
						</div>
					</div>
				<% } %>
			</div>
		<% }); %>
		<div class="clr"></div>
	</div>
</div>

<div class="err_msg hide"></div>