<div class="chk-adpf">
	<div class="chk-adp">
		<label>Description: </label>
		<input type="text" value="" class="chk-adp-desc" name="chk-adp-desc">
	</div>
	<div class="chk-adp">
		<label>Amount: </label>
		<input type="text" value="" class="chk-adp-amt" name="chk-adp-amt">
		<a href="#" class="chk-rmv-item" title="remove">&nbsp;</a>
	</div>
</div>