<div class="content-header">Checkout</div>
<div class="content">
	<div class="gs-contents">
		<div class="chkf">
			<a href="#" class="chk-add-apymts" >
				<span>&nbsp;</span>
				Add additional payments
			</a>
			<div class="clr"></div>
			<div class="chk-adp chk-adp-NBB">
				<input type="button" value="Checkout" id="" class="chk-button css3-btton">
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</div>
	</div>
</div>