<ul class="oaccordion-list">
	<% _.each(result, function(r) { %>
		<li>
			<div class="oalist-head oa-head">
				<a id="1" href="#/task/hotel-list/guest">+</a>
				Name: <%=r.firstname%> <%=r.lastname%>
				<span class="oalist-room-type">Room Number: <%=r.room_no%> - <%=r.room_type%></span>
				<span>Date Booked: <%=r.date_added%></span>
                                <div class="cicog">
                                    Check-in: <%=r.checkin_date%> - Check-out: <%=r.checkout_date%>
                                </div>
				<div class="clr"></div>
			</div>
			<div class="oa-content glf-c">
				<div class="glf">
					<label>First Name: </label> <%=r.firstname%>
				</div>
				<div class="glf">
					<label>Room No: </label> <%=r.room_no%>
				</div>
				<div class="glf">
					<label>Last Name: </label> <%=r.lastname%>
				</div>
				<div class="glf">
					<label>Booking ID: </label> <%=r.booking_id%>
				</div>
				<div class="glf">
					<label>Gender: </label> <%=r.gender%>
				</div>
				<div class="glf">
					<label>Booking Type: </label> <%=r.booking_agent%>
				</div>
				<div class="glf">
					<label>Date of Birth: </label> <%=(r.dateof_birth !== '01/01/1970') ? r.dateof_birth : ""%>
				</div>
				<div class="glf">
					<label>Check-in Date: </label> <%=(r.checkin_date.toLowerCase() !== '01/01/1970 @ 08:00 am') ? r.checkin_date.toLowerCase() : ""%>
				</div>
				<div class="glf">
					<label>Email: </label> <%=r.email%>
				</div>
				<div class="glf">
					<label>Check-out Date: </label> <%=(r.checkout_date.toLowerCase() !== '01/01/1970 @ 08:00 am') ? r.checkout_date.toLowerCase() : ""%>
				</div>
				<div class="glf">
					<label>Nationality: </label> <%=r.nationality%>
				</div>
				<div class="glf">
					<label>Passport No: </label> <%=r.passport_no%>
				</div>
				<div class="glf">
					<label>Contact No: </label> <%=r.contact_no%>
				</div>
				<div class="glf"><label>&nbsp; </label></div>
				<div class="clr"></div>
				<div class="glfm">
					Address: 
					<label><%=r.address%></label>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
				<div class="clr"></div>
				<div class="glfm">
					Comments: 
					<label><%=r.comments%></label>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
				<div class="glf">
					<label>Status: </label> <%=r.accom_status%>
				</div>
				<div class="glf">
					<label>Date Added: </label> <%=r.date_added%>
				</div>
				<div class="glf glf-NBB">
					<label>Added by: </label> <%=r.added_by%>
				</div>
				<div class="glf glf-NBB">
					<input type="button" class="gli-edit css3-btton" id="<%=r.raid%>:<%=r.gapid%>:<%=r.gaid%>" value="Edit"/>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</div>
		</li>
	<% }); %>
</ul>
<% if(pagination !== "") { %>
	<div class="page-pagination hll-pagination"><%=pagination%></div>
<% } %>