<div class="dcr1">
	<a href="javascript:void(0)" id="dcr-add-field" class="css3-a">Add Fields</a>
	<a href="javascript:void(0)" id="dcr-add-rfield" class="css3-a">Add Recap Fields</a>
	<div class="clr"></div>
	<div class="dcr-head">
		<div class="dcrh-itemnames fL">Item Names / Description</div>
                <div class="dcrh-cat fL">Category</div> 
		<div class="dcrh-peso fL">Previous</div>
		<div class="dcrh-usdollar fL">Present</div>
		<div class="dcrh-koreanwon fL">Delivery</div>
		<div class="dcrh-slditems fL">Sld Items</div>
		<div class="dcrh-price fL">Price</div>
		<div class="dcrh-card fL">Actual</div>
		<div class="dcrh-pricetot fL">Total</div>
		<div class="clr"></div>
	</div>
	<div class="dcr-contents">
		<div class="dcrc">
                    
			<!--<div class="dcrc-rem">&nbsp;</div>-->
			<div class="dcrc-itemnames fL item-select" id="lp_item">Select Item</div>
                        <div class="dcrc-cat fL" id="cat"></div>
			<div class="dcrc-peso fL">00</div>
			<div class="dcrc-usdollar fL">00</div>
			<div class="dcrc-koreanwon fL">00</div>
			<div class="dcrc-slditems fL">00</div>
			<div class="dcrc-price fL">00.00</div>
			<div class="dcrc-card fL">00.00</div>
			<div class="dcrc-pricetot tot fL">00.00</div>
			<div class="clr"></div>
                        
		</div>
		<div class="dcrc-total">
			<div class="dcrct-names fL">Total</div>
                        <div class="dcrct-cat fL"></div>
			<div class="dcrct-peso fL"></div>
			<div class="dcrct-usdollar fL"></div>
			<div class="dcrct-koreanwon fL"></div>
			<div class="dcrct-slditems fL"></div>
			<div class="dcrct-price fL"></div>
			<div class="dcrct-card fL"></div>
			<div class="dcrct-pricetot tot fL">00.00</div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="recap-label">RECAP</div>
	<div class="dcr-recap">
		<div class="dcr-recapl fL">
			<div class="dcr-recaplc">
				<div class="dcr-recaplcl fL">Account No.</div>
				<div class="dcr-recaplcc fL">
					<div class="dcr-recaplccf">
						<div class="dcr-recaplccl txt-center dcrf-NBB fL">&nbsp;</div>
						<div class="dcr-recaplccc txt-center acct-name fL">US DOLLAR</div>
						<div class="dcr-recaplccr txt-center dcrf-NBB fL">&nbsp;</div>
						<div class="clr"></div>
					</div>
					<div class="dcr-recaplccf dcrf-NBB">
						<div class="dcr-recaplccl txt-right sales-acct fL">---</div>
						<div class="dcr-recaplccc fL">&nbsp;</div>
						<div class="dcr-recaplccr txt-right ssp-acct fL">---</div>
						<div class="clr"></div>
					</div>
					<div class="dcr-recaplccf dcrf-NBB">
						<div class="dcr-recaplccl txt-right sales-amt fL">0.00</div>
						<div class="dcr-recaplccc fL">&nbsp;</div>
						<div class="dcr-recaplccr txt-right ssp-amt fL">0.00</div>
						<div class="clr"></div>
					</div>
				</div>
				<div class="dcr-recaplcr txt-center fL">
					<p>Total Deposit</p>
					<div class="dcr-total-dep txt-right">0.00</div>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="dcr-recapr fL">
			<div class="dcr-prepby">
				<label>Prepared by: </label>
				<label><%=details.users_name%></label>
				<div class="clr"></div>
				<span><%=details.department_name%></span>
				<div class="clr"></div>
			</div>
			<div class="dcr-chkby">
				<label>Checked by: </label>
				<label>Armie Lenin L. Pila</label>
				<div class="clr"></div>
				<span>Vice President</span>
				<div class="clr"></div>
			</div>
			<div class="dcr-recvby">
				<label>Received by: </label>
				<label>Princess Minguito</label>
				<div class="clr"></div>
				<span>Accounting Dept</span>
				<div class="clr"></div>
			</div>
		</div>
		<div class="clr"></div>
	</div>
	<div>Note: Yen key money will not be deposited to the bank.</div>
	<div><input type="button" value="Save" name="save" class="css3-btton save-dailysales"></div>
	<div class="dcr-errorlog"></div>
</div>