<div class="dcrc">
	<div class="dcrc-rem">&nbsp;</div>
	<div class="dcrc-itemnames item-select fL" id="lp_item">Select Item</div>
        <div class="dcrc-cat fL"></div>
	<div class="dcrc-peso fL">00</div>
	<div class="dcrc-usdollar fL">00</div>
	<div class="dcrc-koreanwon fL">00</div>
	<div class="dcrc-slditems cal fL">00</div>
	<div class="dcrc-price cal fL">00.00</div>
	<div class="dcrc-card fL">00.00</div>
	<div class="dcrc-pricetot tot fL">00.00</div>
	<div class="clr"></div>
</div>
