<div class="content-header">Information View</div>
<div class="content">
	<div class="main-info">
		<p><%=firstname%> <%=lastname%></p>
		<p>Address: <%=cd_zip_code%>, <%=cd_country%>, <%=cd_street%>, <%=cd_province%>, <%=cd_city%></p>
		<p>Email Address: <%=cd_email%></p>
	</div>
	<!-- Personal Details -->
	<div class="personal-details"></div>
	<!-- Contact Details -->
	<div class="contact-details"></div>
	<!-- /Contact Details -->
	<!-- Emergency Contact -->
	<div class="emergency-contact"></div>
	<!-- /Emergency Contact -->
	<!-- Immigration -->
	<div class="immigration"></div>
	<!-- /Immigration -->
</div>

<!-- 
	Details Template Below
-->

<script type="text/template" id="pd_details">
<div class="personal-details-header">
	<span>Personal Details</span>
	<a href="#/profile/information" class="personal-details-edit" rel="personal-details">Edit</a>
	<div class="clr"></div>
</div>
<div class="personal-details-contents">
	<!--<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>ID Number: </label><%=pd_id_number%>
		</div>
		<div class="clr"></div>
	</div>-->
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Firstname: </label><%=firstname%>
		</div>
		<div class="personal-details-field-contents">
			<label>Nationality: </label><%=pd_nationality%>
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Middlename: </label><%=middlename%>  
		</div>
		<div class="personal-details-field-contents">
			<label>Birth Date: </label><%=pd_bdate%>
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Lastname: </label><%=lastname%>
		</div>
		<div class="personal-details-field-contents">
			<label>Marital Status: </label><%=pd_marital_status%>
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Gender: </label><%=pd_gender%>
		</div>
		<div class="clr"></div>
	</div>
</div>
</script>
<script type="text/template" id="cd_details">
<div class="personal-details-header">
	<span>Contact Details</span>
	<a href="#/profile/information" class="personal-details-edit" rel="contact-details">Edit</a>
	<div class="clr"></div>
</div>
<div class="personal-details-contents">
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Country: </label><%=cd_country%>
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Street: </label><%=cd_street%>
		</div>
		<div class="personal-details-field-contents">
			<label>City: </label><%=cd_city%>
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Province: </label><%=cd_province%>
		</div>
		<div class="personal-details-field-contents">
			<label>Zip Code: </label><%=cd_zip_code%>
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Telephone Number: </label><%=cd_telephone%>
		</div>
		<div class="personal-details-field-contents">
			<label>Mobile Number: </label><%=cd_mobile_number%>
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Email: </label><%=cd_email%>
		</div>
		<div class="clr"></div>
	</div>
</div>
</script>

<!-- 
	Save Templates Below
-->
<script type="text/template" id="pd_save">
<div class="personal-details-header">
	<span>Personal Details</span>
	<a href="#/profile/information" class="personal-details-save" rel="personal-details">Save</a>
	<div class="clr"></div>
</div>
<div class="personal-details-contents">
	<!--<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>ID Number: </label>
			<input type="text" name="pd_id_number" value="<%=pd_id_number%>">
		</div>
		<div class="clr"></div>
	</div>-->
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Firstname: </label>
			<input type="text" name="firstname" value="<%=firstname%>">
		</div>
		<div class="personal-details-field-contents">
			<label>Nationality: </label>
			<input type="text" name="pd_nationality" value="<%=pd_nationality%>">
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Middlename: </label>
			<input type="text" name="middlename" value="<%=middlename%>">
		</div>
		<div class="personal-details-field-contents">
			<label>Birth Date: </label>
			<input type="text" id="pd_bdate" name="pd_bdate" value="<%=pd_bdate%>">
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Lastname: </label>
			<input type="text" name="lastname" value="<%=lastname%>">
		</div>
		<div class="personal-details-field-contents">
			<label>Marital Status: </label>
			<select class="css3-select" name="pd_marital_status">
				<option value="Single" <% if( pd_marital_status === 'Single') { %> selected="selected" <% } %> >Single</option>
				<option value="Married" <% if( pd_marital_status === 'Married') { %> selected="selected" <% } %> >Married</option>
				<option value="Widowed" <% if( pd_marital_status === 'Widowed') { %> selected="selected" <% } %> >Widowed</option>
			</select>
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Gender: </label>
			<select class="css3-select" name="pd_gender">
				<option value="Male" <% if( pd_gender === 'Male') { %> selected="selected" <% } %> >Male</option>
				<option value="Female" <% if( pd_gender === 'Female') { %> selected="selected" <% } %> >Female</option>
			</select>
		</div>
		<div class="clr"></div>
	</div>
</div>
</script>
<script type="text/template" id="cd_save">
<div class="personal-details-header">
	<span>Contact Details</span>
	<a href="#/profile/information" class="personal-details-save" rel="contact-details">Save</a>
	<div class="clr"></div>
</div>
<div class="personal-details-contents">
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Country: </label>
			<input type="text" name="cd_country" value="<%=cd_country%>">
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Street: </label>
			<input type="text" name="cd_street" value="<%=cd_street%>">
		</div>
		<div class="personal-details-field-contents">
			<label>City: </label>
			<input type="text" name="cd_city" value="<%=cd_city%>">
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Province: </label>
			<input type="text" name="cd_province" value="<%=cd_province%>">
		</div>
		<div class="personal-details-field-contents">
			<label>Zip Code: </label>
			<input type="text" name="cd_zip_code" value="<%=cd_zip_code%>">
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Telephone Number: </label>
			<input type="text" name="cd_telephone" value="<%=cd_telephone%>">
		</div>
		<div class="personal-details-field-contents">
			<label>Mobile Number: </label>
			<input type="text" name="cd_mobile_number" value="<%=cd_mobile_number%>">
		</div>
		<div class="clr"></div>
	</div>
	<div class="personal-details-field-container">
		<div class="personal-details-field-contents">
			<label>Email: </label>
			<input type="text" name="cd_email" value="<%=cd_email%>">
		</div>
		<div class="clr"></div>
	</div>
</div>
</script>

