			<div class="profile-container">
				<div class="profile-photo">
                                     <div class="option hide" id="opt">
                                         <div class="edit_box"></div>
                                         change photo
                                     </div>
                                    <img src='' id="prof" width='140'></img> 
                                </div>
				<div class="profile-menu">
					<ul>
						<li class="sprite-create"><a href="#/profile/information">Information</a></li>
						<!--<li class="sprite-dsp"><a href="#/profile/attachments">Attachments</a></li> -->
					</ul>
				</div>
			</div>
			<div class="contents">
				<div class="content-header">Actions</div>
				<div class="content">
					Contents
				</div>
			</div>
			<div class="clr"></div>
                         <div class="popup_window_style hide">
                            <div id="upload_drag" class="popup_window_header">
                                Change Photo  
                                <div id="upload_close" class="popup_window_exit min_button" type="button">
                                    Close
                                </div>
                            </div>
                            <span class="required"></span> 
                            <div id="upload_body" class="popup_window_body">
                                 <form enctype="multipart/form-data" method="post" action="http://localhost/real.state/profile/do_upload">
                                    <input type="hidden" value="" name="filename">
                                    <input type="file" name="userfile">
                                    <button type="submit" name="form_upload" id="upload">Upload</button>
                                </form>   
                            </div>
                             
                        </div>
                        