<div class="content-header">Larry Place Daily Sales Report</div>
<div class="container-contents">
    
    
    <div class="hotel-RT">
        
        <a href="javascript:void(0)" id="dsa-report" class="css3-button">Create Daily Sales Report</a>
        <div class="clr"></div>
        <div class="clr"></div>  
           
        
    </div>            
        
    <div class="oalist-head oa-head">
		<ul class="dsrli">
			<%_.each(result, function(r) { %>
                            <li><a href="javascript:void(0)" rel="<%=r.dsr_report_id%>"><%=r.date_added%></a></li>
			<%});%>
		</ul>
    </div>    
</div>
