<div class="dcr">
	<!--
	<a href="javascript:void(0)" id="dcr-add-field" class="css3-a">Add Fields</a>
	<a href="javascript:void(0)" id="dcr-add-rfield" class="css3-a">Add Recap Fields</a>
	<div class="clr"></div>
	 -->
	<div class="dcr-head">
		<div class="dcrh-names fL">Names</div>
		<div class="dcrh-particulars fL">Particulars</div>
		<div class="dcrh-or fL">OR#</div>
		<div class="dcrh-yen fL">Yen</div>
		<div class="dcrh-peso fL">Peso</div>
		<div class="dcrh-usdollar fL">US Dollar</div>
		<div class="dcrh-koreanwon fL">K. Won</div>
		<div class="dcrh-check fL">Check</div>
		<div class="dcrh-checknumber fL">Check#</div>
		<div class="dcrh-card fL">Card</div>
		<div class="dcrh-cardn fL">Card#</div>
		<div class="clr"></div>
	</div>
	<div class="dcr-contents">
		<%
			var yen = 0, peso = 0, us_dollar = 0, k_won = 0, check = 0, card = 0;
		%>
		<% _.each(result, function(r) { %>
			<% _.each(r.dsr_collections, function(res) { %>
				<% if(res.dsr_report_id == id) { %>
					<div class="dcrc">
						<div class="dcrc-names fL"><%=res.name%></div>
						<div class="dcrc-particulars fL"><%=res.particulars%></div>
						<div class="dcrc-or fL"><%=res.or_num%></div>
						<div class="dcrc-yen fL"><%=res.yen%></div>
						<div class="dcrc-peso fL"><%=res.peso%></div>
						<div class="dcrc-usdollar fL"><%=res.us_dollar%></div>
						<div class="dcrc-koreanwon fL"><%=res.k_won%></div>
						<div class="dcrc-check fL"><%=res.check%></div>
						<div class="dcrc-checknumber fL"><%=res.check_num%></div>
						<div class="dcrc-card fL"><%=res.card%></div>
						<div class="dcrc-cardn fL"><%=res.card_num%></div>
						<div class="clr"></div>
					</div>
					
					<%
						yen += parseFloat(res.yen);
						peso += parseFloat(res.peso);
						us_dollar += parseFloat(res.us_dollar);
						k_won += parseFloat(res.k_won);
						check += parseFloat(res.check);
						card += parseFloat(res.card);
					%>
					
				<% } %>
			<% }); %>
		<% }); %>
		<div class="dcrc-total">
			<div class="dcrct-names fL">Total</div>
			<div class="dcrct-particulars fL"></div>
			<div class="dcrct-or fL"></div>
			<div class="dcrct-yen fL"><%=yen.toFixed(2)%></div>
			<div class="dcrct-peso fL"><%=peso.toFixed(2)%></div>
			<div class="dcrct-usdollar fL"><%=us_dollar.toFixed(2)%></div>
			<div class="dcrct-koreanwon fL"><%=k_won.toFixed(2)%></div>
			<div class="dcrct-check fL"><%=check.toFixed(2)%></div>
			<div class="dcrct-checknumber fL"></div>
			<div class="dcrct-card fL"><%=card.toFixed(2)%></div>
			<div class="dcrct-cardn fL"></div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="recap-label">RECAP</div>
	<div class="dcr-recap">
		<div class="dcr-recapl fL">
			<% _.each(result, function(r) { %>
				<% var count = 0; %>
				<% _.each(r.dsr_recap, function(res) { %>
					<% if(res.dsr_report_id == id) { %>
						<div class="dcr-recaplc">
							<div class="dcr-recaplcl fL">Account No.</div>
							<div class="dcr-recaplcc fL">
								<div class="dcr-recaplccf">
									<% if( count == 0 ) { %>
										<div class="dcr-recaplccl txt-center fL">SALES</div>
										<div class="dcr-recaplccc txt-center fL">&nbsp;</div>
										<div class="dcr-recaplccr txt-center fL">SSP, VE & KM</div>
										<div class="clr"></div>
									<% } else { %>
										&nbsp;
									<% } %>
								</div>
								<div class="dcr-recaplccf">
									<div class="dcr-recaplccl txt-center dcrf-NBB fL">&nbsp;</div>
									<div class="dcr-recaplccc txt-center acct-name fL"><%=res.acct_name%></div>
									<div class="dcr-recaplccr txt-center dcrf-NBB fL">&nbsp;</div>
									<div class="clr"></div>
								</div>
								<div class="dcr-recaplccf dcrf-NBB">
									<div class="dcr-recaplccl txt-right sales-acct fL"><%=res.sales_acct%></div>
									<div class="dcr-recaplccc fL">&nbsp;</div>
									<div class="dcr-recaplccr txt-right ssp-acct fL"><%=res.ssp_acct%></div>
									<div class="clr"></div>
								</div>
								<div class="dcr-recaplccf dcrf-NBB">
									<div class="dcr-recaplccl txt-right sales-amt fL"><%=res.sales_amt%></div>
									<div class="dcr-recaplccc fL">&nbsp;</div>
									<div class="dcr-recaplccr txt-right ssp-amt fL"><%=res.ssp_amt%></div>
									<div class="clr"></div>
								</div>
							</div>
							<div class="dcr-recaplcr txt-center fL">
								<p>Total Deposit</p>
								<div class="dcr-total-dep txt-right"><%=(parseFloat(res.sales_amt) + parseFloat(res.ssp_amt)).toFixed(2)%></div>
							</div>
							<div class="clr"></div>
						</div>
					<% } %>
					<% count++; %>
				<% }); %>
			<% }); %>
		</div>
		<div class="dcr-recapr fL">
			<div class="dcr-prepby">
				<label>Prepared by: </label>
				<label><%=details.users_name%></label>
				<div class="clr"></div>
				<span><%=details.department_name%></span>
				<div class="clr"></div>
			</div>
			<div class="dcr-chkby">
				<label>Checked by: </label>
				<label>Armie Lenin L. Pila</label>
				<div class="clr"></div>
				<span>Vice President</span>
				<div class="clr"></div>
			</div>
			<div class="dcr-recvby">
				<label>Received by: </label>
				<label>Princess Minguito</label>
				<div class="clr"></div>
				<span>Accounting Dept</span>
				<div class="clr"></div>
			</div>
		</div>
		<div class="clr"></div>
	</div>
	<div>Note: Yen key money will not be deposited to the bank.</div>
	<!--
	<div><input type="button" value="Save" name="save" class="css3-btton save-dailysales"></div>
	<div class="dcr-errorlog"></div>
	-->
</div>