<div class="dslC">
	<div class="header-for-list-display">
		<div class="dslc-subject-head">Subject</div>
		<div class="dslc-content-head">Content</div>
		<div class="dslc-type-head">Type</div>
		<div class="dslc-by-head">By</div>
		<div class="dslc-date-head">Date</div>
		<div class="clr"></div>
	</div>
	<% _.each(dsr, function(dsr) { %>
		<div class="dslC-content">
			<div class="dslc-subject-content" id="<%=dsr.id%>"><%=jsHelper.word_displayed_limiter(2,dsr.subject)%></div>
			<div class="dslc-content-content"><%=jsHelper.word_displayed_limiter(3, dsr.contents)%></div>
			<div class="dslc-type-content"><%=dsr.sales_type%></div>
			<div class="dslc-by-content"><%=jsHelper.word_displayed_limiter(2, dsr.filed_by)%></div>
			<div class="dslc-date-content"><%=dsr.date_filed%></div>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	<% }); %>
	<% if(pagination) { %>
		<div class="page-pagination"><%=pagination%></div>
	<% } %>
</div>