<%_.each(dsr, function(dsr) {%>
	<% if( id === dsr.id) { %>
		<div class="ads-subject-line">
			Subject: <input type="text" name="add-daily-sales-sl" value="<%=dsr.subject%>" id="add-daily-sales-sl"/>
		</div>
		<textarea class="ckeditor-daily-sales-rep"><%=dsr.contents%></textarea>
	<% } %>
<% }); %>
<input type="button" id="<%=id%>" class="edsv-css3-button update-daily-sales-rep" value="Update">
<div class="clr"></div>