<div class="content-header">Daily Sales Report</div>
<div class="content">
	<div class="hotel-RT">
		<a href="#/task/hotel-daily-sales-report" id="daily-sales-list" class="css3-a hotel-roomtype-active">Daily Sales Report List</a>
		<a href="#/task/hotel-daily-sales-report" id="daily-sales-add-report" class="css3-a">Create Daily Sales Report</a>
		<div class="clr"></div>
	</div>
	<div class="hdsr-container"></div>
</div>