<div class="container-header">Assigned Assets</div>
<div class="container-contents">
    <div class="header-for-list-display">
		<div class="asset-list-head-assettag">Asset Tag</div>
		<div class="asset-list-head-itemcode">Item Code</div>
		<div class="asset-list-head-brand">Brand</div>
		<div class="asset-list-head-description">Description</div>
		<div class="asset-list-head-serialnum">Serial Number</div>
	</div>
    <div class="asset-list-content">
    	<div class="asset-list-content-assettag">Asset Tag</div>
		<div class="asset-list-content-itemcode">Item Code</div>
		<div class="asset-list-content-brand">Brand</div>
		<div class="asset-list-content-description">Description</div>
		<div class="asset-list-content-serialnum">Serial Number</div>
		<div class="clr"></div>
	</div>
</div>
