<div class="container-header">Transfered Assets</div>
<div class="container-contents">
	<div class="header-for-list-display">
		<div class="asset-transfer-status-header">Status</div>
		<div class="asset-transfer-asset-tag-header">Asset Tag</div>
		<div class="asset-transfer-brand-header">Brand</div>
		<div class="asset-transfer-transfer-to-header">Transfered From</div>
		<div class="asset-transfer-date-transfered-header">Date Transfered</div>
		<div class="asset-transfer-date-recieved-header">Recieved</div>
		<div class="asset-transfer-date-approval-header">Approval</div>
	</div>
	<div class="asset-transfer-list">
		<%_.each(result, function(result) {%>
			<div class="asset-transfer-list-field">
				<div class="asset-transfer-status-content">
					<% var fin_appr = result.approval; %>
					<% if( fin_appr.toLowerCase() === "rejected" ) { %>
						<label>Rejected</label>
					<% } else if( fin_appr.toLowerCase() === "cancelled" ) { %>
						<label>Cancelled</label>
					<% } else if( fin_appr.toLowerCase() === "pending" ) { %>
						<a href="#/assets/accountable-asset/transfered" class="cancel-asset-transfer <%=result.tracker_id%>:<%=result.parent_tracker%>">Cancel</a>
					<% } else if( fin_appr.toLowerCase() === "approved" ) { %>
						<label>Approved</label>
					<% } %>
				</div>
				<div class="asset-transfer-asset-tag-content"><%=result.asset_tag%></div>
				<div class="asset-transfer-brand-content"><%=result.brand%></div>
				<div class="asset-transfer-transfer-to-content"><%=result.user_from%></div>
				<div class="asset-transfer-date-transfered-content"><%=result.date_transfered%></div>
				<div class="asset-transfer-date-recieved-content">
					<% if( result.received != 0 || result.received != '0' ) { %>
						Received
					<% } else { %>
						<a href="#/assets/accountable-asset/transfered" class="receive-asset-transfer <%=result.tracker_id%>:<%=result.parent_tracker%>">Click to receive</a>
					<% } %>
				</div>
				<div class="asset-transfer-date-approval-content"><%=result.approval%></div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		<% }); %>
		<% if(pagination != "") { %>
			<div class="page-pagination"><%=pagination%></div>
		<% } %>
	</div>
</div>
