<ul class="oaccordion-list">
	<% _.each(result, function(r) { %>
		<li>
			<div class="oalist-head oa-head">
				<a id="1" href="#/task/hr-forms">+</a>
				Name: <%=r.requested_by%> - <%=r.leave_type%>
				<span>Date Requested: <%=r.date_requested%></span>
				<div class="clr"></div>
			</div>
			<div class="oa-content glf-c">
				<div class="glf">
					<label>Requested By: </label> <%=r.requested_by%>
				</div>
				<div class="glf">
					<label>Leave Type: </label> <%=r.leave_type%>
				</div>
				<div class="glf">
					<label>Head Approval: </label> <%=r.imm_head_appvl%>
				</div>
				<div class="glf">
					<label>HR Approval: </label> <%=r.hr_appvl%>
				</div>
				<div class="glf">
					<label>Requested Time: </label> <%=r.time_requested%>
				</div>
				<div class="glf">
					<label>Pay Type: </label> <%=(r.pay_type == 1 ) ? 'With Pay' : 'Without Pay'%>
				</div>
				<div class="glf">
					<label>Leave Start: </label> <%=r.leave_start%>
				</div>
				<div class="glf">
					<label>Leave End: </label> <%=r.leave_end%>
				</div>
				<div class="glf">
					<label>Return Date: </label> <%=r.return_date%>
				</div>
				<div class="glf">
					<label>Date Requested: </label> <%=r.date_requested%>
				</div>
				<div class="clr"></div>
				<div class="glfm">
					Reason: 
					<label><%=r.reason%></label>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
				<div class="glfm glfm-center glf-NBB">
					Set Leave Status to:
					<select class="css3-select">
						<option value="">Please select</option>
						<option value="approved" <% if(r.hr_appvl == 'approved') { %> selected = 'selected'  <% } %> >Approve</option>
						<option value="rejected" <% if(r.hr_appvl == 'rejected') { %> selected = 'selected'  <% } %> >Reject</option>
					</select>
					<input type="button" class="hrlfc-css3-button setLeaveStatus" id="<%=r.lid%>" value="Set">
				</div>
				<div class="clr"></div>
			</div>
		</li>
	<% }); %>
</ul>
<% if(pagination !== "") { %>
	<div class="page-pagination hll-pagination"><%=pagination%></div>
<% } %>