<div class="content-header">Logs of Room Number: <%=rn%></div>
<div class="content">
	<div class="gs-contents">
		<div class="hr-logs-occupied"></div>
		<div class="hr-logs-reserved"></div>
		<div class="hr-logs-history"></div>
		<div class="clr"></div>
	</div>
</div>