<div class="glf-r gaccommodation-form">
	<div class="glf-SBD">Note: Please fill up all the required fields mark with *</div>
	<div class="glf">
		<label>Last Name:</label>
		<input type="text" name="ag_lname" id="ag_lname">
	</div>
	<div class="glf">
		<label>First Name:</label>
		<input type="text" name="ag_fname" id="ag_fname">
	</div>
	<div class="glf">
		<label>English Name:<span class="required">*</span></label>
		<input type="text" name="ag_engname" id="ag_engname" class="validation-required">
	</div>
	<div class="glf">
		<label>Gender:<span class="required">*</span> </label>
		<select class="css3-select validation-required" name="ag_gender" id="ag_gender">
			<option value="">Please select gender</option>
			<option value="female">Female</option>
			<option value="male">Male</option>
		</select>
	</div>
	<div class="glf">
		<label>Age:</label>
		<input type="text" name="ag_age" id="ag_age">
	</div>
	<div class="glf">
		<label>Number of Weeks:</label>
		<input type="text" name="ag_numof_weeks" id="ag_numof_weeks">
	</div>
	<div class="glf">
		<label>Email Add:</label>
		<input type="text" name="ag_email_add" id="ag_email_add">
	</div>
	<div class="glf">
		<label>Mobile No:</label>
		<input type="text" name="ag_mobile_no" id="ag_mobile_no">
	</div>
	<div class="glf">
		<label>Student No:</label>
		<input type="text" name="ag_student_no" id="ag_student_no">
	</div>
	<div class="glf">
		<label>Course:</label>
		<input type="text" name="ag_course" id="ag_course">
	</div>
	<div class="glf">
		<label>Date of Birth:</label>
		<input type="text" name="ag_dob" id="ag_dob">
	</div>
	<div class="glf">
		<label>Nationality:</label>
		<input type="text" name="ag_nationality" id="ag_nationality">
	</div>
	<div class="glf">
		<label>Passport No:<span class="required">*</span></label>
		<input type="text" name="ag_passport_no" id="ag_passport_no" class="validation-required">
	</div>
	<div class="glf">
		<label>Expiry Date:<span class="required">*</span></label>
		<input type="text" name="ag_expiry_date" id="ag_expiry_date" class="validation-required">
	</div>
	<div class="glf">
		<label>Place of Issue:</label>
		<input type="text" name="ag_placeof_issue" id="ag_placeof_issue">
	</div>
	<div class="glf">
		<label>Date of Issue:</label>
		<input type="text" name="ag_dateof_issue" id="ag_dateof_issue">
	</div>
	<div class="glf">
		<label>Visa Expiry:<span class="required">*</span></label>
		<input type="text" name="ag_visa_expiry" id="ag_visa_expiry" class="validation-required">
	</div>
	<div class="glf">
		<label>SSP Validity:<span class="required">*</span></label>
		<input type="text" name="ag_ssp_validity" id="ag_ssp_validity" class="validation-required">
	</div>
	<div class="glf glf-SBD">
		<label>Address Abroad:</label>
		<input type="text" name="ag_address_abroad" id="ag_address_abroad">
	</div>
	<div class="glf glf-SBD">
		<label>Name of Guardian:</label>
		<input type="text" name="ag_nameof_guardian" id="ag_nameof_guardian">
	</div>
	
	
	<div class="glf">
		<label>Room No:<span class="required">*</span> </label>
		121212
	</div>
	<div class="glf">
		<label>&nbsp;</label>
	</div>
	<div class="glf">
		<label>Book ID:</label>
		<input type="text" name="ag_booking_id" id="ag_booking_id">
	</div>
	<div class="glf">
		<label>Booking Agent:<span class="required">*</span> </label>
		<select class="css3-select validation-required" name="ag_booking_type" id="ag_booking_type">
			<option value="">Please select booking type</option>
			<option value="Booking.com">Booking.com</option>
			<option value="Asia Rooms">Asia Roooms</option>
			<option value="Agoda">Agoda</option>
			<option value="Late Rooms">Late Rooms</option>
			<option value="Rates Go">Rates Go</option>
			<option value="Walk-in">Walk-in</option>
			<option value="Bigfoot/IAFT">Bigfoot/IAFT</option>
			<option value="Corporate Rate">Corporate Rate</option>
			<option value="Phone Reservation">Phone Reservation</option>
			<option value="Room Rate">Room Rate</option>
			<option value="others">others</option>
		</select>
	</div>
	<div class="glf">
		<label>Check-in Date:</label>
		<input type="text" name="ag_checkin_date" id="ag_checkin_date">
	</div>
	<div class="glf">
		<label>Send Off Time:</label>
		<input type="text" name="ag_sendoff_time" id="ag_sendoff_time">
	</div>
	<div class="glf">
		<label>Check-out Date:</label>
		<input type="text" name="ag_checkout_date" id="ag_checkout_date">
	</div>
	<div class="glf">
		<label>Pick Up Time:</label>
		<input type="text" name="ag_pickup_time" id="ag_pickup_time">
	</div>
	<div class="clr"></div>
	<div class="glfm">
		Comments: 
		<textarea id="ag_cg_comments" name="ag_cg_comments"></textarea>
	</div>
	<div class="glf glf-NBB">
		<label>Status:<span class="required">*</span> </label>
		<select name="ag_booking_status" id="ag_booking_status" class="css3-select validation-required">
			<option value="">Please select status </option>
			<option value="checkin">Checkin</option>
			<option value="reserved">Reserve</option>
		</select>
	</div>
	<div class="glfm glf-NBB">
		<input type="button" class="glfr-add-accom-ST" value="Save" />
		<div class="clr"></div>
	</div>
	<div class="clr"></div>
</div>