<div class="container-header">Larry's Daily Sales</div>
<div class="content white-shadow">
    <div class="countbox menucenter">Daily Sales Amount</div>
        <div class="alldsales"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <table>
            <tr>
                <td>
                    <div class="sales-price"></div>
                </td>
                <td>
                    <div class="cbox1 dsales"></div>
                </td>
            </tr>
        </table>
    </div>

     <div class="hide lp-inv myDiv_inv psy_inv item-all-show" id="show-pi"> 
     </div>
<div class="hide view-or">     
<div class="OR-view paybox shadowbox" id="OR-view">
    <div>
    <label class="to-left">
        <div id="celi">Cleverlearn</div>
        <div id="celi1">English Language Institute, Inc.</div>
        <div class="spacer_or_">
            <label class="spacer_or">OFFICIAL RECEIPT</label>
        </div>
        <div>
            <div class="spacer_or3"></div>
            <label>Recieved from LARRY'S PLACE</label>
        </div>
        <div>
            <label>with address at _______________________________</label>
        </div>
        <div>
            <label>the sum of __________________________________</label>
        </div>
        <div>
            ( <label class="spacer_or"> Php <label class="total-sum"></label> </label> ) in full/ partial payment of the following:
        </div>
        <div class="spacer_or3"></div>
    </label>
    <label class="to-right"> 
        <div class="address">Saac II Road, Brgy. Mactan</div>
        <div class="address">Lapu-Lapu City, Cebu 6015 Philippines</div>
        <div class="address">Tel No. (032) 495-9955</div>
        <div class="address">Fax No. (032) 236-9548</div>
        <div class="address">TIN: 248-389-570-000 NV</div>
        <div class="spacer_or1"></div>
        <div class="address">Date: <label class="sales-date1"><label class="sales-date"></label></label></div> 
        <div class="spacer_or1"></div>
    </label>
    </div>
    <table>
        <tr>
            <td class="pap">Particulars</td>
            <td class="pap">Amount</td>
            <td class="pap">Payment Mode</td>
        </tr>
        <tr>
            <td class="pap">LARRY'S PLACE VARIOUS SALES <label class="sales-date"></label></td>
            <td class="pap">Php <label class="total-sum"></label></td>
            <td class="pap">Cash: Peso</td>
        </tr>
    </table>      
</div>
    <div class="to-right">
       <button class="blue-button" name="print_page">Print Receipt</button>
    </div> 
</div>
    <div class="hide lp-inv myDiv additem shadowbox" id="additem-show">
        
                            <form action = "ops/lp_onduty_dsales" id="additem">
                                <label class="desc"></label>
                                <input type="hidden" name="item-id" value=""/>
                                <input type="hidden" name="item"/>
                                <input type="hidden" name="price"/>
                                <input type="hidden" name="isales"/>
                            </form> 
                               
   </div>    
        <div class="err_msg hide"></div>
        <div class="rq hide myDiv1 menucenter"></div>
        
                  
     