<div class="clr"></div>
<div class="prs-add-list-content">
	<div class="prs-add-content-remove">
		<a href="#/forms/prs/form">Remove</a>
	</div>
	<div class="prs-add-content-description" id="prs_description">Enter<div class="prs-add-content-unitofmeasure item-select" id="prs_uom">(ex. each, kilo, grams)</div> the product name or description</div>
	<div class="prs-add-content-unitofmeasure item-select" id="prs_uom">(ex. each, kilo, grams)</div>
	<div class="prs-add-content-qty item-qty" id="prs_qty">1</div>
	<div class="prs-add-content-unitprice item-price" id="prs_price">0.00</div>
	<div class="prs-add-content-amt item-amt" id="prs_amt">0.00</div>
	<div class="clr"></div>
</div>