<div class="container-header">PRS Form</div>
<div class="container-contents">
	<div class="validation-note">Note: Please fill up all the required fields mark with *</div>
	<div class="clr"></div>
	<div class="prs-form-header">
		<div class="prs-form-field">
			<label>Requested By: </label><label><%=users_name%></label>
		</div>
		<div class="prs-form-field">
			<label>Date Required:<span class="required">*</span> </label><input type="text" id="prs_daterequired" class="validation-required" name="prs_daterequired">
		</div>
		<div class="clr"></div>
		<div class="prs-form-field">
			<label>Department: </label><label><%=department_name%></label>
		</div>
		<div class="prs-form-field">
			<label>Supplier:<span class="required">*</span> </label>
			<select class="css3-select validation-required" name="prs_supplier">
				<option value="">Select Supplier</option>
				<option value="la nueva">La Nueva</option>
				<option value="macro">Macro</option>
				<option value="nutech marketing">Nutech Marketing</option>
				<option value="others">Others</option>
		</select>
		</div>
		<div class="clr"></div>
		<div class="prs-form-field">
			<label>Type:<span class="required">*</span> </label>
			<select class="css3-select validation-required" name="prs_type">
				<option value="">Select Type</option>
				<option value="stock">Stock</option>
				<option value="asset">Asset</option>
			</select>
		</div>
		<div class="prs-form-field">
			<label>Payment Type:<span class="required">*</span> </label>
			<select class="css3-select validation-required" name="prs_payment_type">
				<option value="">Select Payment Type</option>
				<option value="cash">Cash</option>
				<option value="check">Check</option>
				<option value="credit card">Credit Card</option>
				<option value="others">Others</option>
			</select>
		</div>
		<div class="clr"></div>
		<div class="prs-add-field">
                    
                        <a href="#/forms/prs/form">Click here to add fields to the form</a>
                       
		</div>
	</div>
	<div class="prs-add-list">
		<div class="header-for-list-display">
			<div class="prs-add-header-remove">Remove</div>
			<div class="prs-add-header-description">Item Name Or Description</div>
			<div class="prs-add-header-unitofmeasure">Unit of Measure</div>
			<div class="prs-add-header-qty">Quantity</div>
			<div class="prs-add-header-unitprice">Unit Price</div>
			<div class="prs-add-header-amt">Amount</div>
			<div class="clr"></div>
		</div>
		<div class="prs-add-list-content">
			<div class="prs-add-content-remove">
				<a href="#/forms/prs/form">Remove</a>
			</div>
			<div class="prs-add-content-description" id="prs_description">Enter the product name or description</div>
			<div class="prs-add-content-unitofmeasure item-select" id="prs_uom">(ex. each, kilo, grams)</div>
			<div class="prs-add-content-qty item-qty" id="prs_qty">1</div>
			<div class="prs-add-content-unitprice item-price" id="prs_price">0.00</div>
			<div class="prs-add-content-amt item-amt" id="prs_amt">0.00</div>
			<div class="clr"></div>
    		</div>
	</div>
	<div class="prs-submit-form">
		<input type="button" class="css3-button" name="submit_prs" value="Submit">
	</div>
</div>