<div class="container-header">PRS List</div>
<div class="container-contents">
	<div class="forms-list-search forms-list-search-from">
		<label>Period From: </label>
		<input type="text" id="period_from" name="period_from">
	</div>
	<div class="forms-list-search forms-list-search-to">
		<label>To: </label>
		<input type="text" id="period_to" name="period_to">
	</div>
	<div class="forms-list-search forms-list-search-status">
		<label>Status: </label>
		<select name="forms_list_status" id="forms_list_status">
			<option>Pending</option>
			<option>Rejected</option>
			<option>Cancelled</option>
			<option>Approved</option>
		</select>
	</div>
	<div class="forms-list-search forms-list-search-action">
		<input type="button" class="css3-button prs-list-search" id="forms_list_search" name="prs-list-search" value="Search">
	</div>
	<div class="clr"></div>
	<div class="forms-list">
		<div class="header-for-list-display">
			<div class="prs-pendapvd-head-status">Status</div>
			<div class="prs-pendapvd-head-prsid">PRS ID</div>
			<div class="prs-pendapvd-head-date-filed">Date Filed</div>
			<div class="prs-pendapvd-head-date-required">Date Required</div>
			<div class="prs-pendapvd-head-prstype">PRS TYPE</div>
			<div class="prs-pendapvd-head-department-approval">Dept. Head Approval</div>
			<div class="prs-pendapvd-head-finhead-approval">Fin. Head Approval</div>
			<div class="clr"></div>
		</div>
		<%_.each(prs_list, function(prs) {%>
			<div class="srs-pendapvd-list">
				<div class="prs-pendapvd-list-status">
					<%
						var dh_apvl = prs.dept_head_appvl;
						var fin_apvl = prs.fin_head_appvl;
					%>
					<% if( dh_apvl.toLowerCase() === "rejected" || fin_apvl.toLowerCase() === "rejected" ) { %>
						<label>Rejected</label>
					<% } else if( dh_apvl.toLowerCase() === "cancelled" || fin_apvl.toLowerCase() === "cancelled" ) { %>
						<label>Cancelled</label>
					<% } else if( dh_apvl.toLowerCase() === "pending" || fin_apvl.toLowerCase() === "pending" ) { %>
						<a href="#/forms/prs/list" class="cancel-prs <%=prs.prs_id%>">Cancel</a>
					<% } else if( dh_apvl.toLowerCase() === "approved" || fin_apvl.toLowerCase() === "approved" ) { %>
						<label>Approved</label>
					<% } %>
				</div>
				<div class="prs-pendapvd-list-prsid"><%=prs.prs_id%></div>
				<div class="prs-pendapvd-list-date-filed"><%=prs.date_requested%></div>
				<div class="prs-pendapvd-list-date-required"><%=prs.date_required%></div>
				<div class="prs-pendapvd-list-prstype"><%=prs.prs_type%></div>
				<div class="prs-pendapvd-list-department-approval"><%=prs.dept_head_appvl%></div>
				<div class="prs-pendapvd-list-finhead-approval"><%=prs.fin_head_appvl%></div>
				<div class="clr"></div>
			</div>
		<% }); %>
		<% if( pagination != "" ) { %>
			<div class="page-pagination"><%=pagination%></div>
		<% } %>
	</div>
</div>