<div class="container-header">Checklist in Every Room</div>
    <div class="content white-shadow">
    
        <div class="rs">        
        <ul>
            <li class="white-litegray" title="Checklist">Checklist Form</li>
            <li class="white-litegray" title="Attendant">Room Attendant</li>
        </ul>
         
          <div class="hide form_checklist" id="form"> 
          <form action="ops/checklist_form" id="frm_checklist">
            <div> 
                <div class="spacer"></div>
                <label><span class="required">*</span>Date:</label>
                <input class="fld-required" type="text" name="date"/>
                <label><span class="required">*</span>SHIFT</label>
                <select class="fld-required" name="am_hr">
                    <option value="">AM</option>
                    <option value="1">1:00</option>
                    <option value="2">1:30</option>
                    <option value="3">2:00</option>
                    <option value="4">2:30</option>
                    <option value="5">3:00</option>
                    <option value="6">3:30</option>
                    <option value="7">4:00</option>
                    <option value="8">4:30</option>
                    <option value="9">5:00</option>
                   <option value="10">5:30</option>
                   <option value="11">6:00</option>
                   <option value="12">6:30</option>
                   <option value="13">7:00</option>
                    <option value="14">7:30</option>
                    <option value="15">8:00</option>
                    <option value="16">8:30</option>
                    <option value="17">9:00</option>
                    <option value="18">9:30</option>
                    <option value="19">10:00</option>
                    <option value="20">10:30</option>
                    <option value="21">11:00</option>
                   <option value="22">11:30</option>
                   <option value="23">12:00</option>
                   <option value="24">12:30</option>
                </select> 
                <select class="fld-required" name="pm_hr">
                    <option value="">PM</option>
                     <option value="1">1:00</option>
                    <option value="2">1:30</option>
                    <option value="3">2:00</option>
                    <option value="4">2:30</option>
                    <option value="5">3:00</option>
                    <option value="6">3:30</option>
                    <option value="7">4:00</option>
                    <option value="8">4:30</option>
                    <option value="9">5:00</option>
                   <option value="10">5:30</option>
                   <option value="11">6:00</option>
                   <option value="12">6:30</option>
                   <option value="13">7:00</option>
                    <option value="14">7:30</option>
                    <option value="15">8:00</option>
                    <option value="16">8:30</option>
                    <option value="17">9:00</option>
                    <option value="18">9:30</option>
                    <option value="19">10:00</option>
                    <option value="20">10:30</option>
                    <option value="21">11:00</option>
                   <option value="22">11:30</option>
                   <option value="23">12:00</option>
                   <option value="24">12:30</option>
                </select> 
                <label> Prepared By:</label>
                <select class="fld-required" name="prepared_by"></select>
                
                <button class="blue-button" type="submit">Add Schedule</button>
                
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
         </form>
            
            <div class="search-box1">
             <div class="white-shadow menucenter">Search:</div>
            <label>Search Name:</label> <input type="text" name="attendant_name" /> 
         </div>
        </div> 
            
            <div class="hide form_checklist" id="form_attendant"> 
          <form action="ops/checklist_form" id="frm_attendant">
            <div> 
                <div class="spacer"></div>
                <label><span class="required">*</span>Firstname:</label>
                <input class="fld-required" type="text" name="fname"/>
                 <label><span class="required">*</span>Lastname:</label>
                <input class="fld-required" type="text" name="lname"/>
                <button class="blue-button" type="submit">Add Room Attendant</button>
                <div class="spacer"></div>
            </div>
            <div class="clr"></div>
         </form>
            
            <div class="search-box1">
             <div class="white-shadow menucenter">Search:</div>
            <label>Search Name:</label> <input type="text" name="attendant_fname" /> 
         </div>
        </div>   
            
    </div>  
    </div>

    <div class="cl-report checklist-report hide" id="cr">  
    </div>
    <div class="hide checklist-report chr-add" id="chradd">
        <div class="white-litegray menucenter">ADD ROOM ATTENDANT DAILY CHECKLIST</div>
                            <div class="checkuplist-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>Date:</label> <label class="sw-text ra_date"></label></div>
                                <div><label>SHIFT:</label> 
                                    <label class="sw-text am"> </label> 
                                    <label class="sw-text">AM - </label> 
                                    <label class="sw-text pm"></label> 
                                    <label class="sw-text">PM</label></div>
                                <div><label>Prepared By:</label> 
                                    <label class="sw-text fname"></label>
                                    <label class="sw-text lname"></label></div> 
                                
                                
                            </div>
                            <div class="checklist-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>Room#</label></div>
                                <div><label>Time</label></div>
                                <div><label>Room Status</label></div>
                                <div><label>Number of Guest</label></div>
                                <div><label>BT</label></div>
                                <div><label>BM</label></div>
                                <div><label>FITTED</label></div>
                                <div><label>FLAT</label></div>
                                <div><label>BLANKET</label></div>
                                <div><label>PILLOW</label></div>
                                <div><label>PILLOW CASE</label></div>
                                <div><label>TOILET TISUE</label></div>
                                
                                
                            </div>
        <div class="checklist_list_container1 white-shadow">
        <div class="checklist-contents1">
                            <form action = "ops/checklist_form" id="addchecklist">
                                
                                <div>
                                    <select class="fld-required input-fieldrm" name="room_no">
                                    </select>
                                </div>
                                <div>
                                    <label class="chtext">
                                        In<input class="fld-required input-fieldtime" type="text" name="time-in">
                                    </labe>
                                    <label class="chtext">
                                        Out<input class="fld-required input-fieldtime" type="text" name="time-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <select class="fld-required input-fieldst" name="room_status"></select>           
                                </div>
                                <div>
                                    <input class="fld-required input-field formatdec" type="text" name="guest-no">          
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="bt-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="bt-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="bm-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="bm-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="fit-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="fit-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="flat-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="flat-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="blanket-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="blanket-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="pilow-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="pilow-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="pilowcs-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="pilowcs-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="toilet-tissue-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="toilet-tissue-out"> 
                                    </labe>                               
                                </div> 
                                    <input type="hidden" name="ch_id" value=""/>
                                <div id="rw">
                                    <label class="chtext">
                                        Remarks: <input class="fld-required input-fieldrx" type="text" name="remarks">
                                       </labe>
                               </div>
                                <div id="rw">
                                    <label class="chtext">
                                        Extra Work Done:<input class="fld-required input-fieldrx" type="text" name="extra-work-done"> 
                                        <input type="hidden" name="uch_id" value=""/>
                                    </labe>    
                               </div>
                                
                                <button class="blue-button" type="submit">Add</button>
                                
                              </form>
                            </div>
        </div>
        </div>
        
        <div class="hide checklist-report chr-update" id="chrupdate">
        <div class="white-litegray menucenter">UPDATE ROOM ATTENDANT DAILY CHECKLIST</div>
                            <div class="checkuplist-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>Date:</label> <label class="sw-text ra_date"></label></div>
                                <div><label>SHIFT:</label> 
                                    <label class="sw-text am"> </label> 
                                    <label class="sw-text">AM - </label> 
                                    <label class="sw-text pm"></label> 
                                    <label class="sw-text">PM</label></div>
                                <div><label>Prepared By:</label> 
                                    <label class="sw-text fname"></label>
                                    <label class="sw-text lname"></label></div> 
                                
                                
                            </div>
                            <div class="checklist-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>Room#</label></div>
                                <div><label>Time</label></div>
                                <div><label>Room Status</label></div>
                                <div><label>Number of Guest</label></div>
                                <div><label>BT</label></div>
                                <div><label>BM</label></div>
                                <div><label>FITTED</label></div>
                                <div><label>FLAT</label></div>
                                <div><label>BLANKET</label></div>
                                <div><label>PILLOW</label></div>
                                <div><label>PILLOW CASE</label></div>
                                <div><label>TOILET TISUE</label></div>
                                
                                
                            </div>
        <div class="checklist_list_container1 white-shadow">
        <div class="checklist-contents1">
                            <form action = "ops/checklist_form" id="updatechecklist">
                                
                                <div>
                                    <select class="fld-required input-fieldrm" name="edit-room_no">
                                    </select>
                                </div>
                                <div>
                                    <label class="chtext">
                                        In<input class="fld-required input-fieldtime" type="text" name="edit-time-in">
                                    </labe>
                                    <label class="chtext">
                                        Out<input class="fld-required input-fieldtime" type="text" name="edit-time-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <select class="fld-required input-fieldst" name="edit-room_status"></select>           
                                </div>
                                <div>
                                    <input class="fld-required input-field formatdec" type="text" name="edit-guest-no">          
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="edit-bt-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="edit-bt-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="edit-bm-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="edit-bm-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="edit-fit-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="edit-fit-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="edit-flat-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="edit-flat-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="edit-blanket-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="edit-blanket-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="edit-pilow-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="edit-pilow-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="edit-pilowcs-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="edit-pilowcs-out"> 
                                    </labe>                               
                                </div>
                                <div>
                                    <label class="chtext">
                                        In: <input class="fld-required input-field formatdec" type="text" name="edit-toilet-tissue-in">
                                    </labe>
                                    <label class="chtext">
                                        Out:<input class="fld-required input-field formatdec" type="text" name="edit-toilet-tissue-out"> 
                                    </labe>                               
                                </div> 
                                <div id="rw">
                                    <label class="chtext">
                                        Remarks: <input class="fld-required input-fieldrx" type="text" name="edit-remarks">
                                       </labe>
                               </div>
                                <div id="rw">
                                    <label class="chtext">
                                        Extra Work Done:<input class="fld-required input-fieldrx" type="text" name="edit-extra-work-done"> 
                                        <input type="hidden" name="uch_id" value=""/>
                                    </labe>    
                               </div>
                                <button class="blue-button" type="submit">Update</button>
                               </div>
                              </form>
                            
        </div>
        </div>

        <div class="err_msg hide"></div>
        <div class="dyn_content"></div>

       