<div class="container-header">House Keeping Inventory</div>
    <div class="content white-shadow">
    
        <div class="fboption">        
        <ul>
            <li class="white-litegray" title="Amenities Inventory">Amenities</li>
            <li class="white-litegray" title="Mini Bar Inventory">Mini Bar</li>
            <li class="white-litegray" title="Linen Inventory">Linen</li>
        </ul>
          <div class="hide form-hk-inventory" id="hk-inventory"> 
          <form action="ops/hk_inventory" id="frm-hk-inventory">
            <div> 
                <div class="spacer"></div>
                <div class="spacer"></div>
                <label><span class="required">*</span>Forwarded Date From:</label>
                <input class="fld-required" type="text" name="inv-from"/>
                <label>To:</label> 
                <input class="fld-required" type="text" name="inv-to"/>
                <input type="hidden" name="cat-id" value="3"/>
                <button class="blue-button" type="submit">Add Date</button>
                <div class="spacer"></div>
            </div>
            <div class="hide showsuccess" id="showsuccess">Date Added</div>
            <div class="hide myDiv" id="showfailed"></div>
            <div class="clr"></div>
         </form> 
         <div class="search-box1">
             <div class="white-shadow menucenter">Search:</div>
             <label>Search Date:</label> <input type="text" name="date" /> 
         </div>
        </div>  
        
        <div class="hide form-hk-inventory" id="hk-minb-inventory"> 
          <form action="ops/hk_inventory" id="frm-hk-minb-inventory">
            <div> 
                <div class="spacer"></div>
                <div class="spacer"></div>
                <label><span class="required">*</span>Forwarded Date From:</label>
                <input class="fld-required" type="text" name="minb-inv-from"/>
                <label>To:</label> 
                <input class="fld-required" type="text" name="minb-inv-to"/>
                <input type="hidden" name="minb-cat-id" value="1"/>
                <button class="blue-button" type="submit">Add Date</button>
                <div class="spacer"></div>
            </div>
            <div class="hide showsuccess" id="showsuccessminb">Date Added</div>
            <div class="hide myDiv" id="showfailedminb"></div>
            <div class="clr"></div>
         </form> 
         <div class="search-box1">
             <div class="white-shadow menucenter">Search:</div>
             <label>Search Date:</label> <input type="text" name="minbdate" /> 
         </div>
        </div> 
            
        <div class="hide form-hk-inventory" id="hk-linen-inventory"> 
          <form action="ops/hk_inventory" id="frm-hk-linen-inventory">
            <div> 
                <div class="spacer"></div>
                <div class="spacer"></div>
                <label><span class="required">*</span>Forwarded Date From:</label>
                <input class="fld-required" type="text" name="linen-inv-from"/>
                <label>To:</label> 
                <input class="fld-required" type="text" name="linen-inv-to"/>
                <input type="hidden" name="linen-cat-id" value="2"/>
                <button class="blue-button" type="submit">Add Date</button>
                <div class="spacer"></div>
            </div>
            <div class="hide showsuccess" id="showsuccesslinen">Date Added</div>
            <div class="hide myDiv" id="showfailedlinen"></div>
            <div class="clr"></div>
         </form> 
         <div class="search-box1">
             <div class="white-shadow menucenter">Search:</div>
             <label>Search Date:</label> <input type="text" name="linendate" /> 
         </div>
        </div>  
            
    </div>  
    </div>

    <div class="spacer"></div>
    <div class="hide show-amin-inventory hk-inventory" id="show-amin-inv"></div>
    
    <div class="hide hk-inventory " id="inventory-add">
                        <div class="white-litegray menucenter">Add Amenities Inventory</div>
                        <div class="inv-header1 white-shadow">  
                                
                                <div><label class="sw-text">Forwarded Balance:</label> <label class="sw-text inv-from"></label></div>
                                <div><label class="sw-text">Inventory as of:</label> <label class="sw-text inv-to"></label></div>
        
                            </div>
                            <div class="hk-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>ITEM DESCRIPTION</label></div>
                                <div><label>BEG BALANCE</label></div>
                                <div><label>PURCHASED</label></div>
                                <div><label>T. OUT</label></div>
                                <div><label>BALANCE</label></div>
                                <div><label>PHYSICAL COUNT</label></div>
                                 <div><label>REMARKS</label></div>
                                <div><label>RECONCILATION</label></div>
                                
                                
                                
                            </div>
        <div class="hk_list_container1 white-shadow">
        <div class="hk-contents1">
                            <form action = "ops/hk_inventory" id="add-amin-inv">
                                
                                <div>
                                   <select class="fld-required input-fieldst" name="amin-item"></select> 
                                </div>
                                <div> 
                                   <input class="fld-required input-fieldtime formatdec" type="text" name="amin-beg-bal" id="add"/>                       
                                </div>
                                <div>
                                        <input class="fld-required input-fieldtime formatdec" type="text" name="amin-purchased" id="add"/>                       
                                </div>
                                <div>
                                    <input class="fld-required input-fieldtime formatdec" type="text" name="amin-t_out" id="minus"/>                       
                                </div>
                                <div>
                                     <input class="input-fieldtime formatdec" type="hidden" name="amin-bal"/> 
                                     <span class="menucenter sum" id="sum">0</span>
                                </div>
                                <div>
                                    <input class="fld-required input-fieldtime formatdec" type="text" name="amin-p_count"/> 
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldrm" type="text" name="amin-remark"/> 
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldrm" type="text" name="amin-recon" id="r"/> 
                                </div>
                                <input type="hidden" name="amin-inv-id" value=""/>
                                <div><button class="blue-button" type="submit">Add</button></div>
                            
                   <script>
			$(document).ready(function(){

				$("form#add-amin-inv input[type$=text], form#add-amin-inv input[type$=hidden]").each(function() {

					$(this).keyup(function(){
						calculateSum();
                                                calculateMin();
					});
				});

			});

			function calculateSum() {

				var sum = 0;
				$("form#add-amin-inv input[id$=add]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						sum += parseFloat(this.value);
                                                 
					}

				});
                                $("form#add-amin-inv input[id$=minus]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						sum -= parseFloat(this.value);
                                                 
                                        }

				});
                                $("form#add-amin-inv span.sum").html(sum.toFixed(0));
                                $("form#add-amin-inv input[name$=amin-bal]").html(sum.toFixed(0)).val(sum.toFixed(0));
			}    
                         
		 </script>
                 
                 <script>     
                        function PrintDivamin() {    
                         var divToPrint = document.getElementById('show-amin-inv');
                         var popupWin = window.open('', '_blank', 'width=900,height=500');
                         popupWin.document.open(); 
                         popupWin.document.write('<html><head><title>AMENITIES INVENTORY</title><body onload="window.print()">' + divToPrint.innerHTML + '</html>');
                         popupWin.document.close();
                       }
                </script>
                                
                 </form>
            </div>
        </div>
        </div>
    
    <div class="spacer"></div>
    <div class="hide show-minb-inventory hk-inventory" id="show-minb-inv"></div>
    
    <div class="hide hk-inventory " id="minibaradd">
                        <div class="white-litegray menucenter">Add Mini Bar Inventory</div>
                        <div class="inv-header1 white-shadow">  
                                
                                <div><label class="sw-text">Forwarded Balance:</label> <label class="sw-text inv-from"></label></div>
                                <div><label class="sw-text">Inventory as of:</label> <label class="sw-text inv-to"></label></div>
        
                            </div>
                            <div class="hk-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>ITEM DESCRIPTION</label></div>
                                <div><label>BEG BALANCE</label></div>
                                <div><label>PURCHASED</label></div>
                                <div><label>T.STOCK</label></div>
                                <div><label>OUT</label></div>
                                <div><label>BALANCE</label></div>
                                <div><label>PHYS COUNT</label></div>
                                <div>HOTEL ROOMS</label></div>
                                <div><label>REMARKS</label></div>
                                
                                
                                
                            </div>
        <div class="hk_list_container1 white-shadow">
        <div class="hk-contents1">
                            <form action = "ops/hk_inventory" id="minibarformadd">
                                
                                <div>
                                   <select class="fld-required input-fieldst" name="minb-item"></select> 
                                </div>
                                <div> 
                                   <input class="fld-required input-fieldtime formatdec" type="text" name="minb-beg-bal" id="addminb"/>                       
                                </div>
                                <div>
                                        <input class="fld-required input-fieldtime formatdec" type="text" name="minb-purchased" id="addminb"/>                       
                                </div>
                                <div>
                                     <input class="input-fieldtime formatdec" type="hidden" name="minb-t_stock"/> 
                                     <span class="menucenter minbsum sum">0</span>
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldtime formatdec" type="text" name="minb-out" id="minusminb"/>                       
                                </div>
                                <div>
                                    <input class="input-fieldtime formatdec" type="hidden" name="minb-bal"/>
                                    <span class="menucenter minbbal sum">0</span>
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldrm" type="text" name="minb-psy_count"/> 
                                </div>
                                 <div>
                                     <select class="fld-required input-fieldrm" name="hotel-from" title="FROM"></select>
                                     <select class="fld-required input-fieldrm" name="hotel-to" title="TO"></select>
                                </div>
                                <div>
                                    <input class="fld-required input-fieldrm" type="text" name="minb-remarks"/> 
                                
                                <input type="hidden" name="minibar-inv-id" value=""/>
                                <button class="blue-button" type="submit">Add</button></div>
                            
                   <script>
			$(document).ready(function(){

				$("form#minibarformadd input[type$=text], form#minibarformadd input[type$=hidden]").each(function() {

					$(this).keyup(function(){
						calculateSumminb();
					});
				});

			});

			function calculateSumminb() {

				var summinb = 0;
                                
				$("form#minibarformadd input[id$=addminb]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						summinb += parseFloat(this.value);
                                                 
					}

				});
                                
                                $("form#minibarformadd input[id$=minusminb]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						summinb -= parseFloat(this.value);
                                                 
					}

				});
                              
                                $("form#minibarformadd span.minbsum").html(summinb.toFixed(0));
                                $("form#minibarformadd span.minbbal").html(summinb.toFixed(0));
                                $("form#minibarformadd input[name$=minb-t_stock]").html(summinb.toFixed(0)).val(summinb.toFixed(0));
                                $("form#minibarformadd input[name$=minb-bal]").html(summinb.toFixed(0)).val(summinb.toFixed(0));
			}  
                         
		 </script>
                 
                 <script>     
                        function PrintDiv() {    
                         var divToPrint = document.getElementById('show-minb-inv');
                         var popupWin = window.open('', '_blank', 'width=900,height=500');
                         popupWin.document.open(); 
                         popupWin.document.write('<html><head><title>MINI BAR INVENTORY</title><body onload="window.print()">' + divToPrint.innerHTML + '</html>');
                         popupWin.document.close();
                       }
                </script>
                                
                 </form>
            </div>
        </div>
        </div>
    
    <div class="spacer"></div>
    <div class="hide show-linen-inventory hk-inventory" id="show-linen-inv"></div>
    
     <div class="hide hk-inventory " id="linenadd">
                        <div class="white-litegray menucenter">Add Linen Inventory</div>
                        <div class="inv-header1 white-shadow">  
                                
                                <div><label class="sw-text">Forwarded Balance:</label> <label class="sw-text inv-from"></label></div>
                                <div><label class="sw-text">Inventory as of:</label> <label class="sw-text inv-to"></label></div>
        
                            </div>
                            <div class="hk-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>ITEM DESCRIPTION</label></div>
                                <div><label>BEG BALANCE</label></div>
                                <div><label>PURCHASED</label></div>
                                <div><label>STCK ROOM</label></div>
                                <div><label>ROOMS</label></div>
                                <div><label>P-UP FOR LAUNDRY</label></div>
                                <div><label>SUB-TOTAL</label></div>
                                <div><label>DAMAGED</label></div>
                                <div><label>TOTAL</label></div>
                                
                                
                                
                            </div>
        <div class="hk_list_container1 white-shadow">
        <div class="hk-contents1">
                            <form action = "ops/hk_inventory" id="linenformadd">
                                
                                <div>
                                   <select class="fld-required input-fieldst" name="linen-item"></select> 
                                </div>
                                <div> 
                                   <input class="fld-required input-fieldtime formatdec" type="text" name="linen-beg-bal" id="addlinen"/>                       
                                </div>
                                <div>
                                        <input class="fld-required input-fieldtime formatdec" type="text" name="linen-purchased" id="addlinen"/>                       
                                </div>
                                <div>
                                     <input class="input-fieldtime formatdec" type="text" name="linen-stock-room" id="addlinen"/>
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldtime formatdec" type="text" name="linen-rooms" id="addlinen"/>                       
                                </div>
                                <div>
                                    <input class="input-fieldtime formatdec" type="text" name="linen-pck_laundry" id="addlinen"/>
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldrm" type="text" name="linen-subtotal"/>
                                </div>
                                 <div>
                                     <input class="fld-required input-fieldrm formatdec" type="text" name="linen-damaged" id="minuslinen"/>             
                                 </div>
                                <div>
                                    <input class="fld-required input-fieldrm" type="text" name="linen-total"/>
                                <input type="hidden" name="linen-inv-id" value=""/>
                                <button class="blue-button" type="submit">Add</button></div>
                            
                   <script>
			$(document).ready(function(){

				$("form#linenformadd input[type$=text], form#linenformadd input[type$=hidden]").each(function() {

					$(this).keyup(function(){
						calculateSumlinen();
					});
				});

			});

			function calculateSumlinen() {

				var sumlinen = 0;
                                
				$("form#linenformadd input[id$=addlinen]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						sumlinen += parseFloat(this.value);
                                                 
					}

				});
                                
                                $("form#linenformadd input[id$=minuslinen]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						sumlinen -= parseFloat(this.value);
                                                 
					}

				});
                                $("form#linenformadd input[name$=linen-subtotal]").html(sumlinen.toFixed(0)).val(sumlinen.toFixed(0));
                                $("form#linenformadd input[name$=linen-total]").html(sumlinen.toFixed(0)).val(sumlinen.toFixed(0));
			}  
                         
		 </script>
                 
                 <script>     
                        function PrintDivlinen() {    
                         var divToPrint = document.getElementById('show-linen-inv');
                         var popupWin = window.open('', '_blank', 'width=900,height=500');
                         popupWin.document.open(); 
                         popupWin.document.write('<html><head><title>LINENS INVENTORY</title><body onload="window.print()">' + divToPrint.innerHTML + '</html>');
                         popupWin.document.close();
                       }
                </script>
                                
                 </form>
            </div>
        </div>
        </div>
    
    
     <div class="hide hk-inventory " id="inventory-update">
                        <div class="inv-header1 white-shadow"> 
                                
                                <div><label class="sw-text">Forwarded Balance:</label> <label class="sw-text inv-from"></label></div>
                                <div><label class="sw-text">Inventory as of:</label> <label class="sw-text inv-to"></label></div>
        
                            </div>
                            <div class="hk-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>ITEM DESCRIPTION</label></div>
                                <div><label>BEG BALANCE</label></div>
                                <div><label>PURCHASED</label></div>
                                <div><label>T. OUT</label></div>
                                <div><label>BALANCE</label></div>
                                <div><label>PHYSICAL COUNT</label></div>
                                <div><label>REMARKS</label></div>
                                <div><label>RECONCILATION</label></div>
                                
                                
                                
                            </div>
        <div class="hk_list_container1 white-shadow">
        <div class="hk-contents1">
                            <form action = "ops/hk_inventory" id="edit-amin-inv">
                                
                                <div>
                                   <select class="fld-required input-fieldst" name="edit-amin-item"></select> 
                                </div>
                                <div> 
                                   <input class="fld-required input-fieldtime formatdec" type="text" name="edit-amin-beg-bal" id="edit-add"/>                       
                                </div>
                                <div>
                                   <input class="fld-required input-fieldtime formatdec" type="text" name="edit-amin-purchased" id="edit-add"/>                       
                                </div>
                                <div>
                                    <input class="fld-required input-fieldtime formatdec" type="text" name="edit-amin-t_out" id="edit-minus"/>  
                                    <div class="hide update" id="update">
                                        <label class="sw-text">Inventory as of </label> 
                                        <label class="sw-text inv-to"></label>
                                        Updated Successfully
                                    </div>
                                </div>
                                <div>
                                     <input class="input-fieldtime formatdec" type="hidden" name="edit-amin-bal"/> 
                                     <span class="menucenter sum" id="edit-sum">0</span>
                                </div>
                                <div>
                                    <input class="fld-required input-fieldtime formatdec" type="text" name="edit-amin-p_count"/> 
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldrm" type="text" name="edit-amin-remark"/> 
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldrm" type="text" name="edit-amin-recon"/>
                                    
                                </div>
                                <input type="hidden" name="edit-amin-inv-id" value=""/>
                                <div><button class="blue-button" type="submit">Update</button></div>
                                
                   <script>
			$(document).ready(function(){

				$("form#edit-amin-inv input[type$=text], form#edit-amin-inv input[type$=hidden]").each(function() {

					$(this).keyup(function(){
						calculateeditSum();
					});
				});

			});

			function calculateeditSum() {

				var sum = 0;
				$("form#edit-amin-inv input[id$=edit-add]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						sum += parseFloat(this.value);
                                                 
					}

				});
                                $("form#edit-amin-inv input[id$=edit-minus]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						sum -= parseFloat(this.value);
                                                 
                                        }

				});
                                $("form#edit-amin-inv span.sum").html(sum.toFixed(0));
                                $("form#edit-amin-inv input[name$=edit-amin-bal]").html(sum.toFixed(0)).val(sum.toFixed(0));
			}    
                         
		 </script>
              
                                
                 </form>
            </div>
        </div>
        </div>
    
        <div class="hide hk-inventory " id="minibarupdate">
                        <div class="inv-header1 white-shadow">  
                                
                                <div><label class="sw-text">Forwarded Balance:</label> <label class="sw-text inv-from"></label></div>
                                <div><label class="sw-text">Inventory as of:</label> <label class="sw-text inv-to"></label></div>
        
                            </div>
                            <div class="hk-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>ITEM DESCRIPTION</label></div>
                                <div><label>BEG BALANCE</label></div>
                                <div><label>PURCHASED</label></div>
                                <div><label>T.STOCK</label></div>
                                <div><label>OUT</label></div>
                                <div><label>BALANCE</label></div>
                                <div><label>PHYS COUNT</label></div>
                                <div>HOTEL ROOMS</label></div>
                                <div><label>REMARKS</label></div>
                                
                                
                                
                            </div>
        <div class="hk_list_container1 white-shadow">
        <div class="hk-contents1">
                            <form action = "ops/hk_inventory" id="minibarformupdate">
                                
                                <div>
                                   <select class="fld-required input-fieldst" name="edit-minb-item"></select> 
                                </div>
                                <div> 
                                   <input class="fld-required input-fieldtime formatdec" type="text" name="edit-minb-beg-bal" id="updateminb"/>                       
                                </div>
                                <div>
                                        <input class="fld-required input-fieldtime formatdec" type="text" name="edit-minb-purchased" id="updateminb"/>                       
                                </div>
                                <div>
                                     <input class="input-fieldtime formatdec" type="text" name="edit-minb-t_stock"/>
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldtime formatdec" type="text" name="edit-minb-out" id="uminusminb"/>                       
                                </div>
                                <div>
                                    <input class="input-fieldtime formatdec" type="text" name="edit-minb-bal"/>
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldtime" type="text" name="edit-minb-psy_count"/> 
                                </div>
                                 <div>
                                     <select class="fld-required input-fieldrm" name="edit-hotel-from" title="FROM"></select>
                                     <select class="fld-required input-fieldrm" name="edit-hotel-to" title="TO"></select>
                                </div>
                                <div>
                                    <input class="fld-required input-fieldrm" type="text" name="edit-minb-remarks"/> 
                                </div>
                                <input type="hidden" name="edit-minibar-inv-id" value=""/>
                                <div><button class="blue-button" type="submit">Add</button></div>
                            
                   <script>
			$(document).ready(function(){

				$("form#minibarformupdate input[type$=text]").each(function() {

					$(this).keyup(function(){
						calculateSumminbu();
					});
				});

			});

			function calculateSumminbu() {

				var summinbu = 0;
                                
				$("form#minibarformupdate input[id$=updateminb]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						summinbu += parseFloat(this.value);
                                                 
					}

				});
                                
                                $("form#minibarformupdate input[id$=uminusminb]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						summinbu -= parseFloat(this.value);
                                                 
					}

				});
                                
                                 $("form#minibarformupdate input[name$=edit-minb-bal]").html(summinbu.toFixed(0)).val(summinbu.toFixed(0));
                                 $("form#minibarformupdate input[name$=edit-minb-t_stock]").html(summinbu.toFixed(0)).val(summinbu.toFixed(0));
                           }  
                         
		 </script>
                 
                      
                 </form>
            </div>
        </div>
        </div>
    
         <div class="hide hk-inventory linen" id="linenupdate">
                        <div class="white-litegray menucenter">Update Linen Inventory</div>
                        <div class="inv-header1 white-shadow">  
                                
                                <div><label class="sw-text">Forwarded Balance:</label> <label class="sw-text inv-from"></label></div>
                                <div><label class="sw-text">Inventory as of:</label> <label class="sw-text inv-to"></label></div>
        
                            </div>
                            <div class="hk-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>ITEM DESCRIPTION</label></div>
                                <div><label>BEG BALANCE</label></div>
                                <div><label>PURCHASED</label></div>
                                <div><label>STCK ROOM</label></div>
                                <div><label>ROOMS</label></div>
                                <div><label>P-UP FOR LAUNDRY</label></div>
                                <div><label>SUB-TOTAL</label></div>
                                <div><label>DAMAGED</label></div>
                                <div><label>TOTAL</label></div>
                                
                                
                                
                            </div>
        <div class="hk_list_container1 white-shadow">
        <div class="hk-contents1">
                            <form action = "ops/hk_inventory" id="linenformupdate">
                                
                                <div>
                                   <select class="fld-required input-fieldst" name="edit-linen-item"></select> 
                                </div>
                                <div> 
                                   <input class="fld-required input-fieldtime formatdec" type="text" name="edit-linen-beg-bal" id="editaddlinen"/>                       
                                </div>
                                <div>
                                        <input class="fld-required input-fieldtime formatdec" type="text" name="edit-linen-purchased" id="editaddlinen"/>                       
                                </div>
                                <div>
                                     <input class="input-fieldtime formatdec" type="text" name="edit-linen-stock-room" id="editaddlinen"/>
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldtime formatdec" type="text" name="edit-linen-rooms" id="editaddlinen"/>                       
                                </div>
                                <div>
                                    <input class="input-fieldtime formatdec" type="text" name="edit-linen-pck_laundry" id="editaddlinen"/>
                                </div>
                                 <div>
                                    <input class="fld-required input-fieldrm" type="text" name="edit-linen-subtotal"/>
                                </div>
                                 <div>
                                     <input class="fld-required input-fieldrm formatdec" type="text" name="edit-linen-damaged" id="editminuslinen"/>             
                                 </div>
                                <div>
                                    <input class="fld-required input-fieldrm" type="text" name="edit-linen-total"/>
                                <input type="hidden" name="edit-linen-inv-id" value=""/>
                                <button class="blue-button" type="submit">Update</button></div>
                            
                   <script>
			$(document).ready(function(){

				$("form#linenformupdate input[type$=text], form#linenformupdate input[type$=hidden]").each(function() {

					$(this).keyup(function(){
						calculateSumeditlinen();
					});
				});

			});

			function calculateSumeditlinen() {

				var editsumlinen = 0;
                                
				$("form#linenformupdate input[id$=editaddlinen]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						editsumlinen += parseFloat(this.value);
                                                 
					}

				});
                                
                                $("form#linenformupdate input[id$=editminuslinen]").each(function() {

					if(!isNaN(this.value) && this.value.length!=0) {
						editsumlinen -= parseFloat(this.value);
                                                 
					}

				});
                                $("form#linenformupdate input[name$=edit-linen-subtotal]").html(editsumlinen.toFixed(0)).val(editsumlinen.toFixed(0));
                                $("form#linenformupdate input[name$=edit-linen-total]").html(editsumlinen.toFixed(0)).val(editsumlinen.toFixed(0));
			}  
                         
		 </script>
                             
                 </form>
            </div>
        </div>
        </div>
    
        <div class="hide myDiv rq menucenter"></div>
        <div class="err_msg hide"></div>
        <div class="dyn_content"></div>