<div class="container-header">House Keeping Stocks</div>
    <div class="content white-shadow">
    
        <div class="fb">        
        <ul>
            <li class="white-litegray" title="Add Item">Add Item</li>
        </ul>
          <div class="hide form-hk-item" id="hk-item-form"> 
          <form action="ops/hk_stocks" id="frm-hk-item">
            <div> 
                <div class="spacer"></div>
                <div class="spacer"></div>
                <label><span class="required">*</span>Description:</label>
                <input class="fld-required" type="text" name="item-desc"/>
                <label><span class="required">*</span>Price:</label>
                <input class="fld-required input-fieldrm formatdec" type="text" name="item-price"/>
                <label> Category:</label>
                <select class="fld-required input-fieldst" name="item-cat"></select>
                <button class="blue-button" type="submit">Add Item Description</button>
                <div class="spacer"></div>
            </div>
            <div class="hide showsuccess" id="showsuccess">Item Added</div>
            <div class="clr"></div>
         </form> 
            <div class="search-box1">
             <div class="white-shadow menucenter">Search:</div>
            <label>Search Name:</label> <input type="text" name="item-name" /> 
         </div>
        </div>      
    </div>  
    </div>

    <div class="hide hk-item item-update" id="itemupdate">
        <div class="white-litegray menucenter">Update Item <label class="item-name"></label></div>
                            
                            <div class="items-header1 skyblue-gradient white-shadow">  
                                
                                <div><label>Item Description</label></div>
                                <div><label>Price</label></div> 
                                <div><label>Item Category</label></div> 
                                
                            </div>
        <div class="items_list_container1">
        <div class="items-contents1">
                            <form action = "ops/hk_stocks" id="update-item">
                                
                                <div>
                                    <label class="chtext">
                                        <input class="fld-required input-fieldcat" type="text" name="edit-item-desc">
                                    </labe>                            
                                </div>
                                
                                <div>
                                    <label class="chtext">
                                        <input class="fld-required formatdec" type="text" name="edit-item-price">
                                    </labe>                            
                                </div>
                                
                                <div>
                                    <select class="fld-required input-fieldst" name="edit-item-cat">
                                    </select>
                                </div>
                                <input type="hidden" name="item-id" value=""/>
                                 <button class="blue-button" type="submit">Update</button>
                               </form> 
                        </div>
                              
                            
        </div>
        </div>

        <div class="err_msg hide"></div>
        <div class="dyn_content"></div>