<div class="container-header">Rooms Status / Rooms Availability</div>
    <div class="content white-shadow">
    
        <div class="fbwk">        
        <ul>
            <li class="white-litegray" title="Single">Single</li>
            <li class="white-litegray" title="Double">Double</li>
            <li class="white-litegray" title="Triple">Triple</li>
            <li class="white-litegray" title="Quad">Quad</li>
            <li class="white-litegray" title="Corporate">Corporate</li>
        </ul>
         
          <div class="hide room_status" id="single"> 
            <div class="search-box1">
             <div class="white-shadow menucenter">Search Option</div>
            <label>Search  Room Number:</label> <input type="text" name="single_room_number" />
            <label>Room Status</label><select name="single_room_status"></select>
            </div>
          </div>  
          <div class="hide room_status" id="double"> 
            <div class="search-box1">
             <div class="white-shadow menucenter">Search Option</div>
            <label>Search  Room Number:</label> <input type="text" name="double_room_number" />
            <label>Room Status</label><select name="double_room_status"></select>
            </div>
          </div>
          <div class="hide room_status" id="triple"> 
            <div class="search-box1">
             <div class="white-shadow menucenter">Search Option</div>
            <label>Search  Room Number:</label> <input type="text" name="triple_room_number" />
            <label>Room Status</label><select name="triple_room_status"></select>
            </div>
          </div>
          <div class="hide room_status" id="quad"> 
            <div class="search-box1">
             <div class="white-shadow menucenter">Search Option</div>
            <label>Search  Room Number:</label> <input type="text" name="quad_room_number" />
            <label>Room Status</label><select name="quad_room_status"></select>
            </div>
          </div>
          <div class="hide room_status" id="corporate"> 
            <div class="search-box1">
             <div class="white-shadow menucenter">Search Option</div>
            <label>Search  Room Number:</label> <input type="text" name="corporate_room_number" />
            <label>Room Status</label><select name="corporate_room_status"></select>
            </div>
          </div>
    </div>  
    </div>  
        <div class="dyn_content"></div>
      