<% _.each(result, function(r) { %>
	<% if(r.raid === raid && r.gapid === gapid && r.gaid === gaid) { %>
		<div class="glf">
			<label>First Name:<span class="required">*</span> </label>
			<input type="text" name="ag_fname" id="ag_fname" class="validation-required" value="<%=r.firstname%>">
		</div>
		<div class="glf">
			<label>Room No: </label> <%=r.room_no%>
		</div>
		<div class="clr"></div>
		<div class="glf">
			<label>Last Name:<span class="required">*</span> </label>
			<input type="text" name="ag_lname" id="ag_lname" class="validation-required" value="<%=r.lastname%>">
		</div>
		<div class="glf">
			<label>Book ID:<span class="required">*</span> </label>
			<input type="text" name="ag_booking_id" id="ag_booking_id" class="validation-required" value="<%=r.booking_id%>">
		</div>
		<div class="glf">
			<label>Gender:<span class="required">*</span> </label>
			<select class="css3-select validation-required" name="ag_gender" id="ag_gender">
				<!--<option value="">Please select gender</option> -->
				<option value="female" <% if( r.gender === 'female' ) { %> selected='selected' <% } %> >Female</option>
				<option value="male" <% if( r.gender === 'male' ) { %> selected='selected' <% } %> >Male</option>
			</select>
		</div>
		<div class="glf">
			<label>Booking Type:<span class="required">*</span> </label>
			<select class="css3-select validation-required" name="ag_booking_type" id="ag_booking_type">
				<!--<option value="">Please select booking type</option>-->
				<option value="Booking.com" <% if( r.booking_agent === 'Booking.com' ) { %> selected='selected' <% } %> >Booking.com</option>
				<option value="Asia Rooms" <% if( r.booking_agent === 'Asia Rooms' ) { %> selected='selected' <% } %> >Asia Roooms</option>
				<option value="Agoda" <% if( r.booking_agent === 'Agoda' ) { %> selected='selected' <% } %> >Agoda</option>
				<option value="Late Rooms" <% if( r.booking_agent === 'Late Rooms' ) { %> selected='selected' <% } %> >Late Rooms</option>
				<option value="Rates Go" <% if( r.booking_agent === 'Rates Go' ) { %> selected='selected' <% } %> >Rates Go</option>
				<option value="Walk-in" <% if( r.booking_agent === 'Walk-in' ) { %> selected='selected' <% } %> >Walk-in</option>
				<option value="Bigfoot/IAFT" <% if( r.booking_agent === 'Bigfoot/IAFT' ) { %> selected='selected' <% } %> >Bigfoot/IAFT</option>
				<option value="Corporate Rate" <% if( r.booking_agent === 'Corporate Rate' ) { %> selected='selected' <% } %> >Corporate Rate</option>
				<option value="Phone Reservation" <% if( r.booking_agent === 'Phone Reservation' ) { %> selected='selected' <% } %> >Phone Reservation</option>
				<option value="Room Rate" <% if( r.booking_agent === 'Room Rate' ) { %> selected='selected' <% } %> >Room Rate</option>
				<option value="others" <% if( r.booking_agent === 'others' ) { %> selected='selected' <% } %> >others</option>
			</select>
		</div>
		<div class="glf">
			<label>Address:<span class="required">*</span> </label>
			<input type="text" name="ag_address" id="ag_address" class="validation-required" value="<%=r.address%>">
		</div>
		<div class="glf">
			<label>CheckIn Date: </label>
			<input type="text" name="ag_checkin_date" id="ag_checkin_date" value="<%=(r.checkin_date.toLowerCase() !== '01/01/1970 @ 08:00 am') ? r.checkin_date.toLowerCase() : ""%>">
		</div>
		<div class="glf">
			<label>Date of Birth: </label>
			<input type="text" name="ag_dob" id="ag_dob" value="<%=(r.dateof_birth !== '01/01/1970') ? r.dateof_birth : ""%>">
		</div>
		<div class="glf">
			<label>CheckOut Date: </label>
			<input type="text" name="ag_checkout_date" id="ag_checkout_date" value="<%=(r.checkout_date.toLowerCase() !== '01/01/1970 @ 08:00 am') ? r.checkout_date.toLowerCase() : ""%>">
		</div>
		<div class="glf">
			<label>Email: </label>
			<input type="text" name="ag_email" id="ag_email" value="<%=r.email%>">
		</div>
		<div class="glf">
			<label>Passport No: </label>
			<input type="text" id="ag_passport_no" name="ag_passport_no" value="<%=r.passport_no%>">
		</div>
		<div class="glf">
			<label>Contact No: </label>
			<input type="text" id="ag_contact_no" name="ag_contact_no" value="<%=r.contact_no%>">
		</div>
		<div class="glf">
			<label>Nationality: </label>
			<input type="text" id="ag_nationality" name="ag_nationality" value="<%=r.nationality%>">
		</div>
		<div class="clr"></div>
		<div class="glfm">
			Comments: 
			<textarea id="ag_cg_comments" name="ag_cg_comments"><%=r.comments%></textarea>
		</div>
		<div class="glf glf-NBB">
			<label>Status:<span class="required">*</span> </label>
			<select name="ag_booking_status" id="ag_booking_status" class="css3-select validation-required">
				<!--<option value="">Please select status </option>-->
				<option value="checkin" <% if( r.accom_status === 'checkin' ) { %> selected='selected' <% } %> >Checkin</option>
				<!--<option value="checkout">Checkout</option>-->
				<option value="reserve" <% if( r.accom_status === 'reserve' ) { %> selected='selected' <% } %> >Reserve</option>
			</select>
		</div>
		<div class="glfm glf-NBB">
			<input type="button" class="glfr-update-logh" id="<%=r.raid%>:<%=r.gapid%>:<%=r.gaid%>:<%=r.room_number_id%>:<%=r.room_accom_id%>" value="Save" />
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	<% } %>
<% }); %>