<div class="content-header">List of Forms </div>
<div class="content">
	<div class="hotel-RT">
		<a href="#/task/hr-forms" id="srs-lists" class="css3-a hotel-roomtype-active">SRS Lists</a>
		<a href="#/task/hr-forms" id="prs-lists" class="css3-a">PRS Lists</a>
		<div class="clr"></div>
	</div>
	<div class="hrlfc"></div>
</div>