<div class="content-header">Guest Accommodation Form</div>
<div class="content">
	<div class="gs-contents">
		<div class="glf-r guest-personal-info">
			<div></div>
			<div>Note: Please fill up all the required fields mark with *</div>
			<div class="glf">
				<label>First Name:<span class="required">*</span> </label>
				<input type="text" name="ag_fname" id="ag_fname" class="validation-required">
			</div>
			<div class="glf">
				<label>Room No: </label><%=rn%>
			</div>
			<div class="clr"></div>
			<div class="glf">
				<label>Last Name:<span class="required">*</span> </label>
				<input type="text" name="ag_lname" id="ag_lname" value="" class="validation-required">
			</div>
			<div class="glf">
				<label>Book ID:<span class="required">*</span> </label>
				<input type="text" name="ag_booking_id" id="ag_booking_id" value="" class="validation-required">
			</div>
			<div class="glf">
				<label>Gender:<span class="required">*</span> </label>
				<select class="css3-select validation-required" name="ag_gender" id="ag_gender">
					<option value="">Please select gender</option>
					<option value="female">Female</option>
					<option value="male">Male</option>
				</select>
			</div>
			<div class="glf">
				<label>Booking Type:<span class="required">*</span> </label>
				<select class="css3-select validation-required" name="ag_booking_type" id="ag_booking_type">
					<option value="">Please select booking type</option>
					<option value="Booking.com">Booking.com</option>
					<option value="Asia Rooms">Asia Roooms</option>
					<option value="Agoda">Agoda</option>
					<option value="Late Rooms">Late Rooms</option>
					<option value="Rates Go">Rates Go</option>
					<option value="Walk-in">Walk-in</option>
					<option value="Bigfoot/IAFT">Bigfoot/IAFT</option>
					<option value="Corporate Rate">Corporate Rate</option>
					<option value="Phone Reservation">Phone Reservation</option>
					<option value="Room Rate">Room Rate</option>
					<option value="others">others</option>
				</select>
			</div>
			<div class="glf">
				<label>Address:<span class="required">*</span> </label>
				<input type="text" name="ag_address" id="ag_address" class="validation-required">
			</div>
			<div class="glf">
				<label>CheckIn Date: </label>
				<input type="text" name="ag_checkin_date" id="ag_checkin_date">
			</div>
			<div class="glf">
				<label>Date of Birth: </label>
				<input type="text" name="ag_dob" id="ag_dob">
			</div>
			<div class="glf">
				<label>CheckOut Date: </label>
				<input type="text" name="ag_checkout_date" id="ag_checkout_date">
			</div>
			<div class="glf">
				<label>Email: </label>
				<input type="text" name="ag_email" id="ag_email">
			</div>
			<div class="glf">
				<label>Passport No: </label>
				<input type="text" id="ag_passport_no" name="ag_passport_no">
			</div>
			<div class="glf">
				<label>Contact No: </label>
				<input type="text" id="ag_contact_no" name="ag_contact_no">
			</div>
			<div class="glf">
				<label>Nationality: </label>
				<input type="text" id="ag_nationality" name="ag_nationality">
			</div>
			<div class="clr"></div>
			<div class="glfm">
				Comments: 
				<textarea id="ag_cg_comments" name="ag_cg_comments"></textarea>
			</div>
			<div class="glf glf-NBB">
				<label>Status:<span class="required">*</span> </label>
				<select name="ag_booking_status" id="ag_booking_status" class="css3-select validation-required">
					<option value="">Please select status </option>
					<option value="checkin">Checkin</option>
					<!--<option value="checkout">Checkout</option>-->
					<option value="reserve">Reserve</option>
				</select>
			</div>
			<div class="glfm glf-NBB">
				<input type="button" class="glfr-add-accom" value="Save" />
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</div>
	</div>
</div>
