<div class="glf-r add-accom-rclick">
	<div class="glf">
		<label>First Name:<span class="required">*</span> </label>
		<input type="text" name="ag_fname" id="ag_fname" class="validation-required">
	</div>
	<div class="glf">
		<label>Room No: </label> <span class="room-number"><%=room%></span>
	</div>
	<div class="clr"></div>
	<div class="glf">
		<label>Last Name:<span class="required">*</span> </label>
		<input type="text" name="ag_lname" id="ag_lname" value="" class="validation-required">
	</div>
	<div class="glf">
		<label>Book ID:<span class="required">*</span> </label>
		<input type="text" name="ag_booking_id" id="ag_booking_id" value="" class="validation-required">
	</div>
	<div class="glf">
		<label>Gender:<span class="required">*</span> </label>
		<select class="css3-select validation-required" name="ag_gender" id="ag_gender">
			<option value="">Please select gender</option>
			<option value="female">Female</option>
			<option value="male">Male</option>
		</select>
	</div>
	<div class="glf">
		<label>Booking Type:<span class="required">*</span> </label>
		<select class="css3-select validation-required" name="ag_booking_type" id="ag_booking_type">
			<option value="">Please select booking type</option>
			<option value="booking.com">Booking.com</option>
			<option value="asia-rooms">Asia Roooms</option>
			<option value="agoda">Agoda</option>
			<option value="late-rooms">Late Rooms</option>
			<option value="rates-go">Rates Go</option>
			<option value="walk-in">Walk-in</option>
		</select>
	</div>
	<div class="glf">
		<label>Address:<span class="required">*</span> </label>
		<input type="text" name="ag_address" id="ag_address" class="validation-required">
	</div>
	<div class="glf">
		<label>Check In: </label>
		<input type="text" name="ag_checkin_date" id="ag_checkin_date">
	</div>
	<div class="glf">
		<label>Date of Birth: </label>
		<input type="text" name="ag_dob" id="ag_dob">
	</div>
	<div class="glf">
		<label>Check Out: </label>
		<input type="text" name="ag_checkout_date" id="ag_checkout_date">
	</div>
	<div class="glf">
		<label>Email: </label>
		<input type="text" name="ag_email" id="ag_email">
	</div>
	<div class="glf">
		<label>Pick Up Time: </label>
		<input type="text" name="ag_pickup_time" id="ag_pickup_time">
	</div>
	<div class="glf">
		<label>Country: </label>
		<input type="text" name="ag_country" id="ag_country">
	</div>
	<div class="glf">
		<label>Send Off Time: </label>
		<input type="text" name="ag_sendoff_time" id="ag_sendoff_time">
	</div>
	<div class="glf">
		<label>Civil Status: </label>
		<select class="css3-select" name="ag_civil_status" id="ag_civil_status">
			<option value="">Please select status</option>
			<option value="single">Single</option>
			<option value="married">Married</option>
			<option value="widowed">Widowed</option>
		</select>
	</div>
	<div class="glf">
		<label>Passport No: </label>
		<input type="text" id="ag_passport_no" name="ag_passport_no">
	</div>
	<div class="clr"></div>
	<div class="glf">
		<label>Contact No: </label>
		<input type="text" id="ag_contact_no" name="ag_contact_no">
	</div>
	<div class="glf"><label>&nbsp; </label></div>
	<div class="clr"></div>
	<div class="glfm">
		Comments: 
		<textarea id="ag_cg_comments" name="ag_cg_comments"></textarea>
	</div>
	<div class="glf">
		<label>Status:<span class="required">*</span> </label>
		<select name="ag_booking_status" id="ag_booking_status" class="css3-select validation-required">
			<option value="">Please select status </option>
			<option value="checkin">Checkin</option>
			<option value="checkout">Checkout</option>
			<option value="reserved">Reserve</option>
		</select>
	</div>
	<div class="glf"><label>&nbsp; </label></div>
	<div class="glfm glf-NBB">
		<input type="button" class="glfr-add-accom" id="<%=room%>" value="Save" />
		<div class="clr"></div>
	</div>
	<div class="clr"></div>
</div>