<div class="crs-container">
	<input type="text" name="rm_no" id="rm_no" class="validation-required validation-numbers-only" />
	<select class="css3-select validation-required" name="room_status" id="room_status">
		<option value="">Please select rooms status</option>
		<%_.each(result, function(result) {%>
			<option value="<%=result.id%>" ><%=result.name%></option>
		<% }); %>
	</select>
	<input type="button" value="Add" id="save-new-room" class="edsv-css3-button">
	<div class="clr"></div>
</div>