<div class="glf-r glfr-is-disabled">
	<div class="glf">
		<label>First Name: </label>
		<input type="text" name="fname" disabled="disabled" id="fname" value="<%=info.firstname%>" class="validation-required">
	</div>
	<div class="glf">
		<label>Room No: </label> <span class="room-number"><%=info.room_number%></span>
	</div>
	<div class="clr"></div>
	<div class="glf">
		<label>Last Name: </label>
		<input type="text" name="lname" disabled="disabled" id="lname" value="<%=info.lastname%>" class="validation-required">
	</div>
	<div class="glf">
		<label>Book ID: </label>
		<input type="text" name="booking_id" disabled="disabled" id="booking_id" value="<%=info.booking_id%>" class="validation-required">
	</div>
	<div class="glf">
		<label>Gender: </label>
		<select class="css3-select validation-required" disabled="disabled" name="gender" id="gender">
			<option value="">Please select gender</option>
			<option value="female" <%if(info.gender == 'female') {%> selected="selected" <%}%> >Female</option>
			<option value="male" <%if(info.gender == 'male') {%> selected="selected" <%}%> >Male</option>
		</select>
	</div>
	<div class="glf">
		<label>Booking Type: </label>
		<select class="css3-select validation-required" disabled="disabled" name="booking_type" id="booking_type">
			<option value="">Please select booking type</option>
			<option value="booking.com" <%if(info.booking_type == 'booking.com') {%> selected="selected" <%}%> >Booking.com</option>
			<option value="asia-rooms" <%if(info.booking_type == 'asia-rooms') {%> selected="selected" <%}%> >Asia Roooms</option>
			<option value="agoda" <%if(info.booking_type == 'agoda') {%> selected="selected" <%}%> >Agoda</option>
			<option value="late-rooms" <%if(info.booking_type == 'late-rooms') {%> selected="selected" <%}%> >Late Rooms</option>
			<option value="rates-go" <%if(info.booking_type == 'rates-go') {%> selected="selected" <%}%> >Rates Go</option>
			<option value="walk-in" <%if(info.booking_type == 'walk-in') {%> selected="selected" <%}%> >Walk-in</option>
		</select>
	</div>
	<div class="glf">
		<label>Address: </label>
		<input type="text" name="address" value="<%=info.address%>" disabled="disabled" id="address" class="validation-required">
	</div>
	<div class="glf">
		<label>Check In: </label>
		<input type="text" name="checkin_date" disabled="disabled" value="<%=(info.check_in == '01/01/1970') ? '' : info.check_in%>" id="checkin_date">
	</div>
	<%
		var dob = info.dob;
		if( dob == '0000-00-00' ) {
			dob = "";
		} else {
			dob = dob.split('-');
			dob = dob[1]+'/'+dob[2]+'/'+dob[0];
		}
	%>
	<div class="glf">
		<label>Date of Birth: </label>
		<input type="text" name="dob" disabled="disabled" value="<%=dob%>" id="dob">
	</div>
	<div class="glf">
		<label>Check Out: </label>
		<input type="text" name="checkout_date" disabled="disabled" value="<%=(info.check_out == '01/01/1970') ? '' : info.check_out%>" id="checkout_date">
	</div>
	<div class="glf">
		<label>Email: </label>
		<input type="text" name="email" disabled="disabled" value="<%=info.email_address%>" id="email">
	</div>
	<% 
		var format_time = function( time ) {
			var time_ = time.split(":");
			if( time !== "00:00:00" ) {
				var hour = ( parseInt(time_[0]) > 12 ) ? parseInt(time_[0]) - 12 : parseInt(time_[0]);
				time = hour+":"+time_[1]+( ( parseInt(time_[0]) > 12 ) ? " PM" : " AM" );
			}
			return time;
		};
		var pickup_time = ( format_time(info.pick_up_time) === "00:00:00" ) ? "" : format_time(info.pick_up_time);
		var sendoff_time = ( format_time(info.send_off_time) === "00:00:00" ) ? "" : format_time(info.send_off_time);
		
	%>
	<div class="glf">
		<label>Pick Up Time: </label>
		<input type="text" name="pickup_time" disabled="disabled" value="<%=pickup_time%>" id="pickup_time">
	</div>
	<div class="glf">
		<label>Country: </label>
		<input type="text" name="country" disabled="disabled" id="country" value="<%=info.country%>">
	</div>
	<div class="glf">
		<label>Send Off Time: </label>
		<input type="text" name="sendoff_time" disabled="disabled" value="<%=sendoff_time%>" id="sendoff_time">
	</div>
	<div class="glf">
		<label>Civil Status: </label>
		<select class="css3-select" disabled="disabled" name="civil_status" id="civil_status">
			<option value="">Please select status</option>
			<option value="single" <%if(info.civil_status == 'single') {%> selected="selected" <%}%> >Single</option>
			<option value="married" <%if(info.civil_status == 'married') {%> selected="selected" <%}%> >Married</option>
			<option value="widowed" <%if(info.civil_status == 'widowed') {%> selected="selected" <%}%> >Widowed</option>
		</select>
	</div>
	<div class="glf">
		<label>Passport No: </label>
		<input type="text" id="passport_no" disabled="disabled" value="<%=info.passport_no%>" name="passport_no">
	</div>
	<div class="clr"></div>
	<div class="glf">
		<label>Contact No: </label>
		<input type="text" id="contact_no" disabled="disabled" value="<%=info.contact_no%>" name="contact_no">
	</div>
	<div class="glf"><label>&nbsp; </label></div>
	<div class="clr"></div>
	<div class="glfm">
		Comments: 
		<textarea id="cg_comments" disabled="disabled" name="cg_comments"><%=info.comment%></textarea>
	</div>
	<div class="glf">
		<label>Status: </label>
		<select name="booking_status" disabled="disabled" id="booking_status" class="css3-select">
			<option value="">Please select status </option>
			<option value="checkin" <%if(info.status == 'checkin') {%> selected="selected" <%}%> >Checkin</option>
			<option value="checkout" <%if(info.status == 'checkout') {%> selected="selected" <%}%> >Checkout</option>
			<option value="reserved" <%if(info.status == 'reserved') {%> selected="selected" <%}%> >Reserved</option>
		</select>
	</div>
	<div class="glf"><label>&nbsp; </label></div>
	<div class="glfm glf-NBB">
		<input type="button" class="glf-r-edit" id="<%=info.aid%>" value="Edit" />
		<div class="clr"></div>
	</div>
	<div class="clr"></div>
</div>