<div class="glf">
	<label>First Name:<span class="required">*</span> </label>
	<input type="text" name="firstname" id="firstname" value="<%=info.firstname%>" class="validation-required">
</div>
<div class="glf">
	<label>Room No: </label> <span class="room-number"><%=info.room_number%></span>
</div>
<div class="clr"></div>
<div class="glf">
	<label>Last Name:<span class="required">*</span> </label>
	<input type="text" name="lastname" id="lastname" value="<%=info.lastname%>" class="validation-required">
</div>
<div class="glf">
	<label>Book ID:<span class="required">*</span> </label>
	<input type="text" name="booking_id" id="booking_id" value="<%=info.booking_id%>" class="validation-required">
</div>
<div class="glf">
	<label>Gender:<span class="required">*</span> </label>
	<select class="css3-select validation-required" name="le_gender" id="le_gender">
		<option value="">Please select gender</option>
		<option value="female" <%if(info.gender == 'female') {%> selected="selected" <%}%> >Female</option>
		<option value="male" <%if(info.gender == 'male') {%> selected="selected" <%}%> >Male</option>
	</select>
</div>
<div class="glf">
	<label>Booking Type:<span class="required">*</span> </label>
	<select class="css3-select validation-required" name="le_booking_type" id="le_booking_type">
		<option value="">Please select booking type</option>
		<option value="booking.com" <%if(info.booking_type == 'booking.com') {%> selected="selected" <%}%> >Booking.com</option>
		<option value="asia-rooms" <%if(info.booking_type == 'asia-rooms') {%> selected="selected" <%}%> >Asia Roooms</option>
		<option value="agoda" <%if(info.booking_type == 'agoda') {%> selected="selected" <%}%> >Agoda</option>
		<option value="late-rooms" <%if(info.booking_type == 'late-rooms') {%> selected="selected" <%}%> >Late Rooms</option>
		<option value="rates-go" <%if(info.booking_type == 'rates-go') {%> selected="selected" <%}%> >Rates Go</option>
		<option value="walk-in" <%if(info.booking_type == 'walk-in') {%> selected="selected" <%}%> >Walk-in</option>
	</select>
</div>
<div class="glf">
	<label>Address:<span class="required">*</span> </label>
	<input type="text" name="le_address" value="<%=info.address%>" id="le_address" class="validation-required">
</div>
<div class="glf">
	<label>Check In: </label>
	<input type="text" name="check_in" value="<%=(info.check_in == '01/01/1970') ? '' : info.check_in%>" id="check_in">
</div>
<%
	var dob = info.dob;
	if( dob == '0000-00-00' ) {
		dob = "";
	} else {
		dob = dob.split('-');
		dob = dob[1]+'/'+dob[2]+'/'+dob[0];
	}
%>
<div class="glf">
	<label>Date of Birth: </label>
	<input type="text" name="le_dob" value="<%=dob%>" id="le_dob">
</div>
<div class="glf">
	<label>Check Out: </label>
	<input type="text" name="check_out" value="<%=(info.check_out == '01/01/1970') ? '' : info.check_out%>" id="check_out">
</div>
<div class="glf">
	<label>Email: </label>
	<input type="text" name="le_email" value="<%=info.email_address%>" id="le_email">
</div>
<% 
	var format_time = function( time ) {
		var time_ = time.split(":");
		if( time !== "00:00:00" ) {
			var hour = ( parseInt(time_[0]) > 12 ) ? parseInt(time_[0]) - 12 : parseInt(time_[0]);
			time = hour+":"+time_[1]+( ( parseInt(time_[0]) > 12 ) ? " PM" : " AM" );
		}
		return time;
	};
	var pickup_time = ( format_time(info.pick_up_time) === "00:00:00" ) ? "" : format_time(info.pick_up_time);
	var sendoff_time = ( format_time(info.send_off_time) === "00:00:00" ) ? "" : format_time(info.send_off_time);
	
%>
<div class="glf">
	<label>Pick Up Time: </label>
	<input type="text" name="le_pickup_time" value="<%=pickup_time%>" id="le_pickup_time">
</div>
<div class="glf">
	<label>Country: </label>
	<input type="text" name="le_country" id="le_country" value="<%=info.country%>">
</div>
<div class="glf">
	<label>Send Off Time: </label>
	<input type="text" name="le_send_off_time" value="<%=sendoff_time%>" id="le_send_off_time">
</div>
<div class="glf">
	<label>Civil Status: </label>
	<select class="css3-select" name="le_civil_status" id="le_civil_status">
		<option value="">Please select status</option>
		<option value="single" <%if(info.civil_status == 'single') {%> selected="selected" <%}%> >Single</option>
		<option value="married" <%if(info.civil_status == 'married') {%> selected="selected" <%}%> >Married</option>
		<option value="widowed" <%if(info.civil_status == 'widowed') {%> selected="selected" <%}%> >Widowed</option>
	</select>
</div>
<div class="glf">
	<label>Passport No: </label>
	<input type="text" id="le_passport_no" value="<%=info.passport_no%>" name="le_passport_no">
</div>
<div class="clr"></div>
<div class="glf">
	<label>Contact No: </label>
	<input type="text" id="le_contact_no" value="<%=info.contact_no%>" name="le_contact_no">
</div>
<div class="glf"><label>&nbsp; </label></div>
<div class="clr"></div>
<div class="glfm">
	Comments: 
	<textarea id="cg_comments" name="cg_comments"><%=info.comment%></textarea>
</div>
<div class="glf">
	<label>Status: </label>
	<select name="le_status" id="le_status" class="css3-select">
		<option value="">Please select status </option>
		<option value="checkin" <%if(info.status == 'checkin') {%> selected="selected" <%}%> >Checkin</option>
		<option value="checkout" <%if(info.status == 'checkout') {%> selected="selected" <%}%> >Checkout</option>
		<option value="reserved" <%if(info.status == 'reserved') {%> selected="selected" <%}%> >Reserve</option>
	</select>
</div>
<div class="glf"><label>&nbsp; </label></div>
<div class="glfm glf-NBB">
	<input type="button" class="glf-r-save" id="<%=info.aid%>:<%=info.gid%>" value="Save" />
	<div class="clr"></div>
</div>
<div class="clr"></div>