<%_.each(rooms, function(room) {%>
	<button class="hr-display <%=room.css%>">
		<p><%=room.number%></p>
		<p><%=room.name%></p>
		<p class="hr-not-displayed"><%=room.comment%></p>
	</button>
<% }); %>
<div class="clr"></div>