<ul class="oaccordion-list">
	<% _.each(result, function(r) { %>
		<li>
			<div class="oalist-head oa-head">
				<a id="1" href="#/task/hr-forms">+</a>
				Name: <%=r.requested_by%> - <%=r.stock_name%>
				<span>Date Requested: <%=r.date_requested%></span>
				<div class="clr"></div>
			</div>
			<div class="oa-content glf-c">
				<div class="glf">
					<label>Requested By: </label> <%=r.requested_by%>
				</div>
				<div class="glf">
					<label>Stock Name: </label> <%=r.stock_name%>
				</div>
				<div class="glf">
					<label>Stock Type: </label> <%=r.stock_type%>
				</div>
				<div class="glf">
					<label>Stock Brand: </label> <%=r.stock_brand%>
				</div>
				<div class="glf">
					<label>Quantity Needed: </label> <%=r.qty%>
				</div>
				<div class="glf">
					<label>Quantity In Hand: </label> <%=r.stock_quantity_inhand%>
				</div>
				<div class="glf">
					<label>SRS Released: </label> <%=r.srs_released%>
				</div>
				<div class="glf">
					<label>Received: </label> <%=r.received%>
				</div>
				<div class="glf">
					<label>Date Requested: </label> <%=r.date_requested%>
				</div>
				<div class="glf">
					<label>Date Required: </label> <%=r.date_required%>
				</div>
				<div class="glfm">
					Purpose: 
					<label><%=r.purpose%></label>
				</div>
				<div class="glfm">
					Stock Description: 
					<label><%=r.stock_description%></label>
				</div>
				<div class="glf glf-NBB">
					<label>Head Approval: </label> <%=r.head_appr%>
				</div>
				<div class="clr"></div>
			</div>
		</li>
	<% }); %>
</ul>
<% if(pagination !== "") { %>
	<div class="page-pagination hsrsl-pagination"><%=pagination%></div>
<% } %>