<div class="crs-container">
	<select class="css3-select" name="change_room_status" id="change_room_status">
		<option value="">Please select rooms status</option>
		<%_.each(result, function(result) {%>
			<% if(result.name !== "Occupied" && result.name !== "Occupied with vacant bed" && result.name !== "Reserved" && result.name !== "Corporate") { %>
				<option value="<%=result.id%>" <% if( result.name == currentStatus ) { %> selected="selected" <% } %> ><%=result.name%></option>
			<% } %>
		<% }); %>
		<!--<option value="">Vacant - Clean</option>
		<option value="">Vacant - Dirty</option>
		<option value="">Under Maintenance</option> -->
	</select>
	<input type="button" value="Change" id="<%=rn%>" class="edsv-css3-button changeRm-status">
	<div class="clr"></div>
</div>