<div class="content-header">Manage Hotel Rooms</div>
<div class="content">
	<div class="mhotel-RT">
		<a href="#/task/manage-hotel-rooms" id="msingle-rooms" class="css3-a hotel-roomtype-active">Single Rooms</a>
		<a href="#/task/manage-hotel-rooms" id="mdouble-rooms" class="css3-a">Double Rooms</a>
		<a href="#/task/manage-hotel-rooms" id="mquad-rooms" class="css3-a">Quad Rooms</a>
		<a href="#/task/manage-hotel-rooms" id="mcorporate-rooms" class="css3-a">Corporate Rooms</a>
		<div class="clr"></div>
	</div>
	<div class="hotel-RT-Misc">
		<div class="HRTM">
			<div class="HRTMH">
				<div class="HRTMS-RSH fL">Room Status</div>
				<div class="HRTMS-SH fL">Single</div>
				<div class="HRTMS-DH fL">Double</div>
				<div class="HRTMS-QH fL">Quad</div>
				<div class="HRTMS-CH fL">Corp</div>
				<div class="clr"></div>
			</div>
			<%_.each(result, function(result) {%>
				<% if( result.name !== 'Corporate' ) { %>
					<div class="HRTMC">
						<div class="HRTMS-RS fL">
							<span class="hr-vcl <%=result.css%>">&nbsp;</span> 
							<%=result.name%>
						</div>
						<div class="HRTMS-S fL"><%=result.single_rooms%></div>
						<div class="HRTMS-D fL"><%=result.double_rooms%></div>
						<div class="HRTMS-Q fL"><%=result.quad_rooms%></div>
						<div class="HRTMS-C fL"><%=result.corporate_rooms%></div>
						<div class="clr"></div>
					</div>
				<% } %>
			<% }); %>
			<div class="clr"></div>
		</div>
		<!--
		<div class="HRTM">
			<div class="HRTMS-RSH fL">Room Status</div>
			<div class="HRTMS-SH fL">Single</div>
			<div class="HRTMS-DH fL">Double</div>
			<div class="HRTMS-QH fL">Quad</div>
			<div class="clr"></div>
		</div>
		-->
		<div class="clr"></div>
	</div>
	<div class="hotel-RT-Rooms"></div>
</div>